Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

fix the notorious bug nobody has bothered to report
  modular_nova/modules/aesthetics/airlock/code/airlock.dm
Owners: @GoldenAlpharex

update a few slow overlays
  modular_nova/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
Owners: @GoldenAlpharex

Update changeling.dm
  modular_nova/modules/changeling_quirk/datums/antagonist/changeling.dm
Owners: @GoldenAlpharex

gps and hivemind ash age
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_nova/modules/ashwalkers/icons/actions.dmi
Owners: @Zergspower

Add chemical_flags = REAGENT_ORGANIC | REAGENT_SYNTHETIC to succubus_milk and incubus_draft
  modular_nova/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/incubus_draft.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/succubus_milk.dm
Owners: @GoldenAlpharex

Add neuroware chemical flag
  code/__DEFINES/~nova_defines/reagents.dm
Owners: none

Add global list name2reagent_normalized
  code/_globalvars/lists/reagents.dm
Owners: none

Fixes incorrect offset for airlock unrestricted-side floorlights (+ tiny timing fix on external airlock animation) (#5272)
  modular_nova/modules/aesthetics/airlock/code/airlock.dm
  modular_nova/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
Owners: @GoldenAlpharex

Update ballistic_master.dm
  modular_nova/modules/modular_weapons/code/overrides/ballistic_master.dm
Owners: @GoldenAlpharex

Added additional layers to hairstyles (#90275)
  code/__DEFINES/inventory.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/sprite_accessories.dm
  code/game/objects/items.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/fedora.dm
  code/modules/clothing/head/frenchberet.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/spacesuits/specialops.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  icons/mob/human/human_face.dmi
Owners: @GoldenAlpharex

Updated hairstyles to use additional layers (#90463)
  code/datums/sprite_accessories.dm
  icons/mob/human/human_face.dmi
Owners: @GoldenAlpharex

Part 2: Storage Improvements (#90390)
  code/datums/station_traits/neutral_traits.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/backpack.dm
  code/datums/storage/subtypes/duffel_bag.dm
  code/datums/storage/subtypes/pockets.dm
  code/datums/storage/subtypes/portable_chem_mixer.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/events/holiday/easter.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/mining/money_bag.dm
  code/modules/shuttle/mobile_port/variants/emergency/pods.dm
  modular_nova/modules/customization/game/objects/items/storage/belt.dm
  modular_nova/modules/customization/modules/clothing/storage/belts.dm
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_nova/modules/emergency_spacesuit/code/emergency_spacesuit.dm
  modular_nova/modules/inflatables/code/inflatable.dm
  modular_nova/modules/knives/knives.dm
  modular_nova/modules/medical/code/medkit.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/collars/_collars.dm
  modular_nova/modules/moretraitoritems/code/syndicate.dm
  modular_nova/modules/paycheck_rations/code/ticket_book.dm
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Owners: @GoldenAlpharex

Add Rain storms to Serenity
  _maps/serenitystation.json
Owners: @Jolly-66, @Zergspower, @sqnztb

Initial Commit
  modular_nova/modules/modular_weapons/code/melee.dm
Owners: @GoldenAlpharex

Remove thunder from rain storms
  code/datums/weather/weather_types/rain_storm.dm
Owners: none

Update modular_nova/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_armouries/shotgun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_armouries/shotgun.dm
Owners: @GoldenAlpharex

Initial Commit
  code/__DEFINES/~nova_defines/cargo_import_companies.dm
  modular_nova/modules/cargo/code/expressconsole.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_nova/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_nova/modules/company_imports/code/company_datums.dm
  tgstation.dme
Owners: @GoldenAlpharex

missed a spot
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Owners: @GoldenAlpharex

fix peacekeeper uniform suit sensors
  modular_nova/modules/goofsec/code/solfed_clothing.dm
Owners: @GoldenAlpharex

fix these other sensors
  modular_nova/modules/goofsec/code/solfed_clothing.dm
Owners: @GoldenAlpharex

hair color fix
  modular_nova/modules/customization/datums/dna.dm
Owners: @GoldenAlpharex

Somewhat major rework
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

extra job restrictions
  modular_nova/modules/customization/modules/jobs/_job.dm
Owners: @GoldenAlpharex

some dullahan cleanup
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/living_say.dm
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
  modular_nova/modules/echolocation_quirk/code/echolocation.dm
  modular_nova/modules/hydra/code/neutral.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_quirk.dm
Owners: @GoldenAlpharex

Company Name Change
  code/__DEFINES/~nova_defines/cargo_import_companies.dm
Owners: none

Fix odd hair gradient color behavior (#5292)
  modular_nova/modules/customization/datums/dna.dm
Owners: @GoldenAlpharex

Fix suit improperly configured suit sensors on two suits (#5290)
  modular_nova/modules/goofsec/code/solfed_clothing.dm
Owners: @GoldenAlpharex

[MIRROR] Added additional layers to hairstyles (#5279)
  code/__DEFINES/inventory.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/sprite_accessories.dm
  code/game/objects/items.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/fedora.dm
  code/modules/clothing/head/frenchberet.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/spacesuits/specialops.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  html/changelogs/AutoChangeLog-pr-90275.yml
  html/changelogs/AutoChangeLog-pr-90463.yml
  icons/mob/human/human_face.dmi
Owners: @GoldenAlpharex

Update code/datums/weather/weather_types/rain_storm.dm
  code/datums/weather/weather_types/rain_storm.dm
Owners: none

hack for dullahan revival
  code/modules/mob/living/carbon/carbon.dm
Owners: none

Add Rain Storms to Serenity Station (#5282)
  _maps/serenitystation.json
  code/datums/weather/weather_types/rain_storm.dm
Owners: @Jolly-66, @Zergspower, @sqnztb

fuck
  code/modules/mob/mob.dm
Owners: none

Makes blue security glasses a separate item, fixes glasses reskinning. (#5243)
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/customization/modules/clothing/glasses/hud.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/modular_items/code/tailoring.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
Owners: @GoldenAlpharex

Tones down the magfed shotguns (#5233)
  modular_nova/master_files/code/modules/projectiles/boxes_magazines/external/shotgun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_armouries/shotgun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/syndicate_armaments/shotgun.dm
Owners: @GoldenAlpharex

.
  code/game/atom/_atom.dm
  code/modules/mob/living/blood.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Update blood_steal.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

Practically ready
  modular_nova/master_files/code/modules/cargo/markets/market_items/weapons.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/cargo_items/import_holder.dm
  modular_nova/modules/cargo_items/import_holder.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
Owners: @Zergspower

Update modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
Owners: @Zergspower
