Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

Three New Skills (#5071)
  code/datums/components/crafting/crafting.dm
  code/datums/elements/loomable.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  modular_nova/modules/ashwalkers/code/buildings/antfarm.dm
  modular_nova/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_nova/modules/ashwalkers/code/buildings/planttank.dm
  modular_nova/modules/ashwalkers/code/buildings/railroad.dm
  modular_nova/modules/ashwalkers/code/buildings/tendril_cursing.dm
  modular_nova/modules/ashwalkers/code/buildings/wormfarm.dm
  modular_nova/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_nova/modules/ashwalkers/code/items/ash_seedmesh.dm
  modular_nova/modules/ashwalkers/code/items/ashwalker_shaman.dm
  modular_nova/modules/extra_skills/cloaks.dmi
  modular_nova/modules/extra_skills/neck.dmi
  modular_nova/modules/extra_skills/rewards.dm
  modular_nova/modules/extra_skills/skills.dm
  modular_nova/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_nova/modules/primitive_cooking_additions/code/cauldron.dm
  modular_nova/modules/primitive_cooking_additions/code/millstone.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_nova/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
  modular_nova/modules/xenoarchartifacts/obj/artifact_stabilizer.dm
  tgstation.dme
Owners: @Zergspower, @GoldenAlpharex

tweaks cutely
  modular_nova/modules/space_ruin_specifics/code/_fleshmind_defines.dm
  modular_nova/modules/space_ruin_specifics/code/fleshmind_mobs.dm
Owners: @GoldenAlpharex

Adds a direct-to-ghostcafe cryopod
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/cryosleep/icons/cryogenics.dmi
Owners: @GoldenAlpharex

Fix
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/cryosleep/icons/cryogenics.dmi
Owners: @GoldenAlpharex

Tweaks
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

please work
  modular_nova/modules/mentoring/language_skill.dm
  tgstation.dme
Owners: @GoldenAlpharex

I hate gitbash sometimes
  tgstation.dme
Owners: none

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

one line change
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

No.
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Fixes ghost mob nonsense
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Updates the message
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

this thing is on TG now (also gives it our own sprite) (and doesnt remove the crafting recipe so you're welcome)
  modular_nova/modules/aesthetics/storage/storage.dmi
  modular_nova/modules/box_extra/_icon/box.dmi
  modular_nova/modules/box_extra/code/boxes.dm
  tgstation.dme
Owners: @GoldenAlpharex

xeno blood
  code/__DEFINES/colors.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  icons/effects/blood.dmi
  modular_nova/master_files/icons/effects/x_bleed_overlays.dmi
  modular_nova/master_files/icons/effects/x_blood.dmi
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Owners: @GoldenAlpharex

Update humans.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Owners: none

Update code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/ticker.dm
Owners: none

Update carbon_update_icons.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Owners: none

obj too
  modular_nova/master_files/icons/obj/clothing/under/security.dmi
Owners: @GoldenAlpharex

Update code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/new_player/new_player.dm
Owners: none

Add neuroware disk basetype
  modular_nova/modules/synths/code/reagents/items/neuroware.dm
  tgstation.dme
Owners: @GoldenAlpharex

Fixes not being able to set loadout descs
  code/modules/loadout/categories/pocket.dm
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
Owners: @GoldenAlpharex

blue
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
Owners: @GoldenAlpharex

yeah
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
Owners: @GoldenAlpharex

maybe this for consistency
  modular_nova/modules/sec_haul/code/misc/vending.dm
Owners: @GoldenAlpharex

Heavy breathing. Fixes the descriptions being unsavable and more
  code/modules/loadout/categories/accessories.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/loadout/loadout_helpers.dm
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  modular_nova/modules/deathmatch/deathmatch_modifier.dm
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_nova/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ModifyPanel.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Owners: @GoldenAlpharex

Fixes proto kinetic crushers having the wrong inhand icons when a retool kit is applied (#5235)
  modular_nova/modules/mining_crushers/code/miningweapons.dm
Owners: @GoldenAlpharex

Adds a direct-to-ghostcafe cryopod (#5240)
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/cryosleep/icons/cryogenics.dmi
Owners: @GoldenAlpharex

Updates it
  modular_nova/modules/mold/code/mold_structures.dm
Owners: @GoldenAlpharex

missing brackets
  modular_nova/modules/mold/code/mold_structures.dm
Owners: @GoldenAlpharex

update u
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Revert "update u"
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update file updating it :3
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

insectguts
  code/game/objects/effects/decals/cleanable/misc.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
