Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

Halves Settler quirk nutrition retention bonus (#90596)
  code/datums/quirks/positive_quirks/settler.dm
Owners: none

holograms now momentarily glitch out when u interact with them (#89689)
  code/datums/components/holographic_nature.dm
  code/game/machinery/hologram.dm
  code/game/objects/structures/holosign.dm
  code/modules/economy/holopay.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/pai/pai.dm
  tgstation.dme
Owners: none

Combat shotgun changes (#90475)
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Owners: none

Fix water reagent making certain turfs slippery (#90590)
  code/__DEFINES/is_helpers.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Add wizard event - Magical Rain (#90495)
  code/__DEFINES/weather.dm
  code/datums/weather/weather_types/rain_storm.dm
  code/modules/events/wizard/magical_rain.dm
  tgstation.dme
Owners: none

Cult armor slowly kills non-cultists & can be exorcised. (#90557)
  code/game/objects/items/wizard_clothes.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/antagonists/cult/cult_armor.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/spells/spell_types/shapeshift/wolf.dm
  icons/mob/clothing/head/winterhood.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/clothing/neck_lefthand.dmi
  icons/mob/inhands/clothing/neck_righthand.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/head/winterhood.dmi
  modular_nova/master_files/code/modules/antagonists/cult/cult_armor.dm
  tgstation.dme
Owners: @GoldenAlpharex

Fix prettier
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Owners: none

Repath jacket to nova, suit icon cleanup
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/master_files/icons/obj/clothing/suits.dmi
  modular_nova/modules/command_vendor/code/vending.dm
  modular_nova/modules/customization/modules/clothing/suits/hoodies.dm
  modular_nova/modules/customization/modules/clothing/suits/misc.dm
  modular_nova/modules/customization/modules/clothing/under/security.dm
  modular_nova/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/mapping/code/lockers/des_two/security.dm
  modular_nova/modules/modular_ert/code/pizza/misc_clothing.dm
  modular_nova/modules/modular_ert/code/pizza/pizza_outfit.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
  modular_nova/modules/opposing_force/code/equipment/clothing.dm
  modular_nova/modules/sec_haul/code/corrections_officer/corrections_officer.dm
  modular_nova/modules/sec_haul/code/corrections_officer/corrections_officer_equipment.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
  modular_nova/modules/telecomms_specialist/telecomms_specialist.dm
  tgui/packages/tgui-say/styles/colors.scss
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

makes the actual pellets and not the casings weak to armor
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Apply suggestions from code review
  modular_nova/modules/mold/code/mold_structures.dm
Owners: @GoldenAlpharex

Update mold_structures.dm
  modular_nova/modules/mold/code/mold_structures.dm
Owners: @GoldenAlpharex

Update changeling.dm
  modular_nova/modules/changeling_quirk/datums/antagonist/changeling.dm
Owners: @GoldenAlpharex

remove the gps
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
Owners: @Zergspower

Update yarn.lock
  tgui/yarn.lock
Owners: none

Update kobold.dm
  modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
Owners: @GoldenAlpharex

Update modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
  modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
Owners: @GoldenAlpharex

Adds Kobolds! Tiny Gremlins to terrorize your ankles (#5167)
  code/__DEFINES/~nova_defines/DNA.dm
  code/__HELPERS/~nova_helpers/is_helpers.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/client/preferences/species.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/transform_procs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_kobold.png
  config/game_options.txt
  modular_nova/master_files/code/game/objects/items/monkeycube.dm
  modular_nova/master_files/code/modules/language/_language_holder.dm
  modular_nova/master_files/code/modules/language/kobold.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
  modular_nova/master_files/code/modules/research/designs/biogenerator_designs.dm
  modular_nova/master_files/code/modules/surgery/bodyparts/kobold_bodyparts.dm
  modular_nova/master_files/icons/mob/species/kobold_bodyparts.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
  modular_nova/modules/events/code/event_spawner.dm
  tgstation.dme
Owners: @GoldenAlpharex

hivemind ash age (#5273)
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_nova/modules/ashwalkers/icons/actions.dmi
Owners: @Zergspower

Update mold_structures.dm
  modular_nova/modules/mold/code/mold_structures.dm
Owners: @GoldenAlpharex

Worm tunnel (#5249)
  modular_nova/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/icons/ashwalker_tools.dmi
  tgstation.dme
Owners: @Zergspower

goody case holder (and some file movements) (#5208)
  code/__DEFINES/~nova_defines/techweb_nodes.dm
  modular_nova/modules/cargo_items/cargo.dm
  modular_nova/modules/cargo_items/cargo_teleporter.dm
  modular_nova/modules/cargo_items/cargo_teleporter.dmi
  modular_nova/modules/cargo_items/conveyor_sorter.dm
  modular_nova/modules/cargo_items/conveyor_sorter.dmi
  modular_nova/modules/cargo_items/import_holder.dm
  modular_nova/modules/cargo_items/import_holder.dmi
  modular_nova/modules/cargo_items/readme.md
  modular_nova/modules/cargo_teleporter/readme.md
  modular_nova/modules/conveyor_sorter/readme.md
  tgstation.dme
Owners: @GoldenAlpharex

fixes some stuff, and ya know what- the mold isnt wort the trouble
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Replaces the mold with some blob
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Deadmon Requests!
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
Owners: @GoldenAlpharex

YOU LITTLE TWO AIRLESS SHITS
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

fix digi error + trenchcoat in loadout
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Owners: @GoldenAlpharex

TG has this
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
Owners: @GoldenAlpharex

TO-DO: Move these overrides out of a syndicate file! --- OKAY! Off to the actual module for icon overrides (Aesthetics)
  modular_nova/modules/aesthetics/clothing/clothing.dm
  modular_nova/modules/syndie_edits/code/syndie_edits.dm
Owners: @GoldenAlpharex

move this lone item to our customization file
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
  modular_nova/modules/mapping/code/color.dm
Owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

clean the .dmis
  modular_nova/master_files/icons/mob/clothing/hands.dmi
  modular_nova/master_files/icons/obj/clothing/gloves.dmi
Owners: @GoldenAlpharex

moves this useless .dm to just be on our item in the first place
  modular_nova/modules/customization/modules/clothing/hands/rings.dm
  modular_nova/modules/modular_items/code/ring.dm
Owners: @GoldenAlpharex

Update hands.dm
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
Owners: @GoldenAlpharex

lets not just have flat brand names guys
  modular_nova/master_files/icons/mob/clothing/hands.dmi
  modular_nova/master_files/icons/obj/clothing/gloves.dmi
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Owners: @GoldenAlpharex

i love defines!! rahhh!!
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
Owners: @GoldenAlpharex

I thought I killed you.
  tgstation.dme
Owners: none

GAGS Evening/Designer gloves (+NTTrauma resprite because theyre the same base. Could just reuse the greyscale but eh.)
  modular_nova/master_files/icons/mob/clothing/hands.dmi
  modular_nova/master_files/icons/obj/clothing/gloves.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/hands/designer_gloves.json
  modular_nova/modules/GAGS/json_configs/hands/evening_gloves.json
  modular_nova/modules/customization/modules/clothing/hands/hands.dm
Owners: @GoldenAlpharex

Update blood_steal.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

parry refresh notifier
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

ADHD moment
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_nova/modules/organs/code/tongue.dm
  modular_nova/modules/synths/code/bodyparts/tongue.dm
Owners: @GoldenAlpharex

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
