Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

Makes stuff consistent
  code/game/machinery/cell_charger.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/kirby_plants/kirbyplants.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/modules/power/lighting/light.dm
Owners: none

Kills the ugly Monkey plant (reverts kirbyplants.dm to TG)
  code/game/objects/items/kirby_plants/kirbyplants.dm
  modular_nova/modules/aesthetics/plants/plants.dmi
Owners: @GoldenAlpharex

Revert "Kills the ugly Monkey plant (reverts kirbyplants.dm to TG)"
  code/game/objects/items/kirby_plants/kirbyplants.dm
  modular_nova/modules/aesthetics/plants/plants.dmi
Owners: @GoldenAlpharex

but what if it was even more modular
  code/game/objects/items/kirby_plants/kirbyplants.dm
  modular_nova/master_files/code/game/objects/items/kirby_plants.dm
  modular_nova/modules/aesthetics/plants/plants.dm
  modular_nova/modules/aesthetics/plants/plants.dmi
  tgstation.dme
Owners: @GoldenAlpharex

cant forget the error icon
  modular_nova/modules/aesthetics/plants/plants.dmi
Owners: @GoldenAlpharex

I SAID I was making it consistent. Then I missed something. RAHHH.
  code/game/machinery/doors/airlock.dm
Owners: none

i should put this here just in case
  modular_nova/modules/aesthetics/plants/plants.dm
Owners: @GoldenAlpharex

Update awaymissionconfig.txt
  config/awaymissionconfig.txt
Owners: none

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Fixes Deluxe Internals breaking every single internals box icon (+ flatbox updated to use TG) (#5307)
  modular_nova/modules/aesthetics/storage/storage.dmi
  modular_nova/modules/box_extra/_icon/box.dmi
  modular_nova/modules/box_extra/code/boxes.dm
  tgstation.dme
Owners: @GoldenAlpharex

Action slots update for erp items (#5306)
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/dorms_headphones.dm
Owners: @GoldenAlpharex

actually makes buckshot/rubbershot weak against armor for real this time (#5301)
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update shotgun.dm
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Make Chaps ""toggleable"" between Uniform/Accessory
  modular_nova/master_files/code/modules/clothing/under/accessories.dm
  modular_nova/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Owners: @GoldenAlpharex

Apply suggestions from code review
  code/game/objects/items/kirby_plants/kirbyplants.dm
  code/modules/power/lighting/light.dm
  modular_nova/modules/aesthetics/plants/plants.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/deforest_medical_items/code/medstation_designs/blood.dm
  modular_nova/modules/deforest_medical_items/code/medstation_designs/blood.dm
Owners: @GoldenAlpharex

Updates AESTHETICS Module .readme + makes the potted plants a hell of a lot more modular (#5315)
  code/game/machinery/cell_charger.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/kirby_plants/kirbyplants.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  modular_nova/master_files/code/game/objects/items/kirby_plants.dm
  modular_nova/modules/aesthetics/plants/plants.dm
  modular_nova/modules/aesthetics/plants/plants.dmi
  modular_nova/modules/aesthetics/readme.md
  modular_nova/modules/mapping/readme.md
  tgstation.dme
Owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

Initial Commit
  code/game/machinery/iv_drip.dm
Owners: none

lowers burn modifier from 0.5 (it's on the parent type, limb/side/jelly
  modular_nova/modules/bodyparts/code/roundstartslime_bodyparts.dm
Owners: @GoldenAlpharex

maybe this fixes it?
  modular_nova/master_files/code/modules/awaymissions/zlevel.dm
Owners: @GoldenAlpharex

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

weh
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
  modular_nova/modules/research/techweb/nodes/disabled-experiments.dm
Owners: @GoldenAlpharex

fix dullahan revival for real
  code/modules/mob/living/carbon/carbon.dm
Owners: none

fix it
  modular_nova/master_files/code/modules/mob/dead/dead.dm
  tgstation.dme
Owners: @GoldenAlpharex

ya kno waht, fuck da exit.
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Owners: none

lets have the conveyers be moving atuomatically as intended
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Add neuroware chips, neuroware reagents, add global name2neuroware, add neuroware to chemscan(), hide neuroware from blood filter
  code/__DEFINES/~nova_defines/neuroware_defines.dm
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/tools.dm
  modular_nova/modules/GAGS/json_configs/items/neuroware.json
  modular_nova/modules/neuroware/README.md
  modular_nova/modules/neuroware/code/datums/greyscale/config_types/greyscale_configs/greyscale_items.dm
  modular_nova/modules/neuroware/code/datums/reagents/drink_reagents.dm
  modular_nova/modules/neuroware/code/datums/reagents/drug_reagents.dm
  modular_nova/modules/neuroware/code/datums/reagents/lewd_reagents.dm
  modular_nova/modules/neuroware/code/datums/reagents/medicine_reagents.dm
  modular_nova/modules/neuroware/code/datums/reagents/other_reagents.dm
  modular_nova/modules/neuroware/code/datums/reagents/toxin_reagents.dm
  modular_nova/modules/neuroware/code/datums/status_effects/status_effects.dm
  modular_nova/modules/neuroware/code/objects/items/_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/boxes.dm
  modular_nova/modules/neuroware/code/objects/items/drug_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/lewd_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/medicine_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/other_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/syndie_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/toxin_neuroware.dm
  modular_nova/modules/neuroware/icons/box.dmi
  modular_nova/modules/neuroware/icons/neuroware.dmi
  modular_nova/modules/synths/code/bodyparts/brain.dm
  modular_nova/modules/synths/code/reagents/items/neuroware.dm
  modular_nova/modules/synths/code/reagents/reagents.dm
  modular_nova/modules/synths/code/surgery/robot_brain_surgery.dm
  tgstation.dme
Owners: @GoldenAlpharex

Add neurowares to loadout, lustwish, maint loot and random spawners, donk imports, cargo imports, traitor uplink, opfor kits
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/storage/wallets.dm
  modular_nova/master_files/code/modules/cargo/markets/market_items/consumable.dm
  modular_nova/modules/cargo/code/goodies.dm
  modular_nova/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_nova/modules/modular_vending/code/modularpc.dm
  modular_nova/modules/traitor-uplinks/code/categories/stealthy_weapons.dm
  tgstation.dme
Owners: @GoldenAlpharex

Add neuroware to deforest imports, add Cybernetic Repair Paste to deforest imports and robotics wardrobe vendor
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/deforest_medical_items/code/synth_healing.dm
  modular_nova/modules/deforest_medical_items/icons/stack_items.dmi
  modular_nova/modules/modular_vending/code/wardrobes.dm
Owners: @GoldenAlpharex

Disable twitch for synthetic humanoids
  modular_nova/modules/deforest_medical_items/code/chemicals/twitch.dm
Owners: @GoldenAlpharex

Add bikehorn to synthetic humanoid emag instruments
  modular_nova/modules/species_synthesizer/sing_tones.dm
Owners: @GoldenAlpharex

Add neurowares to loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Owners: @GoldenAlpharex

Fix newline
  modular_nova/modules/neuroware/code/datums/reagents/drink_reagents.dm
Owners: @GoldenAlpharex

Add sleepy neuroware to opfor gadgets
  modular_nova/modules/opposing_force/code/equipment/gadgets.dm
Owners: @GoldenAlpharex

Disable ORGANIC-oriented /datum/reagent/drug effects on synthetic humanoids, and disable SYNTHETIC-oriented drug effects non-synthetic humanoids.
  modular_nova/modules/liquids/code/reagents/chemistry/holder.dm
Owners: @GoldenAlpharex

Fix neuroware loadout datum typepaths
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Owners: @GoldenAlpharex

Rename nobido to Novbido X-Treme
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/neuroware/code/datums/reagents/lewd_reagents.dm
  modular_nova/modules/neuroware/code/objects/items/lewd_neuroware.dm
Owners: @GoldenAlpharex

Fully rename nobido
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/neuroware/code/objects/items/lewd_neuroware.dm
Owners: @GoldenAlpharex
