Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

Add more neurowares to robotics wardrobe vendor
  modular_nova/modules/modular_vending/code/wardrobes.dm
Owners: @GoldenAlpharex

Fix deforest neuroware category
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
Owners: @GoldenAlpharex

Fix get_random_neuroware() returning reagent names instead of typepaths
  code/__DEFINES/~nova_defines/neuroware_defines.dm
Owners: none

Relocate maintenance neuroware to other_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/_neuroware.dm
  modular_nova/modules/neuroware/code/objects/items/other_neuroware.dm
Owners: @GoldenAlpharex

Adjust uses and mention multiple uses in some neuroware
  modular_nova/modules/neuroware/code/objects/items/medicine_neuroware.dm
Owners: @GoldenAlpharex

Double effects of mindbreaker neuroware
  modular_nova/modules/neuroware/code/objects/items/toxin_neuroware.dm
Owners: @GoldenAlpharex

Fix name2neuroware list
  code/_globalvars/lists/reagents.dm
Owners: none

Fix name2reagentlist_normalized list
  code/_globalvars/lists/reagents.dm
Owners: none

Move smileml neuroware to deforest imports, fix bugged deforest category fully
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
Owners: @GoldenAlpharex

Change mindbreaker neuroware board color to blue
  modular_nova/modules/neuroware/code/objects/items/toxin_neuroware.dm
Owners: @GoldenAlpharex

Fix missing "Time to start" on lobby (#5322)
  modular_nova/master_files/code/modules/mob/dead/dead.dm
  tgstation.dme
Owners: @GoldenAlpharex

Returns the scroll(bar) (in preferences window) (#5323)
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Owners: none

Fixes technology discounts not revealing and not actually discounting anything (#5321)
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
  modular_nova/modules/research/techweb/nodes/disabled-experiments.dm
Owners: @GoldenAlpharex

Add 2 uses to /obj/item/disk/neuroware/happiness
  modular_nova/modules/neuroware/code/objects/items/drug_neuroware.dm
Owners: @GoldenAlpharex

Borg blooper pref application change
  modular_nova/modules/blooper/bark.dm
  modular_nova/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_nova/modules/synths/code/bodyparts/silicon_alt_brains.dm
Owners: @GoldenAlpharex, @Zergspower

Fix nonstandard gap size
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/character_voice.tsx
Owners: none

Optimize conditionals in /proc/reagent_process_flags_valid()
  modular_nova/modules/liquids/code/reagents/chemistry/holder.dm
Owners: @GoldenAlpharex

Apply suggestions from code review
  code/_globalvars/lists/maintenance_loot.dm
Owners: none

Fix wallet indentation
  code/game/objects/items/storage/wallets.dm
Owners: none

Fix uses in examine, fix overdose code
  modular_nova/modules/neuroware/code/objects/items/_neuroware.dm
Owners: @GoldenAlpharex

Create modular_nova/master_files/code/_globalvars/lists/reagents.dm, fix maintenance neuroware and get_random_neuroware()
  code/__DEFINES/~nova_defines/neuroware_defines.dm
  code/_globalvars/lists/reagents.dm
  modular_nova/master_files/code/_globalvars/lists/reagents.dm
  tgstation.dme
Owners: @GoldenAlpharex

Fix usage of REAGENT_NEUROWARE flag
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/surgery/blood_filter.dm
  modular_nova/modules/synths/code/bodyparts/brain.dm
  modular_nova/modules/synths/code/reagents/reagents.dm
  modular_nova/modules/synths/code/surgery/robot_brain_surgery.dm
Owners: @GoldenAlpharex

Relocate metabolize helper line
  modular_nova/modules/neuroware/code/datums/reagents/medicine_reagents.dm
Owners: @GoldenAlpharex

Fix bugs in maintenance neuroware
  modular_nova/modules/neuroware/code/objects/items/other_neuroware.dm
Owners: @GoldenAlpharex

Update code/modules/surgery/blood_filter.dm
  code/modules/surgery/blood_filter.dm
Owners: none

Update code/__DEFINES/~nova_defines/neuroware_defines.dm
  code/__DEFINES/~nova_defines/neuroware_defines.dm
Owners: none

Document /datum/status_effect/neuroware
  modular_nova/modules/neuroware/code/datums/status_effects/status_effects.dm
Owners: @GoldenAlpharex

Swap dot assignment for return
  modular_nova/modules/neuroware/code/objects/items/other_neuroware.dm
Owners: @GoldenAlpharex

Add ending comma
  modular_nova/modules/neuroware/code/objects/items/syndie_neuroware.dm
Owners: @GoldenAlpharex

Functional UI -- Needs to be moved out of Features though honestly
  code/__DEFINES/~nova_defines/preferences.dm
  modular_nova/master_files/code/modules/client/preferences_savefile.dm
  modular_nova/modules/blooper/atoms_movable.dm
  modular_nova/modules/blooper/bark.dm
  modular_nova/modules/blooper/bark_list.dm
  modular_nova/modules/blooper/preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/character_voice.tsx
Owners: @GoldenAlpharex

Mice can play synthesisers (#90610)
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/song.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/travel_towards.dm
  code/datums/ai/generic/generic_subtrees.dm
  code/datums/ai/hunting_behavior/hunting_mouse.dm
  code/modules/instruments/piano_synth.dm
  code/modules/mob/living/basic/vermin/mouse.dm
Owners: none

Deshittifies looking up/down (#90479)
  code/datums/keybinding/living.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Owners: none

Bitrunner Glitch antagonists will not spawn on peaceful domains (#90611)
  code/modules/bitrunning/event.dm
Owners: none

You can rotate scanner gates (#90597)
  code/__DEFINES/rotation.dm
  code/datums/components/rotation.dm
  code/game/machinery/scanner_gate.dm
Owners: none

Fixes Russian Roulette by refactoring the gun to not be an affront to god (#90426)
  code/datums/mood_events/generic_negative_events.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/special/grenade_launcher.dm
  code/modules/projectiles/guns/special/medbeam.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  modular_nova/master_files/code/modules/projectiles/gun.dm
Owners: @GoldenAlpharex

Mecha cargo holds no longer shove themselves inside themselves when being deleted (#90626)
  code/modules/antagonists/heretic/influences.dm
  code/modules/vehicles/mecha/working/ripley.dm
  tools/ci/check_grep.sh
Owners: @GoldenAlpharex

[NO GBP] Fixes camera consoles crashing clients (#90523)
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Owners: none

Fax checks contents for blacklists (#90649)
  code/modules/paperwork/fax.dm
Owners: none

Refactor a chunk of polaroid camera code (#90482)
  code/modules/photography/camera/camera.dm
Owners: none

Clean up mob holder code (#90619)
  code/modules/mob/living/inhand_holder.dm
Owners: none
