Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

Fluffy review
  modular_nova/modules/alerts/code/security_level_datums.dm
Owners: @GoldenAlpharex

Objects crafted from lavaland fauna materials (bone, sinew, hide) are now fireproof and lavaproof. And also reinforced fishing lines. (#90627)
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/clothing/gloves/bone.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/accessories/tribal.dm
  code/modules/fishing/fishing_equipment.dm
Owners: none

[FIX]: Allows surgery initiator items to be used while laying down, not just surgery drapes (#90622)
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/tools.dm
Owners: none

Supply pod launcher fix (#90583)
  code/modules/cargo/centcom_podlauncher.dm
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ViewTabHolder.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Owners: none

Fixes toolbox bounty typecheck logic (#90687)
  code/modules/cargo/bounties/assistant.dm
Owners: none

Constructs now have their respective factions (#90690)
  code/__DEFINES/mobfactions.dm
  code/modules/mob/living/basic/cult/constructs/artificer.dm
  code/modules/mob/living/basic/cult/constructs/juggernaut.dm
  code/modules/mob/living/basic/cult/constructs/wraith.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/religion/religion_sects.dm
  code/modules/spells/spell_types/projectile/_basic_projectile.dm
  code/modules/spells/spell_types/projectile/juggernaut.dm
Owners: none

Tourist bots track in dirt occasionally (#90701)
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
Owners: none

Fix DMAPI version shown in show server revision (#90714)
  code/datums/helper_datums/getrev.dm
Owners: none

Adds scrollbars to windows that missed them (yet again, the fight never ends) + some tiny little adjustment(s) (#90720)
  tgui/packages/tgui/interfaces/DnaConsole/index.jsx
  tgui/packages/tgui/interfaces/ExperimentConfigure.tsx
  tgui/packages/tgui/interfaces/Mule.tsx
  tgui/packages/tgui/interfaces/Radio.tsx
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
  tgui/packages/tgui/interfaces/Techweb/disks/disks.tsx
  tgui/packages/tgui/interfaces/Techweb/nodes/detail.tsx
Owners: none

Fix: EMERGENCY_SHUTTLE_AUTOCALL_THRESHOLD now actually calls the shuttle (#90647)
  code/controllers/subsystem/shuttle.dm
Owners: none

Fix passive modsuit modules (#90719)
  code/modules/mod/mod_activation.dm
Owners: none

Drawing narsie updates your loc (#90727)
  code/datums/components/cult_ritual_item.dm
Owners: none

Drinking alcohol cures severe anxiety (#90599)
  code/datums/diseases/_disease.dm
  code/datums/diseases/anxiety.dm
Owners: none

[no gbp] Fixes tgui say input focus, again (#90608)
  code/datums/keybinding/communication.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/styles.scss
Owners: none

Updates our bone/sinew/goliath-crafted items to be lavaproof and fireproof
  modular_nova/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_nova/modules/ashwalkers/code/items/ash_surgery.dm
  modular_nova/modules/ashwalkers/code/items/ash_weapon.dm
  modular_nova/modules/tribal_extended/code/ammo/caseless/arrow.dm
  modular_nova/modules/tribal_extended/code/crafting.dm
  modular_nova/modules/tribal_extended/code/weapons/bow.dm
  modular_nova/modules/tribal_extended/code/weapons/shield.dm
  modular_nova/modules/tribal_extended/code/weapons/sword.dm
Owners: @Zergspower, @GoldenAlpharex

Remove neuroware from contraband loot spawner
  code/game/objects/effects/spawners/random/contraband.dm
Owners: none

Adds PDA's
  modular_nova/modules/company_imports/code/armament_datums/kahraman_industries.dm
Owners: @GoldenAlpharex

nvm
  modular_nova/modules/modular_implants/code/nifsofts/infiltrator_summoner.dm
Owners: @GoldenAlpharex

Add overclock and maintenance neurowares to modularpc vendor
  modular_nova/modules/modular_vending/code/modularpc.dm
Owners: @GoldenAlpharex

Reduce pumpup neuroware spawn chance by half in common loot, remove maint neuroware from trash loot for now
  code/_globalvars/lists/maintenance_loot.dm
Owners: none

Add overclock and maint neurowares to robotics wardrobe contraband list
  modular_nova/modules/modular_vending/code/wardrobes.dm
Owners: @GoldenAlpharex

Create outfit.dm
  modular_nova/master_files/code/modules/antagonists/ninja/outfit.dm
Owners: @GoldenAlpharex

Update outfit.dm
  modular_nova/master_files/code/modules/antagonists/ninja/outfit.dm
Owners: @GoldenAlpharex

Revert "Update outfit.dm"
  code/modules/antagonists/ninja/outfit.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Fix typo
  modular_nova/modules/modular_vending/code/wardrobes.dm
Owners: @GoldenAlpharex

Fix crocin allowing lewd auto emotes regardless of pref
  modular_nova/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/crocin.dm
Owners: @GoldenAlpharex

Skip neuroware overdose check if threshold is 0
  modular_nova/modules/neuroware/code/objects/items/_neuroware.dm
Owners: @GoldenAlpharex

Add 2 uses to lewd neurowares
  modular_nova/modules/neuroware/code/objects/items/lewd_neuroware.dm
Owners: @GoldenAlpharex

Add neuroware cases to lustwish
  modular_nova/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Owners: @GoldenAlpharex

tm this
  code/datums/quirks/neutral_quirks/photographer.dm
Owners: none

ci.
  code/datums/quirks/neutral_quirks/photographer.dm
Owners: none

LUNA Rework - Jungleruin Edition
  _maps/RandomRuins/JungleRuins/caves_trilogy_research.dmm
  _maps/RandomRuins/JungleRuins/surface_blooddraw.dmm
  _maps/RandomRuins/JungleRuins/surface_luna.dmm
  _maps/serenitystation.json
  code/__DEFINES/~nova_defines/maps.dm
  config/nova/config_nova.txt
  modular_nova/master_files/code/controllers/configuration/entries/config_entries.dm
  modular_nova/master_files/code/controllers/subsystem/mapping.dm
  modular_nova/modules/mapping/code/abandoned_crates.dm
  modular_nova/modules/mapping/code/areas/ruins.dm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/mapping/code/jungle.dm
  modular_nova/modules/mapping/code/misc.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/mob/inhands/weapons/swords_lefthand.dmi
  modular_nova/modules/mapping/icons/mob/inhands/weapons/swords_righthand.dmi
  modular_nova/modules/mapping/icons/obj/items/items_and_weapons.dmi
  modular_nova/modules/mapping/icons/obj/items/jungle_items.dmi
  modular_nova/modules/mapping/icons/obj/weapons/sword.dmi
  modular_nova/modules/mapping/sounds/ambience/luna.ogg
  modular_nova/modules/serenitystation/code/areas.dm
  tgstation.dme
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

blacklist file
  _maps/serenitystation.json
  config/jungleruinblacklist.txt
Owners: @Jolly-66, @Zergspower, @sqnztb

oop
  _maps/RandomRuins/SpaceRuins/nova/luna.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

THAT WASN'T FORMATTED AS I EXPECTED.
  _maps/serenitystation.json
Owners: @Jolly-66, @Zergspower, @sqnztb

goddammit
  modular_nova/modules/condos/condo_teleporter.dm
Owners: @GoldenAlpharex

oops
  modular_nova/modules/condos/condo_teleporter.dm
Owners: @GoldenAlpharex

Fixes atmosdiffs
  _maps/RandomRuins/JungleRuins/surface_luna.dmm
  modular_nova/modules/serenitystation/code/turfs.dm
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Add var/list/species_quirks to /datum/quirk, add /datum/quirk/proc/give_item_to_holder_nova()
  modular_nova/master_files/code/datums/quirks/_quirk.dm
Owners: @GoldenAlpharex
