Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

Fix conflicts
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Owners: none

Some updates
  code/modules/hallucination/blood_flow.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Owners: none

Makes tiny blood puddles not dry immediately
  code/game/objects/effects/decals/cleanable/humans.dm
Owners: none

Cache the lists
  modular_nova/modules/unusual_biochemistry/reagents.dm
Owners: @GoldenAlpharex

Update QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Owners: none

Update reagents.dm
  modular_nova/modules/unusual_biochemistry/reagents.dm
Owners: @GoldenAlpharex

return of the antennas
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

return of the antennas
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

Return link underlines (#90539)
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/styles/atomic/links.scss
Owners: none

[NO GBP] Remove chat fieldset crutch (#90541)
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Owners: none

Fixes this for ya
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

Removes the discord copy pasted spaces
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

sigh
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

Allows synth antennas to be used as mismatched parts (#5256)
  modular_nova/master_files/code/modules/client/preferences/mutant_parts.dm
Owners: @GoldenAlpharex

goodbye
  code/modules/art/paintings.dm
Owners: none

removes hello (#5258)
  code/modules/art/paintings.dm
Owners: none

Update code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/cellular_emporium.dm
Owners: none

Update modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
  modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
  modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
Owners: @GoldenAlpharex

Apply suggestions from code review
  code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/changeling.dm
  modular_nova/modules/changeling_quirk/abilities/claws.dm
  modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
Owners: @GoldenAlpharex

the disaster that is dullahans
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/mob.dm
  config/game_options.txt
Owners: none

just golem things
  code/__DEFINES/~nova_defines/DNA.dm
  code/__DEFINES/~nova_defines/jobs.dm
  config/game_options.txt
  modular_nova/modules/customization/modules/jobs/_job.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/golemweak.dm
  tgstation.dme
Owners: @GoldenAlpharex

[NO GBP] Fixes camera consoles crashing clients #90523
  code/_onclick/hud/rendering/plane_master_group.dm
Owners: none

dull pensive
  code/modules/client/preferences/species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/mob.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Owners: none

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

RADIO HEAD
  code/game/objects/items/implants/implant_misc.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/living_say.dm
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  tgstation.dme
Owners: @GoldenAlpharex

works
  modular_nova/modules/customization/modules/clothing/glasses/hud.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/modular_items/code/tailoring.dm
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
Owners: @GoldenAlpharex

Headset fixes
  code/game/objects/items/implants/implant_misc.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
Owners: @GoldenAlpharex

Cleans out the Shoes/Feet .dmis (#5212)
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  modular_nova/master_files/code/modules/clothing/shoes/boots.dm
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
  modular_nova/master_files/icons/obj/clothing/shoes.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/shoes/boots/cowboy_boots.json
  modular_nova/modules/aesthetics/clothing/clothing.dm
  modular_nova/modules/customization/modules/clothing/shoes/shoes.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Makes 'pellet' shells for shotguns weak against armor again. (#5241)
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

Update code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/_common/antag_spawner.dm
Owners: none

Apply suggestions from code review
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Owners: none

Create screenshot_humanoids__datum_species_monkey_kobold.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_kobold.png
Owners: none

Update monkeys.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Owners: none

categorical compression
  modular_nova/modules/ammo_workbench/code/ammo_bench_defines.dm
  modular_nova/modules/ammo_workbench/code/ammo_workbench.dm
  modular_nova/modules/ammo_workbench/code/design_disks.dm
  modular_nova/modules/ammo_workbench/icons/ammo_workbench.dmi
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_nova/modules/marines/code/gear.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/grenade.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
  modular_nova/modules/modular_weapons/code/modular_projectiles/pistol_calibers.dm
  modular_nova/modules/modular_weapons/code/modular_projectiles/rifle_calibers.dm
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
  modular_nova/modules/traitor-uplinks/code/categories/device_tools.dm
  tgui/packages/tgui/interfaces/AmmoWorkbench.jsx
Owners: @GoldenAlpharex

weh
  modular_nova/master_files/code/game/machinery/status_display.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole/Main.tsx
Owners: @GoldenAlpharex

Apply suggestions from code review
  modular_nova/modules/plexagon_selfserve/code/sign.dm
  modular_nova/modules/plexagon_selfserve/code/time_clock.dm
Owners: @GoldenAlpharex

gets the rest of the stings
  modular_nova/modules/changeling_quirk/datums/actions/changeling.dm
Owners: @GoldenAlpharex

move the assembly base to the actual top of assemblys
  modular_nova/modules/aesthetics/airlock/code/airlock.dm
Owners: @GoldenAlpharex
