Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

balloon alerts and puzzgrids only spatial search for clients (#90477)
  code/datums/components/puzzgrid.dm
  code/modules/balloon_alert/balloon_alert.dm
Owners: none

Implements cross-server newscaster channels (#90444)
  code/datums/world_topic.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  tgui/packages/tgui/interfaces/Newscaster.jsx
  tgui/packages/tgui/interfaces/common/LoadingScreen.tsx
Owners: none

Space cola removes rust (#90452)
  code/__DEFINES/reagents.dm
  code/datums/components/acid.dm
  code/datums/elements/light_eater.dm
  code/datums/elements/rust.dm
  code/game/atom/_atom.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/modules/food_and_drinks/machinery/griddle.dm
  code/modules/reagents/chemistry/reagents.dm
Owners: none

[NO GBP] Fixes felinid ears' weird rendering behavior (#90481)
  code/modules/surgery/organs/internal/ears/_ears.dm
Owners: none

Fixes photo blurring and tall photos taking up too much space. (#90483)
  code/modules/photography/photos/photo.dm
Owners: none

Moves manual boulder breaking to LMB, corrects tooltips (#90474)
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mining/boulder_processing/boulder.dm
Owners: none

Adds a notification to silicon/drones being watched (#90471)
  code/__DEFINES/alerts.dm
  code/datums/wires/robot.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/silicon_camera.dm
  code/game/machinery/computer/camera.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  icons/hud/screen_alert.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Fixes vat grower bubble overlay not clearing. (#90183)
  code/__DEFINES/dcs/signals/signals_cytology.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/research/xenobiology/vatgrowing/vatgrower.dm
Owners: none

Tech storage now includes a small kit of relevant supplies for custom shuttles (#90468)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/effects/spawners/random/techstorage.dm
Owners: @Jolly-66, @Zergspower, @sqnztb

Add rare chance of thunder for ash storms on lavaland (#90488)
  code/datums/weather/weather_types/ash_storm.dm
Owners: none

Genetic mutation injectors will not use a charge when spent on incompatible mobs (#90490)
  code/game/objects/items/dna_injector.dm
Owners: none

Bucket tool for the painting/canvas UI (plus other improvements and fixes) (#90309)
  code/modules/art/paintings.dm
  code/modules/tgui/states/hold_or_view.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Canvas.tsx
Owners: none

Adds silicon access and built-in radio to AI Uplink Brain (only when controlled by AI) (#90112)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mining/lavaland/mining_loot/megafauna/the_thing.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon_say.dm
Owners: none

[NO GBP] Wawa Atmos Fix (#90392)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Fixes burning paper runtimes (#90499)
  code/datums/elements/burn_when_item_ignition.dm
Owners: none

Fixes runtimes caused by get_atom_on_turf and reverts an unintentional balance change to stabilized crossbreeds (#90500)
  code/__HELPERS/roundend.dm
  code/__HELPERS/turfs.dm
  code/game/objects/items/his_grace.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
Owners: none

Adds the captain to the security department list. (#90504)
  code/modules/jobs/job_types/captain.dm
Owners: none

Adds a sports betting/polling app (#90421)
  code/__DEFINES/announcements.dm
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/economy.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/machinery/requests_console.dm
  code/modules/modular_computers/file_system/programs/betting.dm
  icons/obj/devices/modular_pda.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosSpaceBetting.tsx
Owners: @GoldenAlpharex

Fix divine smites (#90511)
  code/datums/status_effects/neutral.dm
  code/modules/admin/smites/_smite.dm
Owners: none

Adds a message that reminds AIs how to speak through Holopads during ionospheric anomalies (#90485)
  code/modules/events/communications_blackout.dm
Owners: none

Fixes accessories getting endlessly offset into oblivion after repeated attachment (#90512)
  code/modules/clothing/under/accessories/_accessories.dm
Owners: none

Fixes persistent paintings load order (#90515)
  code/controllers/subsystem/persistent_paintings.dm
Owners: none

Bank Machines now accept coins (#90494)
  code/game/machinery/bank_machine.dm
Owners: none

fixes being able to pull mobs while riding them (#90300)
  code/datums/components/riding/riding_mob.dm
Owners: none

New sprites for Envy Knife (#90527)
  code/modules/mapfluff/ruins/objects_and_mobs/sin_ruins.dm
  icons/mob/inhands/equipment/kitchen_lefthand.dmi
  icons/mob/inhands/equipment/kitchen_righthand.dmi
  icons/obj/weapons/stabby.dmi
Owners: @GoldenAlpharex

Fix mining vendors treating ALL items as mining vouchers (#90521)
  code/datums/elements/voucher_redeemer.dm
Owners: none

Fixes roundend report not opening (#90503)
  code/datums/browser.dm
Owners: none

Update suits.dm
  modular_nova/modules/traitor-uplinks/code/categories/suits.dm
Owners: @GoldenAlpharex

Update stealthy_tools.dm
  modular_nova/modules/traitor-uplinks/code/categories/stealthy_tools.dm
Owners: @GoldenAlpharex

Update implant.dm
  modular_nova/modules/traitor-uplinks/code/categories/implant.dm
Owners: @GoldenAlpharex

Update explosive.dm
  modular_nova/modules/traitor-uplinks/code/categories/explosive.dm
Owners: @GoldenAlpharex

Update device_tools.dm
  modular_nova/modules/traitor-uplinks/code/categories/device_tools.dm
Owners: @GoldenAlpharex

Update dangerous.dm
  modular_nova/modules/traitor-uplinks/code/categories/dangerous.dm
Owners: @GoldenAlpharex

Update contractor.dm
  modular_nova/modules/traitor-uplinks/code/categories/contractor.dm
Owners: @GoldenAlpharex

language skill and mentoring books (#5055)
  code/modules/library/book.dm
  modular_nova/modules/mentoring/language_skill.dm
  modular_nova/modules/mentoring/mentoring.dm
  modular_nova/modules/mentoring/mentoring.dmi
  tgstation.dme
Owners: @GoldenAlpharex

[REQUEST] Traitor TC to 35, with 'trouble items' being adjusted relevant to the price increase (#5156)
  code/__DEFINES/antagonists.dm
  code/__DEFINES/machines.dm
  code/modules/uplink/uplink_items/explosive.dm
  modular_nova/modules/traitor-uplinks/code/categories/contractor.dm
  modular_nova/modules/traitor-uplinks/code/categories/dangerous.dm
  modular_nova/modules/traitor-uplinks/code/categories/device_tools.dm
  modular_nova/modules/traitor-uplinks/code/categories/explosive.dm
  modular_nova/modules/traitor-uplinks/code/categories/implant.dm
  modular_nova/modules/traitor-uplinks/code/categories/stealthy_tools.dm
  modular_nova/modules/traitor-uplinks/code/categories/suits.dm
  tgstation.dme
Owners: @GoldenAlpharex

Removes most of the xeno sprites
  icons/effects/blood.dmi
Owners: @GoldenAlpharex

Modular changes
  code/modules/mod/mod_activation.dm
  modular_nova/modules/deforest_medical_items/code/chemicals/demoneye.dm
  modular_nova/modules/mapping/code/interdyne_mining.dm
  modular_nova/modules/modular_items/code/tailoring.dm
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/interfaces/NovaCharacterDirectory.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/LimbsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
  tgui/packages/tgui/styles/interfaces/NtosMessenger.scss
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
  tgui/packages/tgui/styles/themes/clockwork.scss
Owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

516 Test-run prep (#5097)
  config/nova/title_html.txt
  modular_nova/modules/title_screen/code/_title_screen_defines.dm
Owners: @GoldenAlpharex

Squashed commit of the following:
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
  tgui/packages/tgui/interfaces/InstrumentEditor.tsx
  tgui/packages/tgui/interfaces/ModularShieldGen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
  tgui/packages/tgui/interfaces/NtosSpaceBetting.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/names.tsx
  tgui/packages/tgui/interfaces/RequestManager.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
  tgui/yarn.lock
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
