Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

Radio sfx option is in the radio instead of settings (#90598)
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences/sounds.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
  tgui/packages/tgui/interfaces/Radio.tsx
Owners: none

Replace basic mob attack telegraph with slower reaction times (#90585)
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/modules/mob/living/basic/boss/thing/thing.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/mob/living/basic/lavaland/basilisk/basilisk.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
Owners: none

reset adjustable pane splitters (#90634)
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/scaling.ts
Owners: none

Silicons have 66% understanding of uncommon roundstart languages (#90642)
  code/modules/language/_language_holder.dm
  code/modules/mob/living/silicon/silicon.dm
Owners: none

Detective Board UI update (#90591)
  code/game/objects/structures/detectiveboard.dm
  tgui/packages/tgui/interfaces/DetectiveBoard/Evidence.tsx
  tgui/packages/tgui/interfaces/DetectiveBoard/Pin.tsx
  tgui/packages/tgui/interfaces/DetectiveBoard/index.tsx
  tgui/packages/tgui/styles/interfaces/DetectiveBoard.scss
Owners: none

Fix scanline rendersteps trying to new before SSatom had been created (#90643)
  code/__HELPERS/visual_effects.dm
Owners: none

Wizard Event - Object Rain (#90502)
  code/modules/events/wizard/object_rain.dm
  tgstation.dme
Owners: none

Updates AI mech control messages (#90565)
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
Owners: none

Fix synthflesh patch unhusking, improved feedback (#90514)
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/patch.dm
Owners: none

Removes some Preloaded Pacmans from metastation, and adds some to icebox and wawastation (#90580)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Adds trophy display cases to wawa (#90656)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Modular Shuttle Madness (#90412)
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_scrapheap/classic1.dmm
  _maps/shuttles/emergency_scrapheap/classic2.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft1.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft2.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft3.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore1.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore2.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore3.dmm
  _maps/shuttles/emergency_scrapheap/classic_starboard1.dmm
  _maps/shuttles/emergency_scrapheap/classic_starboard2.dmm
  code/datums/shuttles/_shuttle.dm
  code/datums/shuttles/emergency.dm
  strings/modular_maps/emergency_scrapheap.toml
Owners: @Jolly-66, @Zergspower, @sqnztb

Ports some signs from the wallening & updates various others (#90581)
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  code/game/objects/structures/signs/signs_maps.dm
  icons/obj/machines/restaurant_portal.dmi
  icons/obj/signs.dmi
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

[s] Disallow href_tokens from being able to be read (#90667)
  code/modules/admin/holder2.dm
Owners: none

Stops the squeak component from playing step sounds when you are not walking (#90513)
  code/datums/components/squeak.dm
Owners: none

Emp flashlight cost reduction (#90430)
  code/modules/uplink/uplink_items/stealthy_tools.dm
Owners: none

Fix a runtime with FOV when moving diagonally (#90680)
  code/modules/mob/living/living_fov.dm
Owners: none

[s] Fix a class of secret variable dumping via SDQL by stopping `vars` from being accessed by `can_vv_get()` (#90665)
  code/datums/datumvars.dm
Owners: none

Wearing a human skin suit "fools" analyzers (#90681)
  code/datums/actions/items/toggles.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/clothing/suits/costume.dm
Owners: none

Fixes weather getting stuck and not affecting mobs (#90691)
  code/controllers/subsystem/weather.dm
  code/datums/weather/weather.dm
Owners: none

[tgui] Bump dompurify to v3 (#90693)
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tgui/packages/tgui/sanitize.ts
  tgui/yarn.lock
Owners: none

[MDB Ignore] Makes photocopiers buildable (#90658)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/paperwork/photocopier.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/service/library.dmi
  tools/UpdatePaths/Scripts/90685_buildable_photocopiers.txt
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Preference menu buttons are disabled until subsystem initializes (#90685)
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem.dm
  code/modules/client/preferences.dm
  icons/hud/lobby/character_setup.dmi
Owners: @GoldenAlpharex

fixed manipulator throw mode UI (#90692)
  tgui/packages/tgui/interfaces/BigManipulator.tsx
Owners: none

Fix categories in preferences menu (#90699)
  tgui/packages/tgui/interfaces/PreferencesMenu/GamePreferences/TabbedMenu.tsx
Owners: none

MODlink scryers now alert the user if they try to call without a charged cell (#90682)
  code/modules/mod/mod_link.dm
Owners: none

Update boss achievement icons (#90617)
  icons/ui/achievements/achievements.dmi
Owners: @GoldenAlpharex

Fixes AIs being unable to scan ore vents (#90663)
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Owners: none

Fixes plant analyzer layout (#90657)
  tgui/packages/tgui/interfaces/PlantAnalyzer.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Fallback.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Graft.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Seed.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Tray.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/index.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/types.ts
Owners: none

Fix neuroware names
  modular_nova/modules/loadouts/loadout_items/loadout_datum_erp.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
Owners: @GoldenAlpharex

Fix CI
  code/modules/client/preferences.dm
  code/modules/client/preferences/_preference.dm
  code/modules/unit_tests/preferences.dm
  modular_nova/modules/blooper/bark.dm
  modular_nova/modules/blooper/preferences.dm
Owners: @GoldenAlpharex

[MDB Ignore] Updates visuals for the loadout menu (#90399)
  code/controllers/subsystem/assets.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/loadout/categories/accessories.dm
  code/modules/loadout/categories/glasses.dm
  code/modules/loadout/categories/heads.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/loadout/loadout_items.dm
  config/nova/donators.txt
  icons/obj/fluff/previews.dmi
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/loadouts/loadout_ui/loadout_manager.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
Owners: @GoldenAlpharex

Update loadout_datum_glasses.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Owners: @GoldenAlpharex

Puts back the medpatch/medfold reskin for the medical hud eyepatch
  modular_nova/modules/customization/modules/clothing/glasses/hud.dm
Owners: @GoldenAlpharex

organic-compatible*
  modular_nova/master_files/code/modules/cargo/markets/market_items/weapons.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
  modular_nova/modules/modular_implants/icons/obj/disks.dmi
Owners: @GoldenAlpharex

Update blood_steal.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
Owners: @GoldenAlpharex

re-removes 'fakedeath' aka self-revive
  modular_nova/modules/changeling_quirk/datums/actions/changeling.dm
Owners: @GoldenAlpharex

infiltrator tbd
  modular_nova/modules/modular_implants/code/nifsofts.dm
  modular_nova/modules/modular_implants/code/nifsofts/blood_steal.dm
  modular_nova/modules/modular_implants/code/nifsofts/infiltrator_summoner.dm
Owners: @GoldenAlpharex

[TESTMERGE ONLY] tg 90719 earlyport
  code/modules/mod/mod_activation.dm
Owners: none

Update README
  modular_nova/modules/neuroware/README.md
Owners: @GoldenAlpharex

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
