Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

Update maintsroom.dmm
  _maps/RandomZLevels/maintsroom.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

.
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  modular_nova/modules/unusual_biochemistry/reagents.dm
Owners: @GoldenAlpharex

:D
  modular_nova/modules/sec_haul/code/security_clothing/sec_clothing_overrides.dm
Owners: @GoldenAlpharex

slows bleeding by a bit
  modular_nova/master_files/code/datums/wounds/pierce.dm
  modular_nova/master_files/code/datums/wounds/slash.dm
  tgstation.dme
Owners: @GoldenAlpharex

.
  _maps/modular_generic/beach_l_ribs.dmm
  code/game/atom/_atom.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/living.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_nova/modules/unusual_biochemistry/reagents.dm
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Fix icecats spawner not working
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/primitive_catgirls/code/spawner.dm
Owners: @GoldenAlpharex

Update mob_spawn.dm
  code/modules/mob_spawn/mob_spawn.dm
Owners: none

wormies
  modular_nova/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/icons/ashwalker_tools.dmi
Owners: @Zergspower

Update cryopod.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
Owners: @GoldenAlpharex

.
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/primitive_catgirls/code/spawner.dm
Owners: @GoldenAlpharex

[MIRROR] Multiple Loadout Presets! (#2540) (#4781)
  code/__DEFINES/~nova_defines/loadouts.dm
  code/controllers/subsystem/ticker.dm
  code/modules/loadout/categories/accessories.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/loadout/loadout_helpers.dm
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  code/modules/loadout/loadout_preference.dm
  code/modules/mob/dead/new_player/new_player.dm
  html/changelogs/AutoChangeLog-pr-2540.yml
  html/changelogs/AutoChangeLog-pr-2636.yml
  html/changelogs/AutoChangeLog-pr-2650.yml
  modular_nova/master_files/code/modules/client/preferences_savefile.dm
  modular_nova/master_files/code/modules/loadout/loadout_helpers.dm
  modular_nova/master_files/code/modules/loadout/loadout_menu.dm
  modular_nova/master_files/code/modules/loadout/loadout_preference.dm
  modular_nova/modules/deathmatch/deathmatch_modifier.dm
  modular_nova/modules/events/code/event_spawner.dm
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_nova/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ModifyPanel.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Owners: @GoldenAlpharex

hopefully final
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
Owners: @Zergspower

Fix icecats spawner not working (#5248)
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/primitive_catgirls/code/spawner.dm
Owners: @GoldenAlpharex

Potential "fix" for redsec turtlenecks being swapped with the undershirt's (#5242)
  modular_nova/master_files/icons/mob/clothing/under/security.dmi
  modular_nova/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/security.dmi
  modular_nova/modules/sec_haul/code/security_clothing/under.dm
Owners: @GoldenAlpharex

Fixes the flipped table spawners (#90518)
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/structures/tables_racks.dm
Owners: none

Shiny cytomons! Random color mutations for vat grown creatures. (#90072)
  code/__DEFINES/research.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
Owners: none

Fixes seethrough mob offsetting on 516 (#90405)
  code/datums/components/seethrough_mob.dm
Owners: none

Weaponised Wheelchair Bells (#90176)
  code/__DEFINES/dcs/signals/signals_action.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vehicles/wheelchair.dm
  icons/mob/rideables/vehicles.dmi
Owners: @GoldenAlpharex

Fix edge-cases where clothing icons wouldn't update when equipped (#90396)
  code/game/objects/items.dm
Owners: none

Remove unused seethrough arg (#90406)
  code/datums/components/seethrough_mob.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
Owners: none

Nugget Boxes can now be placed into paper sacks (#90420)
  code/game/objects/items/storage/fancy.dm
Owners: none

Stub new undocumented 516 m4/m5 (#90404)
  code/__DEFINES/_click.dm
  code/_onclick/click.dm
Owners: none

Fixes tgui-say not focusing (#90395)
  tgui/packages/tgui-say/515/TguiSay.tsx
  tgui/packages/tgui-say/515/constants.ts
  tgui/packages/tgui-say/515/helpers.ts
  tgui/packages/tgui-say/515/styles/button.scss
  tgui/packages/tgui-say/515/styles/colors.scss
  tgui/packages/tgui-say/515/styles/content.scss
  tgui/packages/tgui-say/515/styles/dragzone.scss
  tgui/packages/tgui-say/515/styles/main.scss
  tgui/packages/tgui-say/515/styles/textarea.scss
  tgui/packages/tgui-say/515/styles/window.scss
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/styles.scss
Owners: none

Revises and adds several new bounties for assistants, roboticists, and medical doctors. (#89772)
  code/__DEFINES/medical.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/machinery/civilian_bounties.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/item.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/bounties/mecha.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports/mecha.dm
  code/modules/vehicles/mecha/mecha_diagnostic.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/working/ripley.dm
  icons/obj/devices/scanner.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/packages/tgui/interfaces/Mecha/index.tsx
Owners: @GoldenAlpharex

Fixes some bitrunning mapping issues (#90411)
  _maps/safehouses/ice.dmm
  _maps/virtual_domains/island_brawl.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Fixes debrained/eyeless overlays going over clothing (#90415)
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Owners: none

makes `get_mob_by_ckey` not horrifically inefficient (#90401)
  code/__HELPERS/mobs.dm
Owners: none

Add neutral faction to basic bots (#90413)
  code/modules/mob/living/basic/bots/_bots.dm
Owners: none

Fix radio messages being filtered when you are affected by some speech modification (#90358)
  code/game/objects/items/devices/radio/radio.dm
Owners: none

Adds telecomms parts to Delta Tech Storage (#90350)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Switches somethings around in wawastation (#90352)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

System for restricting quirks based on species, no more blood deficiency on bloodless species (#90326)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/_quirk.dm
  code/datums/quirks/negative_quirks/blood_deficiency.dm
  code/datums/quirks/negative_quirks/hungry.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/middleware/_middleware.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  modular_nova/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_nova/modules/system_shock/code/system_shock_quirk.dm
  modular_nova/modules/title_screen/code/title_screen_pref_middleware.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Owners: @GoldenAlpharex

Fixes hat stabilizer overlays rendering behind hats (#90407)
  code/datums/components/hat_stabilizer.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Owners: none

Stat panel is only scrollable if needed (#90341)
  html/statbrowser.css
  tgui/packages/tgui/styles/interfaces/ExperimentConfigure.scss
  tgui/packages/tgui/styles/interfaces/TachyonArray.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Jukebox volume fixes (#90417)
  code/__DEFINES/dcs/signals/signals_music.dm
  code/datums/components/jukebox.dm
  code/modules/client/preferences/sounds.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Owners: none

Minifies tgui helpers (#90340)
  code/controllers/subsystem/tgui.dm
  tgui/.gitignore
  tgui/.prettierrc.yml
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-setup/helpers.js
  tgui/packages/tgui-setup/ntos-error.css
  tgui/packages/tgui-setup/package.json
  tgui/public/helpers.min.js
  tgui/public/ntos-error.min.css
  tgui/public/tgui.html
  tgui/yarn.lock
Owners: none

Moves the character deletion button to the top left (#90403)
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Owners: none

byond-tracy forces a hard reboot (#90432)
  code/game/world.dm
Owners: none

Fixes emp flashlight not emping cyborgs (#90429)
  code/modules/mob/living/silicon/robot/robot_defense.dm
Owners: none

Interviews now lets you see centcom bans directly (#90423)
  code/modules/admin/centcom.dm
  code/modules/admin/topic.dm
  code/modules/interview/interview.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Interview.tsx
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
