Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

1
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_nova/modules/organs/code/tongue.dm
  modular_nova/modules/synths/code/bodyparts/brain.dm
  modular_nova/modules/synths/code/bodyparts/tongue.dm
Owners: @GoldenAlpharex

Fixes recolorable trenchcoat digi incompatiability + adds it to loadout (#5304)
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Owners: @GoldenAlpharex

updates the borg pool for the new language
  modular_nova/master_files/code/modules/language/language_holder.dm
Owners: @GoldenAlpharex

cleans up languages too
  modular_nova/master_files/code/modules/language/language_holder.dm
Owners: @GoldenAlpharex

looc/subtle(r) fixes (hacks)
  modular_nova/modules/verbs/code/looc.dm
  modular_nova/modules/verbs/code/subtle.dm
Owners: @GoldenAlpharex

less hungry golems
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/golemweak.dm
Owners: @GoldenAlpharex

stop subtlering yourself
  modular_nova/modules/verbs/code/subtle.dm
Owners: @GoldenAlpharex

action_slots update
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/dorms_headphones.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_nova/modules/company_imports/code/armament_datums/akh_frontier.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/company_datums.dm
  modular_nova/modules/company_imports/code/company_datums.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
  modular_nova/modules/company_imports/code/armament_datums/mining_corps.dm
Owners: @GoldenAlpharex

Update language_holder.dm
  modular_nova/master_files/code/modules/language/language_holder.dm
Owners: @GoldenAlpharex

Update storage.dmi
  modular_nova/modules/aesthetics/storage/storage.dmi
Owners: @GoldenAlpharex

adds an error icon so if this happens again people actually make a github bug report
  modular_nova/modules/aesthetics/storage/storage.dmi
Owners: @GoldenAlpharex

wait this isnt an internals box
  modular_nova/modules/aesthetics/storage/storage.dmi
Owners: @GoldenAlpharex

Update implanter.dm
  modular_nova/modules/aesthetics/implanter/implanter.dm
Owners: @GoldenAlpharex

updates to be compatible with bilingual
  modular_nova/modules/customization/modules/language/ashtongue.dm
  modular_nova/modules/customization/modules/language/canilunzt.dm
  modular_nova/modules/customization/modules/language/chitinclick.dm
  modular_nova/modules/customization/modules/language/common.dm
  modular_nova/modules/customization/modules/language/gutter.dm
  modular_nova/modules/customization/modules/language/panslavic.dm
  modular_nova/modules/customization/modules/language/piratespeak.dm
  modular_nova/modules/customization/modules/language/siiktajr.dm
  modular_nova/modules/customization/modules/language/skrell.dm
  modular_nova/modules/customization/modules/language/spacer.dm
  modular_nova/modules/customization/modules/language/te_velu_akko.dm
  modular_nova/modules/customization/modules/language/vox.dm
  modular_nova/modules/customization/modules/language/xerxian.dm
  modular_nova/modules/customization/modules/language/yangyu.dm
Owners: @GoldenAlpharex

cleans up the rest
  modular_nova/master_files/code/modules/language/_language.dm
  modular_nova/master_files/code/modules/language/kobold.dm
  modular_nova/modules/customization/modules/language/ashtongue.dm
  modular_nova/modules/customization/modules/language/canilunzt.dm
  modular_nova/modules/customization/modules/language/chitinclick.dm
  modular_nova/modules/primitive_catgirls/code/language.dm
  modular_nova/modules/teshari/code/schechi.dm
Owners: @GoldenAlpharex

wtf yangyu with the spaces
  modular_nova/modules/customization/modules/language/ashtongue.dm
  modular_nova/modules/customization/modules/language/te_velu_akko.dm
  modular_nova/modules/customization/modules/language/yangyu.dm
Owners: @GoldenAlpharex

thermals done infil tbd
  modular_nova/modules/modular_implants/code/nifsofts/infiltrator_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_nova/modules/modular_implants/code/nifsofts/thermals.dm
  tgstation.dme
Owners: @GoldenAlpharex

1
  code/__DEFINES/~nova_defines/robot_defines.dm
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_nova/modules/borgs/code/robot.dm
  modular_nova/modules/borgs/code/robot_items.dm
  modular_nova/modules/borgs/code/robot_model.dm
  modular_nova/modules/borgs/code/update_icons.dm
  modular_nova/modules/borgs/icons/widerobot_eng.dmi
  modular_nova/modules/borgs/icons/widerobot_jani.dmi
  modular_nova/modules/borgs/icons/widerobot_med.dmi
  modular_nova/modules/borgs/icons/widerobot_mine.dmi
  modular_nova/modules/borgs/icons/widerobot_pk.dmi
Owners: @Zergspower

3
  modular_nova/modules/borgs/code/robot.dm
  modular_nova/modules/borgs/icons/widerobot_med.dmi
  modular_nova/modules/borgs/icons/widerobot_sec.dmi
Owners: @Zergspower

Update robots.dmi
  modular_nova/modules/borgs/icons/robots.dmi
Owners: @Zergspower

Update _traits.dm
  code/_globalvars/traits/_traits.dm
Owners: none

Update admin_tooling.dm
  code/_globalvars/traits/admin_tooling.dm
Owners: none

Update undershirts.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/undershirts.dm
Owners: @GoldenAlpharex

Adds an Undershirt version of the greyscale Fishnets (#5313)
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/undershirts.dm
Owners: @GoldenAlpharex

Borg code Maintenance, and waggy drakes (#5310)
  code/__DEFINES/~nova_defines/robot_defines.dm
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_nova/modules/borgs/code/robot.dm
  modular_nova/modules/borgs/code/robot_items.dm
  modular_nova/modules/borgs/code/robot_model.dm
  modular_nova/modules/borgs/code/update_icons.dm
  modular_nova/modules/borgs/icons/robots.dmi
  modular_nova/modules/borgs/icons/widerobot_eng.dmi
  modular_nova/modules/borgs/icons/widerobot_jani.dmi
  modular_nova/modules/borgs/icons/widerobot_med.dmi
  modular_nova/modules/borgs/icons/widerobot_mine.dmi
  modular_nova/modules/borgs/icons/widerobot_pk.dmi
  modular_nova/modules/borgs/icons/widerobot_sec.dmi
Owners: @Zergspower

Adds racial chat bubbles where they exist, moves linguist to 0 point cost (#5305)
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/master_files/code/modules/language/_language.dm
  modular_nova/master_files/code/modules/language/kobold.dm
  modular_nova/master_files/code/modules/language/language_holder.dm
  modular_nova/modules/customization/modules/language/ashtongue.dm
  modular_nova/modules/customization/modules/language/canilunzt.dm
  modular_nova/modules/customization/modules/language/chitinclick.dm
  modular_nova/modules/customization/modules/language/common.dm
  modular_nova/modules/customization/modules/language/gutter.dm
  modular_nova/modules/customization/modules/language/panslavic.dm
  modular_nova/modules/customization/modules/language/piratespeak.dm
  modular_nova/modules/customization/modules/language/siiktajr.dm
  modular_nova/modules/customization/modules/language/skrell.dm
  modular_nova/modules/customization/modules/language/spacer.dm
  modular_nova/modules/customization/modules/language/te_velu_akko.dm
  modular_nova/modules/customization/modules/language/vox.dm
  modular_nova/modules/customization/modules/language/xerxian.dm
  modular_nova/modules/customization/modules/language/yangyu.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_nova/modules/primitive_catgirls/code/language.dm
  modular_nova/modules/synths/code/bodyparts/brain.dm
  modular_nova/modules/teshari/code/schechi.dm
Owners: @GoldenAlpharex

I should leave a note that this was done
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Owners: none

readme(s)
  modular_nova/modules/aesthetics/readme.md
  modular_nova/modules/mapping/readme.md
Owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
