Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

Update modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
Owners: @Zergspower

these shouldn't decay because they cannot be fixed
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
Owners: none

skip the empty outfit
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/golemweak.dm
Owners: @GoldenAlpharex

nevermind, don't skip the empty outfit
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
Owners: @GoldenAlpharex

https://youtu.be/YPN0qhSyWy8
  modular_nova/modules/changeling_quirk/datums/quirks/changeling.dm
Owners: @GoldenAlpharex

outfit adjustments & unit test fix
  modular_nova/modules/customization/modules/clothing/outfits/dullahan.dm
Owners: @GoldenAlpharex

Refactors MODsuit module rendering and allows overslotted parts to show items they overslot when unsealed (#90414)
  code/__DEFINES/mod.dm
  code/game/objects/structures/mannequin.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_part.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_maint.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/mod/modules/modules_timeline.dm
  code/modules/wiremod/shell/module.dm
  modular_nova/master_files/code/modules/mod/modules/_module.dm
  modular_nova/modules/Midroundtraitor/code/datum_traitor.dm
  modular_nova/modules/novaya_ert/code/mod_suit.dm
  tgstation.dme
Owners: @GoldenAlpharex

flechettes recategorized as supers, buck actually weak
  modular_nova/modules/shotgunrebalance/code/shotgun.dm
Owners: @GoldenAlpharex

Anesthetic masks can be operated thru again (#90554)
  code/modules/clothing/masks/muzzle.dm
Owners: none

Replace `Popper` with `Floating` (#90543)
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
  tgui/packages/tgui/interfaces/InstrumentEditor.tsx
  tgui/packages/tgui/interfaces/ModularShieldGen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
  tgui/packages/tgui/interfaces/NtosSpaceBetting.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/names.tsx
  tgui/packages/tgui/interfaces/RequestManager.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
  tgui/yarn.lock
Owners: none

Allows you to put people through wooden tables, like a wrestling match. (#89826)
  code/game/objects/structures/tables_racks.dm
  code/modules/shuttle/misc/special.dm
Owners: none

Fix deep fryer message timings being off (#90551)
  code/__DEFINES/food.dm
  code/datums/elements/food/fried_item.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Owners: none

Adds some positive mutations (#90393)
  code/datums/mutations/_combined.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/body.dm
  code/datums/mutations/farsight.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Owners: none

Better metalgen logging and some behavior fixes (#90546)
  code/datums/components/combustible_flooder.dm
  code/game/objects/effects/effect_system/fluid_spread/_fluid_spread.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/objs.dm
  code/modules/reagents/chemistry/recipes/others.dm
Owners: none

tgui: Shiny new dev tools (#90522)
  tgui/.eslintrc.yml
  tgui/.swcrc
  tgui/.yarnrc.yml
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/common/collections.spec.ts
  tgui/packages/common/package.json
  tgui/packages/common/redux.test.ts
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChatHistory.test.ts
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/constants.test.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
  tgui/packages/tgui/interfaces/ExperimentConfigure.tsx
  tgui/packages/tgui/links.test.ts
  tgui/packages/tgui/package.json
  tgui/packages/tgui/sanitize.test.ts
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/rspack.config.cjs
  tgui/tsconfig.json
  tgui/vitest.config.mts
  tgui/yarn.lock
  tools/build/build.js
Owners: @GoldenAlpharex

adds 1s of delay to "perish" (#90566)
  code/datums/actions/mobs/projectileattack.dm
Owners: none

Fixes quirks page gap (#90562)
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Owners: none

Does my wooden table smashing reviews (#90569)
  code/game/objects/structures/tables_racks.dm
Owners: none

Invisible walls can be leaned on (#90564)
  code/datums/components/leanable.dm
  code/game/objects/effects/forcefields.dm
Owners: none

Demolition mod is inverted vs "soft" structures like spider webs (#90464)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/item_attack.dm
  code/game/objects/effects/spiderwebs.dm
  code/game/objects/items/chainsaw.dm
  code/game/objects/items/fireaxe.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures/curtains.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Owners: none

Fixes grilles not updating their overlays properly (#90520)
  code/game/objects/structures/grille.dm
Owners: none

Fix UI identations (#90568)
  tgui/packages/tgui/interfaces/AirAlarm/screens/Home.tsx
  tgui/packages/tgui/interfaces/AntagInfoBrainwashed.tsx
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/AntagInfoGlitch.tsx
  tgui/packages/tgui/interfaces/AntagInfoTraitor.tsx
  tgui/packages/tgui/interfaces/ApcControl.tsx
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/Blueprints.tsx
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
  tgui/packages/tgui/interfaces/Cargo/CargoCatalog.tsx
  tgui/packages/tgui/interfaces/Cargo/index.tsx
  tgui/packages/tgui/interfaces/CargoExpress.tsx
  tgui/packages/tgui/interfaces/Changelog.jsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ElevatorPanel.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/NtosNetChat.jsx
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.jsx
  tgui/packages/tgui/interfaces/OrionGame.jsx
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/interfaces/Photocopier.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer.tsx
  tgui/packages/tgui/interfaces/ReligiousTool.jsx
  tgui/packages/tgui/interfaces/SelectEquipment.jsx
  tgui/packages/tgui/interfaces/TramControl.tsx
  tgui/packages/tgui/interfaces/TramPlaque.tsx
Owners: none

Fix hot spring runtime related to duplicate elements (#90555)
  code/game/turfs/open/water.dm
Owners: none

Adds Greyscale Trenchcoats/Blazers (+ toggleable trenchcoats) (#90563)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/blazer.json
  code/datums/greyscale/json_configs/trenchcoat.json
  code/datums/quirks/neutral_quirks/monochromatic.dm
  code/modules/antagonists/spy/spy.dm
  code/modules/bitrunning/objects/clothing.dm
  code/modules/bitrunning/orders/flair.dm
  code/modules/bitrunning/outfits.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/suits/jacket.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/station_trait/veteran_advisor.dm
  code/modules/mafia/outfits.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/suits/jacket.dmi
  icons/obj/clothing/suits/jacket.dmi
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/modules/clock_cult/code/language.dm
  modular_nova/modules/customization/modules/clothing/under/security.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
  modular_nova/modules/moretraitoritems/code/syndicate.dm
  modular_nova/modules/opposing_force/code/equipment/clothing.dm
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Fixes the scrubber in Wawa Chapel Office (#90574)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

[MDB Ignore] Air alarms of surgical rooms (robotics, medical) start with scrubbers set to filter nitrous oxide (#90558)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

Lobby info is now part of the hud instead of stat panel (#90572)
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/processing/newplayer.dm
  code/modules/mob/dead/dead.dm
  icons/hud/lobby/newplayer.dmi
  icons/hud/lobby/newplayer_scanline.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Subsystems meant to represent/handle in-game networks moved under their own subfolder ( no code changes ) (#90561)
  code/controllers/subsystem/networks/README.md
  code/controllers/subsystem/networks/bitrunning.dm
  code/controllers/subsystem/networks/circuit_component.dm
  code/controllers/subsystem/networks/id_access.dm
  code/controllers/subsystem/networks/modular_computers.dm
  code/controllers/subsystem/networks/radio.dm
  code/controllers/subsystem/networks/research.dm
  code/controllers/subsystem/networks/wiremod_composite.dm
  tgstation.dme
Owners: none

Adds a blood level hud for vamp & soulscythe (#90578)
  code/__DEFINES/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/soulscythe.dm
  code/modules/mining/lavaland/mining_loot/megafauna/bubblegum.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/hud/screen_gen.dmi
  tgstation.dme
Owners: @GoldenAlpharex

Changes Whiteship window blastdoors from doors into shutters (#90579)
  _maps/shuttles/whiteship_birdshot.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Spirit realm ghosts can't observe (#90556)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/OrbitSearchBar.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Owners: none

Adds the ability to link forum accounts (#90441)
  code/controllers/configuration/entries/general.dm
  code/modules/client/verbs/ooc.dm
  config/config.txt
Owners: none

removes martial art hud as something on base hud (#90589)
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/living.dm
  code/datums/martial/_martial.dm
Owners: none

Adds some trailing commas to lists (#90501)
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/ai_idle_controllers.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/early_assets.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/library.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/market.dm
  code/controllers/subsystem/networks/research.dm
  code/controllers/subsystem/ore_generation.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/processing/ai_behaviors.dm
  code/controllers/subsystem/processing/ai_idle_behaviors.dm
  code/controllers/subsystem/processing/fishing.dm
  code/controllers/subsystem/radioactive_nebula.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/controllers/subsystem/traitor.dm
  code/controllers/subsystem/unplanned_controllers.dm
  code/controllers/subsystem/wardrobe.dm
  code/controllers/subsystem/weather.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Owners: none

Fixes "begins" in autopsy surgery step (#90604)
  code/modules/surgery/autopsy.dm
Owners: none

Job assignment code at round start now properly respects any overflow caps set in the config files. (#90612)
  code/controllers/subsystem/job.dm
Owners: none

Partially fixes emissives not transforming with their parent (#90519)
  code/__DEFINES/lighting.dm
  code/game/atoms_movable.dm
Owners: none

Removes Blob HUD as a var on every single hud (#90588)
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/blobbernaut.dm
  code/_onclick/hud/hud.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/mob/living/basic/blob_minions/blobbernaut.dm
  tgstation.dme
Owners: none

Disable screentip images for clients on BYOND 516.1657+ (#90613)
  code/__DEFINES/client.dm
  code/game/atom/_atom.dm
Owners: none

adds auto-updating for status display image on alert level change (#90602)
  code/controllers/subsystem/security_level.dm
  code/game/machinery/status_display.dm
Owners: none
