Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex

makes the skin more compatible with 516 for high dpi monitors (#90416)
  code/modules/client/client_procs.dm
  code/modules/tgui_panel/external.dm
  interface/interface.dm
  interface/skin.dmf
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/scaling.ts
  tgui/packages/tgui-panel/themes.ts
Owners: none

Converts hot springs to use proper shared particles (#90359)
  code/game/objects/effects/particle_holder.dm
  code/game/objects/effects/shared_particle_holder.dm
  code/game/turfs/open/water.dm
Owners: none

516 only tgui (#90397)
  code/controllers/subsystem/tgui.dm
  tgui/.gitignore
  tgui/.yarn/releases/yarn-4.5.1.cjs
  tgui/.yarn/releases/yarn-4.8.1.cjs
  tgui/.yarnrc.yml
  tgui/README.md
  tgui/global.d.ts
  tgui/package.json
  tgui/packages/common/storage.ts
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui-polyfill/1-misc.js
  tgui/packages/tgui-polyfill/index.js
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui-setup/helpers.js
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/themes/ntos_cat.scss
  tgui/packages/tgui/styles/themes/ntos_synth.scss
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
  tgui/public/helpers.min.js
  tgui/public/tgui-polyfill.min.js
  tgui/public/tgui.html
  tgui/tsconfig.json
  tgui/webpack.config.js
  tgui/yarn.lock
Owners: none

Punishable by death in 7 sectors! Kronkaine buff package. (#90192)
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/items/drug_items.dm
  code/modules/hydroponics/grown/kronkus.dm
  code/modules/reagents/chemistry/holder/holder.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Owners: none

Bumps up Nitrium reagent addition on breath so people don't lose sleep immunity (#90345)
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Owners: none

Hunger bar is now animated and updates as you eat (#90446)
  code/__DEFINES/living.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/food/edible.dm
  code/datums/elements/food/foodlike_drink.dm
  code/datums/mood.dm
  code/datums/mood_events/needs_events.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  icons/hud/screen_gen.dmi
Owners: @GoldenAlpharex

Relocates a test tube rack in Metastation Perma (#90442)
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

makes various uis more compatible with high dpi monitors, adds a preference for smaller windows (#90418)
  code/datums/browser.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/tgui.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_input/say_modal/modal.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/drag.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tgui.tsx
  tgui/packages/tgui/layouts/Window.tsx
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/layouts/TitleBar.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Mod overslot fix (#90201)
  code/__DEFINES/clothing.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/special.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/wheelys.dm
  code/modules/mod/mod_activation.dm
Owners: none

Changes the paper mache robe to not use a verb and sleep for 3 seconds to handle a cooldown (#90438)
  code/modules/clothing/suits/wiz_robe.dm
Owners: none

the admin audio player is a little more resilient against crashes (#90445)
  tgui/packages/tgui-panel/audio/player.ts
Owners: none

Sonar Module Adjustments (#90447)
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
Owners: none

Heart Attacks are More Violent, and You Can Defib People Repeatedly to Fix Them Like in a Medical Daytime TV Show Drama (#89775)
  code/__DEFINES/dcs/signals/signals_medical.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/fearful/effects.dm
  code/datums/diseases/heart_failure.dm
  code/datums/status_effects/debuffs/heart_attack.dm
  code/game/data_huds.dm
  code/game/objects/items/defib.dm
  code/modules/events/heart_attack.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
  strings/tips.txt
  tgstation.dme
Owners: none

[no GBP] Wheelchair Bomb Fixes (#90440)
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
Owners: none

Updates all the circuit shells to share a palette (#90449)
  icons/obj/science/circuits.dmi
Owners: @GoldenAlpharex

Locking a storage item now locks you out of other storage items inside it. (#90243)
  code/datums/components/lockable_storage.dm
  code/datums/storage/storage.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/secure_safe.dm
  code/modules/lost_crew/lost_crew_manager.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Owners: none

Adds holodisk to the photography camera's description (#90451)
  code/modules/photography/camera/camera.dm
Owners: none

Part 1: Storage Improvements (#90365)
  code/datums/storage/storage.dm
  code/game/objects/items/storage/storage.dm
Owners: none

[NO GBP] removes scalies from the codebase (#90472)
  code/modules/client/client_procs.dm
Owners: none

Fixes AI detector runtiming when it finds machine-users (#90448)
  code/game/objects/items/devices/multitool.dm
Owners: none

Fixes Soybean Grinding/Juicing (#90455)
  code/modules/hydroponics/grown/beans.dm
Owners: none

Moves krav maga action descriptions from names into descriptions (#90450)
  code/datums/martial/krav_maga.dm
Owners: none

Adds sidewalks to Wawa Supermatter (#90453)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Implements some of the helpers I made for #90354 (#90436)
  code/__DEFINES/animate.dm
  code/__DEFINES/span.dm
  code/__DEFINES/tools.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/matrices.dm
  code/__HELPERS/names.dm
  code/_globalvars/admin.dm
  code/_globalvars/lists/engineering.dm
  code/datums/datum.dm
  code/game/objects/items/debug_items.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
  interface/stylesheet.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Owners: none

Fixes constant modular computer runtimes (#90454)
  code/modules/modular_computers/computers/item/computer.dm
Owners: none

Weather DLC - Make it Rain Anything! (#89550)
  code/__DEFINES/maps.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/weather.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/object_possession.dm
  code/datums/components/weatherannouncer.dm
  code/datums/elements/weather_listener.dm
  code/datums/looping_sounds/weather.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/rain_storm.dm
  code/datums/weather/weather_types/sand_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/void_storm.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminweather.dm
  code/modules/hydroponics/hydroponics_chemreact.dm
  code/modules/mob/login.dm
  icons/effects/weather_effects.dmi
  sound/ambience/weather/rain/attribution.txt
  sound/ambience/weather/rain/rain_end.ogg
  sound/ambience/weather/rain/rain_mid.ogg
  sound/ambience/weather/rain/rain_start.ogg
  sound/attributions.txt
  sound/effects/siren.ogg
  tgstation.dme
Owners: @GoldenAlpharex

Allows chemical presses to customize pill duration, chemmasters can now produce instant pills without the need for water (#90428)
  code/modules/plumbing/plumbers/pill_press.dm
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/interfaces/ChemPress.tsx
Owners: none

Allows people to put their own tanks into bluespace gas vendors (#90279)
  code/modules/atmospherics/machinery/bluespace_vendor.dm
Owners: none

Adds battery matches & gum wrappers (#89871)
  code/datums/components/crafting/misc.dm
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/storage.dm
  code/modules/power/cell.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  icons/obj/cigarettes.dmi
  icons/obj/food/food.dmi
Owners: @GoldenAlpharex

Fix a list qdel in `/datum/mind/Destroy()` (#90456)
  code/datums/mind/_mind.dm
Owners: none

Adds a holiday-exclusive mail pool (#90437)
  code/datums/components/squeak.dm
  code/game/objects/items/mail.dm
  code/modules/clothing/head/whoopee.dm
  code/modules/holiday/holidays.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
  icons/mob/clothing/head/costume.dmi
  icons/obj/holiday/holiday_misc.dmi
  sound/effects/brap/attribution.txt
  sound/effects/brap/brap1.ogg
  sound/effects/brap/brap2.ogg
  sound/effects/brap/brap3.ogg
  sound/effects/brap/brap4.ogg
  tgstation.dme
Owners: @GoldenAlpharex

Add a cooldown to wiremod MMI messages (#90458)
  code/modules/wiremod/components/action/mmi.dm
Owners: none

Drops support for 515. Bumps compile ands tests to 516 (#90460)
  .github/alternate_byond_versions.txt
  .github/max_required_byond_client.txt
  .tgs.yml
  code/__byond_version_compat.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/modules/admin/view_variables/debug_variable_appearance.dm
  dependencies.sh
Owners: none

Fixes wawa sec disposals (#90459)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Fixes watcher crusher trophies not applying their effects on basicmobs (#90466)
  code/datums/components/ranged_attacks.dm
Owners: none

Fixes runtimes caused by energy bolas (#90469)
  code/controllers/subsystem/throwing.dm
Owners: none

Fixes orbiting runtimes caused by mind transfers (#90470)
  code/datums/components/orbiter.dm
Owners: none

Fixes certain mobs runtiming when dusted (#90467)
  code/game/objects/structures/morgue.dm
  code/modules/mob/living/death.dm
Owners: none

Fixes delam hallucinations (#90465)
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
Owners: none

Fixes `to_chat` never actually queuing (#90461)
  code/controllers/master.dm
Owners: none
