Repository NovaSector/NovaSector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoldenAlpharex, @Jolly-66, @Zergspower, @sqnztb

max ammo changes
  modular_nova/master_files/code/modules/projectiles/boxes_magazines/external/shotgun.dm
Owners: @GoldenAlpharex

Update persistent_paintings.dm
  code/controllers/subsystem/persistent_paintings.dm
Owners: none

tiny change to cowboy boots since the spurs hide some of the dark and it looks too bright because of it
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
Owners: @GoldenAlpharex

potential fix
  modular_nova/master_files/icons/mob/clothing/under/security.dmi
  modular_nova/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_nova/modules/sec_haul/code/security_clothing/under.dm
Owners: @GoldenAlpharex

actually just a bit more so the whole cowboy boot is brighter
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
Owners: @GoldenAlpharex

timbs tweaks (smaller gray flap, treads) (also adds treads to duckboots bc the obj has it and i just forgot it on the onmob)
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
  modular_nova/master_files/icons/obj/clothing/shoes.dmi
Owners: @GoldenAlpharex

Fixes proto kinetic crushers having the wrong inhand icons when a retool kit is applied
  modular_nova/modules/mining_crushers/code/miningweapons.dm
Owners: @GoldenAlpharex

oops just a smidge too dark (also I thought they were called Timbs ingame but theyre not so lets just tweak all this too)
  modular_nova/master_files/icons/mob/clothing/feet.dmi
  modular_nova/master_files/icons/mob/clothing/feet_digi.dmi
  modular_nova/modules/customization/modules/clothing/shoes/shoes.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Owners: @GoldenAlpharex

Fix teshari accessories being haunted and floating away
  code/modules/surgery/bodyparts/worn_feature_offset.dm
Owners: none

Update _accessories.dm
  code/modules/clothing/under/accessories/_accessories.dm
Owners: none

bench adjustment
  modular_nova/modules/ammo_workbench/code/ammo_workbench.dm
  modular_nova/modules/ammo_workbench/code/design_disks.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/pistol.dm
  modular_nova/modules/sec_haul/code/misc/vending.dm
Owners: @GoldenAlpharex

flipped table spawners, lizard trap
  _maps/RandomRuins/SpaceRuins/nova/shuttle8532.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/Snowglobe/snowglobe.dmm
  _maps/virtual_domains/ancientmilsim_nova.dmm
  code/game/objects/effects/spawners/structure.dm
  code/modules/unit_tests/changeling.dm
Owners: @Jolly-66, @Zergspower, @sqnztb

budbget
  code/__DEFINES/~nova_defines/colors.dm
  modular_nova/master_files/code/modules/cargo/markets/market_items/weapons.dm
  modular_nova/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_nova/modules/modular_ert/code/marine_override/modified_equipment.dm
  modular_nova/modules/modular_ert/code/marine_override/modified_gear.dm
  modular_nova/modules/modular_weapons/code/modular_projectiles/pistol_calibers.dm
  modular_nova/modules/traitor-uplinks/code/categories/ammunition.dm
  modular_nova/modules/traitor-uplinks/code/categories/device_tools.dm
Owners: @GoldenAlpharex

begone redundant typing
  _maps/RandomZLevels/heretic.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

Update garbage.dm
  code/controllers/subsystem/garbage.dm
Owners: none

Update _vending.dm
  code/modules/vending/_vending.dm
Owners: none

Update _species.dm
  code/modules/mob/living/carbon/human/_species.dm
Owners: none

Some tweaks
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/living.dm
Owners: none

More slight tweaks
  code/__DEFINES/colors.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
Owners: none

Update ticker.dm
  code/controllers/subsystem/ticker.dm
Owners: none

Apply suggestions from code review
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
Owners: @Zergspower

Port of 'genetic mutation' quirk (#5153)
  modular_nova/master_files/code/datums/quirks/positive_quirks/genetic_freak.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/genetic_freak.tsx
Owners: @GoldenAlpharex

new ash age stages-- boulder and armblade (#5064)
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_nova/modules/ashwalkers/icons/actions.dmi
  modular_nova/modules/ashwalkers/icons/screen_alert.dmi
Owners: @Zergspower

Apply suggestions from code review
  modular_nova/master_files/code/modules/mob/basic/looters/looter_mobs.dm
  modular_nova/master_files/code/modules/mob/basic/vox/vox_raiders_mobs.dm
Owners: @GoldenAlpharex

Apply suggestions from code review
  modular_nova/master_files/code/modules/mob/basic/borgs/evilborg_ai.dm
  modular_nova/master_files/code/modules/mob/basic/looters/looter_mobs.dm
Owners: @GoldenAlpharex

Create 5209_simpleanimal_to_basic.txt
  tools/UpdatePaths/Scripts_Nova/5209_simpleanimal_to_basic.txt
Owners: @Jolly-66

Apply suggestions from code review
  modular_nova/master_files/code/modules/client/preferences_savefile.dm
Owners: @GoldenAlpharex

Update 5209_simpleanimal_to_basic.txt
  tools/UpdatePaths/Scripts_Nova/5209_simpleanimal_to_basic.txt
Owners: @Jolly-66

Converts numerous simpleanimals into basic mobs, updates ruins (#5209)
  _maps/RandomRuins/SpaceRuins/nova/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/nova/scrapheap.dmm
  _maps/RandomRuins/SpaceRuins/nova/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/nova/shuttlescrap.dmm
  _maps/RandomZLevels/heretic.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_nova/master_files/code/modules/mob/basic/borgs/evilborg_ai.dm
  modular_nova/master_files/code/modules/mob/basic/borgs/evilborg_mobs.dm
  modular_nova/master_files/code/modules/mob/basic/cult/cult_mobs.dm
  modular_nova/master_files/code/modules/mob/basic/cult/cult_mobs_ai.dm
  modular_nova/master_files/code/modules/mob/basic/looters/looter_ai.dm
  modular_nova/master_files/code/modules/mob/basic/looters/looter_mobs.dm
  modular_nova/master_files/code/modules/mob/basic/vox/vox_raiders_ai.dm
  modular_nova/master_files/code/modules/mob/basic/vox/vox_raiders_mobs.dm
  modular_nova/master_files/code/modules/mob/living/simple_animal/hostile/bubblegum.dm
  modular_nova/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  tgstation.dme
  tools/UpdatePaths/Scripts_Nova/5209_simpleanimal_to_basic.txt
Owners: @Jolly-66, @Zergspower, @sqnztb, @GoldenAlpharex

The Spider smartening - aka they aren't stupid anymore (#5118)
  modular_nova/modules/basic_mobs/code/bananaspider.dm
  modular_nova/modules/spider/giant_spider/giant_spiders.dm
  modular_nova/modules/spider/icons/64x64_spider.dmi
  modular_nova/modules/spider/icons/spider.dmi
  modular_nova/modules/spider/spider_abilities/spider_abilities.dm
  modular_nova/modules/spider/spider_abilities/spider_ai.dm
  modular_nova/modules/spider/spider_abilities/spider_toxin_reagents.dm
  modular_nova/modules/spider/spider_abilities/spideregg_organ.dm
  tgstation.dme
Owners: @GoldenAlpharex

Adds a cooking oil vat to SerenityStation's cold room. (#5200)
  _maps/map_files/SerenityStation/SerenityStation.dmm
Owners: @Jolly-66, @Zergspower, @sqnztb

1
  code/modules/unit_tests/simple_animal_freeze.dm
Owners: none

Update simple_animal_freeze.dm
  code/modules/unit_tests/simple_animal_freeze.dm
Owners: none

Update icon_smoothing.dm
  code/__DEFINES/icon_smoothing.dm
Owners: none

changes the cargo tech desc
  modular_nova/modules/cargo_items/cargo.dm
Owners: @GoldenAlpharex

added stabilizer to researching skill
  modular_nova/modules/xenoarchartifacts/obj/artifact_stabilizer.dm
Owners: @GoldenAlpharex

worm tunnels
  modular_nova/modules/ashwalkers/code/items/worm_tunnel.dm
  modular_nova/modules/ashwalkers/icons/ashwalker_tools.dmi
  tgstation.dme
Owners: @Zergspower

fix and remove
  code/modules/library/book.dm
Owners: none

Update code/game/objects/items.dm
  code/game/objects/items.dm
Owners: none

changes
  code/datums/components/crafting/crafting.dm
  code/datums/elements/loomable.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# GoldenAlpharex
/.github/workflows/ @GoldenAlpharex
/SQL/ @GoldenAlpharex
/tools/ @GoldenAlpharex
/modular_nova/ @GoldenAlpharex
/icons/ @GoldenAlpharex

# Jolly-66
/tools/maplint/lints @Jolly-66
/tools/UpdatePaths @Jolly-66

# Zergspower
/modular_nova/modules/borgs @Zergspower
/modular_nova/modules/borg_buffs @Zergspower
/modular_nova/modules/ghostcafe @Zergspower
/modular_nova/modules/hotel_rooms @Zergspower
/modular_nova/master_files/code/modules/mapfluff @Zergspower
/modular_nova/modules/ashwalkers @Zergspower
/modular_nova/modules/aesthetics/keyed_doors @Zergspower

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @Zergspower @sqnztb
/modular_nova/modules/mapping @Jolly-66 @Zergspower @sqnztb

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @GoldenAlpharex
