Repository NovaSector/NovaSector, pull requests merged in 2023-12, with the labels that each got.

#1 Starting the rebranding to Nova Sector
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  modular_skyrat/module_template.md
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/icons/nova_sector_title_screen.png
  modular_skyrat/modules/title_screen/icons/skyrat_title_screen.png
  modular_skyrat/readme.md
  tgui/packages/tgui/interfaces/Changelog.jsx
Labels: Quality of Life

#136 Fixes Compile Changelog by making it use GITHUB_TOKEN instead of a secret token
  .github/workflows/compile_changelogs.yml
Labels: GitHub

#129 [MODULAR] Fixes colonial cloaks not being able to hold any suit storage items
  modular_nova/modules/food_replicator/code/clothing.dm
  modular_nova/modules/novaya_ert/code/police_outfit.dm
Labels: Fix

#144 [MIRROR] Fix some incorrect uses of "src" in energized component
  code/datums/components/energized.dm
Labels: Fix, Upstream PR Merged

#143 [MIRROR] Fixes input value not clearing on NTOS app [no gbp]
  tgui/packages/tgui/components/Input.tsx
Labels: Fix, GBP: No Update, UI, Upstream PR Merged

#142 [MIRROR] Fixes wallmounted lights falling on drag
  code/datums/components/wall_mounted.dm
Labels: Fix, Upstream PR Merged

#141 [MIRROR] [NO GBP] Some reaction & chamber fixes
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder/holder.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Fix, GBP: No Update, Upstream PR Merged

#148 [MIRROR] Add 50% graffiti speed boost to tagger quirk
  code/datums/quirks/positive_quirks/tagger.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/syndie_spraycan.dm
Labels: Feature, Fix, Upstream PR Merged

#117 Ghost Cafe Re-model
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_nova/modules/ghostcafe/code/ghost_cafe_items.dm
  modular_nova/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_nova/modules/ghostcafe/code/ghostcafeturf.dm
  modular_nova/modules/mapping/code/areas/centcom.dm
  tgstation.dme
Labels: Feature, Test Merged, Good First PR

#97 Resprited Vox Clothing (Nova Station Edition)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  modular_nova/modules/GAGS/icons/jumpsuit_better_vox.dmi
  modular_nova/modules/better_vox/icons/clothing/back.dmi
  modular_nova/modules/better_vox/icons/clothing/belt.dmi
  modular_nova/modules/better_vox/icons/clothing/eyes.dmi
  modular_nova/modules/better_vox/icons/clothing/hands.dmi
  modular_nova/modules/better_vox/icons/clothing/head.dmi
  modular_nova/modules/better_vox/icons/clothing/helmet.dmi
  modular_nova/modules/better_vox/icons/clothing/mask.dmi
  modular_nova/modules/better_vox/icons/clothing/mod.dmi
  modular_nova/modules/better_vox/icons/clothing/neck.dmi
  modular_nova/modules/better_vox/icons/clothing/suit.dmi
  modular_nova/modules/better_vox/icons/clothing/uniform.dmi
Labels: Sprites, Test Merged, Good First PR

#123 Re-adding Cat Scream (Normalized)
  modular_nova/modules/emotes/code/scream_datums.dm
  modular_nova/modules/emotes/sound/voice/scream_cat.ogg
Labels: Feature, Good First PR

#168 Reinstates all of the positive GBP scores from the previous repo, giving amnesty to almost everyone else
  .github/gbp-balances.toml
Labels: GitHub

#175 Fix BYOND membership status available to non-members
  code/modules/client/preferences.dm
  modular_nova/master_files/code/modules/mob/login.dm
  modular_nova/modules/player_ranks/code/preferences.dm
  modular_nova/modules/player_ranks/code/subsystem/player_ranks.dm
  tgstation.dme
Labels: Fix

#208 Fixes Niftsoft Settings Panel
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Fix, UI
