Repository NovaSector/NovaSector, pull requests merged in 2024-03, with the labels that each got.

#1217 [MIRROR] Fitness Title Change
  code/datums/skills/fitness.dm
Labels: Grammar and Formatting

#1218 [MIRROR] [NO GBP] adds extra explainer text on updated BB convert objective
  code/modules/antagonists/brother/brother.dm
Labels: Fix, GBP: No Update

#1221 [MIRROR] Fixed the floortile crate, adds them to blackmarket
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/packs/imports.dm
  icons/mob/clothing/back/backpack.dmi
  icons/obj/storage/backpack.dmi
Labels: Feature, Fix, Sprites

#1220 Ghouls can (once again) replace their limbs with meat slabs
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: Fix

#1182 another dono mask
  modular_nova/master_files/icons/donator/mob/clothing/mask.dmi
  modular_nova/master_files/icons/donator/obj/clothing/masks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Donator Item

#1241 extremely small donator item adjustment
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Donator Item

#1262 [MODULAR] Character Headshots via files.byondhome.com
  modular_nova/master_files/code/modules/client/preferences/headshot.dm
Labels: Quality of Life

#1268 [MIRROR] [no gbp] Lazy Templates can be configured to Place on Top, deathmatch does this now
  code/datums/lazy_template.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: Fix, GBP: No Update

#1269 [MIRROR] fixes extra prob() in living flesh Life proc
  code/modules/mob/living/basic/ruin_defender/flesh.dm
Labels: Fix

#1270 [MIRROR] moon smile effect durations fix
  code/modules/antagonists/heretic/magic/moon_smile.dm
Labels: Fix

#1265 Fixes synths spilling brains when gibbed in deathmatch
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/mob/living/death.dm
  modular_nova/master_files/code/modules/mob/living/carbon/death.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/surgery/organs/genitals.dm
  modular_nova/modules/interaction_menu/code/interaction_datum.dm
  modular_nova/modules/modular_items/lewd_items/code/verbs.dm
  tgstation.dme
Labels: Code Improvement, Fix

#1281 [MIRROR] DropDown buttons fix
  tgui/packages/tgui/components/Dropdown.tsx
Labels: UI

#1280 [MIRROR] Makes the Omen coupon only trigger bad luck once, like it used to
  code/modules/cargo/coupon.dm
Labels: Fix

#1284 [MIRROR] Adds missing items to Robotics crate
  code/modules/cargo/packs/science.dm
Labels: Fix

#1288 [MIRROR] Fix all bibles being carved
  code/modules/library/bibles.dm
Labels: Fix

#1289 [MIRROR] Fixes jank with moving down Zs as a ghost
  code/modules/mob/dead/observer/observer_movement.dm
Labels: Fix

#1290 [MIRROR] Changes animation of status alerts (makes it bounce slightly like Project Zomboid)
  code/_onclick/hud/alert.dm
Labels: Feature

#1294 [MIRROR] Lockers and crates shake when someone is trying to break out of them
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Feature

#1298 [MIRROR] Changes flash Paralyze to Knockdown
  code/modules/assembly/flash.dm
  code/modules/unit_tests/antag_conversion.dm
Labels: Balance

#1299 [MIRROR] Prevents polymorph using specific mobs for deleting items/people
  code/modules/clothing/belts/polymorph_belt.dm
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
Labels: Fix

#1300 [MIRROR] fixes basic mobs with ranged attacks attacking in containers
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
Labels: Fix

#1306 [MIRROR] Makes revenants able to emag medibots (and other basic bots)
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
Labels: Fix

#1307 [MIRROR] Boulder refineries can process golems
  code/modules/mining/boulder_processing/_boulder_processing.dm
  code/modules/mining/boulder_processing/refinery.dm
Labels: Feature

#1308 [MIRROR] Adding a blood brother via the team panel sets it up correctly
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/brother/brother.dm
Labels: Administration, Fix

#1309 [MIRROR] Feeds OOC messages back to client if blocked in validate_client()
  code/__DEFINES/client.dm
  code/__HELPERS/clients.dm
  code/modules/client/verbs/ooc.dm
Labels: Quality of Life

#1340 [MIRROR] Fixes spies having multi-use autosurgeons
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/uplink/uplink_items/spy_unique.dm
Labels: Fix

#1342 [MIRROR] Fix access management program not updating on ID authentication
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Fix

#1343 [MIRROR] Extends the metric prefixes.
  code/__HELPERS/maths.dm
  code/modules/unit_tests/siunit.dm
Labels: Quality of Life

#1344 [MIRROR] adds EVA to common access
  code/__DEFINES/access.dm
Labels: Quality of Life

#1414 [MIRROR] Makes Ephedrine not give spasms when holding a small or tiny item in your active hand, Also makes the movement speed scale with purity
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance

#1415 [MIRROR] Moffers Crafting Recipe
  code/datums/components/crafting/entertainment.dm
Labels: Feature

#1418 [MIRROR] Ore vent fixes to spawning multiple megafauna.
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Fix

#1419 [MIRROR] Fixes grammar and formatting on the description of friendly megafauna
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: Grammar and Formatting

#1421 [MIRROR] Fixes lag in search bars
  tgui/packages/tgui/components/Input.tsx
Labels: Fix, UI

#1422 [MIRROR] Making the fuck you coupon trigger only once, take two
  code/game/objects/items/storage/fancy.dm
  code/modules/cargo/coupon.dm
Labels: Fix

#1423 [MIRROR] Gulag boulder mining adjustments
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/boulder_processing/boulder.dm
Labels: Balance

#1410 fixes some minor oddities in blueshift
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix, Quality of Life, Map Edit

#1430 [MIRROR] Clicking sub sections in lathes will auto scroll to them
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
Labels: Fix, UI

#1432 [MIRROR] Buffs the SC/FISHER Saboteur Handgun.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/dcs/signals/signals_saboteur.dm
  code/__DEFINES/robots.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/melee/baton.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/pai/card.dm
  code/modules/pai/pai.dm
  code/modules/power/apc/apc_main.dm
  code/modules/projectiles/projectile/special/lightbreaker.dm
  code/modules/projectiles/projectile/special/saboteur.dm
  code/modules/vehicles/mecha/_mecha.dm
  tgstation.dme
Labels: Balance, Feature

#1433 [MIRROR] Thermal Pistol Rework Attempt Two: You Spin to Win (it uses the crank energy weapon mechanics)
  code/datums/components/crank_recharge.dm
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Balance

#1434 [MIRROR] Summon Simians Max Level Reward Change
  code/modules/spells/spell_types/conjure/simian.dm
  code/modules/spells/spell_types/shapeshift/gorilla.dm
  tgstation.dme
Labels: Balance

#1446 [MIRROR] Instrument editor now uses TGUI
  code/__DEFINES/instruments.dm
  code/controllers/subsystem/processing/instruments.dm
  code/datums/ai/generic/generic_behaviors.dm
  code/modules/instruments/items.dm
  code/modules/instruments/piano_synth.dm
  code/modules/instruments/songs/_song.dm
  code/modules/instruments/songs/editor.dm
  code/modules/instruments/songs/play_synthesized.dm
  tgui/packages/tgui/components/Collapsible.tsx
  tgui/packages/tgui/interfaces/InstrumentEditor.tsx
Labels: Refactor, UI

#1445 [MIRROR] [no gbp] fix span type errors with poll alerts
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix, GBP: No Update

#1448 [MIRROR] Adds logging to SSore_generation on subsystem initialize
  code/__DEFINES/logging.dm
  code/__DEFINES/mining.dm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/ore_generation.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/game/turfs/closed/minerals.dm
  code/modules/logging/categories/log_category_misc.dm
Labels: Code Improvement, Logging

#1451 Differentiates Bat Harpy Wings Spriting
  modular_nova/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites

#1457 Removes Unused variable pass to proc in food perfs
  modular_nova/master_files/code/modules/client/preferences/middleware/food.dm
Labels: GBP: No Update, Removal

#1453 [MIRROR] Fixes timezone offset
  code/game/world.dm
Labels: Fix

#1454 [MIRROR] adds tooltip to the newscaster `Print Newspaper` button telling you to insert paper if it's empty
  tgui/packages/tgui/interfaces/Newscaster.jsx
Labels: Quality of Life, UI

#1455 [MIRROR] Placing things in a paperbin actually plays sounds.
  code/modules/paperwork/paperbin.dm
Labels: Sound

#1456 [MIRROR] Fixes the RTD, RLD, and the engi rebar crossbow not fitting on a engi winter coat's storage slot
  code/modules/clothing/suits/wintercoats.dm
Labels: Fix

#1458 [MIRROR] now spiders get extra damage by fly swatter
  code/game/objects/items/weaponry.dm
Labels: Fix

#1459 [MIRROR] Cleanbots can't acid people unless emagged.
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
Labels: Fix

#1460 [MIRROR] [NO GBP] Several pipe cap visibility fixes
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix, GBP: No Update

#1461 [MIRROR] Fix modsuit pathfinder module / JPS changes
  code/datums/ai/_ai_controller.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_jps.dm
  code/datums/ai/objects/mod.dm
Labels: Fix

#1462 [MIRROR] Adds evidence bag boxes to the Lawyer's wardrobe
  code/modules/vending/wardrobes.dm
Labels: Quality of Life

#1464 [MIRROR] Fix polling mutating its target's plane and layer
  code/controllers/subsystem/polling.dm
Labels: Fix

#1466 [MIRROR] Adds new vending machine tooltips.
  code/modules/vending/_vending.dm
  modular_nova/modules/mapping/code/wardrobes.dm
Labels: Quality of Life

#1463 [MIRROR] Removes a extra assignment
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
Labels: Removal

#1477 [MIRROR] Deathmatch modifiers
  code/__DEFINES/combat.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/__HELPERS/cmp.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/echolocation.dm
  code/datums/components/tameable.dm
  code/datums/elements/inverted_movement.dm
  code/game/atom/_atom.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/shrapnel.dm
  code/modules/cargo/supplypod.dm
  code/modules/deathmatch/deathmatch_controller.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_modifier.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/farm_animals/cow/_cow.dm
  code/modules/mob/living/basic/farm_animals/cow/cow_moonicorn.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/mob/living/basic/farm_animals/pony.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/minebots/minebot.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/mob/living/basic/pets/parrot/_parrot.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/eyeball/_eyeball.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/simple_animal/hostile/vatbeast.dm
  code/modules/vehicles/motorized_wheelchair.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/DeathmatchLobby.tsx
Labels: Feature, UI

#1474 [MIRROR] Removing a job now removes its positions
  code/__DEFINES/jobs.dm
  code/modules/jobs/departments/departments.dm
Labels: Fix, Removal

#1473 [MIRROR] Fixes sec computers having infinite distance
  code/game/machinery/computer/camera.dm
Labels: Fix

#1470 [MIRROR] Posters return to your hand when cut down/not hung up, abductor posters more resilient to wirecutters
  code/game/objects/effects/posters/poster.dm
  code/game/objects/effects/wanted_poster.dm
  code/game/turfs/closed/walls.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_posters.dm
Labels: Quality of Life

#1468 [MIRROR] Adds a collar bomb
  code/datums/wires/collar_bomb.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/clothing/neck/collar_bomb.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_general.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/devices/assemblies.dmi
  tgstation.dme
Labels: Feature, Sprites

#1469 [MIRROR] Skateboard tweaks and buffs.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/riding/riding_vehicle.dm
  code/game/atoms_movable.dm
  code/game/turfs/open/lava.dm
  code/modules/mob/mob_movement.dm
  code/modules/vehicles/scooter.dm
Labels: Balance, Feature

#1472 [MIRROR] Fix psyker echolocation lag
  code/datums/components/echolocation.dm
Labels: Fix

#1447 [MIRROR] Adds a persistent piggy bank to the vault.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/piggy_bank.dm
  code/game/objects/structures/safe.dm
  code/modules/unit_tests/required_map_items.dm
Labels: Feature, Map Edit

#1480 [MIRROR] Getting shrunk makes your voice small
  code/__DEFINES/say.dm
  code/datums/components/shrink.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Feature

#1481 [MIRROR] Lathes stop printing properly when facing material problems
  code/modules/research/machinery/_production.dm
Labels: Fix

#1484 [MIRROR] Training in heavy gravity gives you more experience points
  code/game/objects/structures/gym/punching_bag.dm
  code/game/objects/structures/gym/weight_machine.dm
Labels: Balance

#1485 [MIRROR] MODsuit now uses spacesuit cell hud element
  code/__DEFINES/alerts.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_core.dm
  code/modules/mod/modules/_module.dm
  icons/hud/screen_gen.dmi
Labels: Feature, Sprites

#1498 [MIRROR] Fixes TextInputModal not updating state on consecutive inputs
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: Fix, UI

#1499 [MIRROR] [NO GBP] Fixes plasmaman nukeop reinforcements being given the wrong outfits
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix, GBP: No Update

#1501 [MIRROR] Fixes Headsets Being Wonky On Non-Poly Parrots
  code/modules/mob/living/basic/pets/parrot/parrot_items.dm
Labels: Fix

#1502 [MIRROR] DeathMatch Rolling Antag Fix
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#1504 [MIRROR] Dice roll messages now properly detect if the die was rolled inhand or thrown
  code/game/objects/items/dice.dm
Labels: Fix

#1505 [MIRROR] [no gbp] sentience potion reason set via alt-click
  code/modules/research/xenobiology/xenobiology.dm
Labels: GBP: No Update, Quality of Life

#1500 [MIRROR] Request GaGsification - Gis
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/gi.json
  code/modules/clothing/under/costume.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#1510 [Modular] Adds cameras to a few areas in blueshift
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Feature, Fix, Map Edit

#1512 [MIRROR] Fixing Cargo (Take 2)
  code/modules/cargo/exports.dm
Labels: Fix

#1513 [MIRROR] [NO GBP] The deathmatch modifiers modal menu can actually be opened now.
  code/datums/components/riding/riding_mob.dm
  code/datums/elements/inverted_movement.dm
  code/modules/cargo/supplypod.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_modifier.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/vehicles/motorized_wheelchair.dm
  tgui/packages/tgui/interfaces/DeathmatchLobby.tsx
Labels: Fix, GBP: No Update, UI

#1515 [MIRROR] Fixes an issue with strip menus making duplicate windows
  code/datums/elements/strippable.dm
Labels: Fix

#1516 [MIRROR] Gulag Teleporter Will Now Always Properly Strip Inventory
  code/game/machinery/gulag_teleporter.dm
Labels: Fix

#1518 [MIRROR] Fixes exploration drone console UI
  tgui/packages/tgui/interfaces/ExodroneConsole.tsx
Labels: Fix, UI

#1520 [MIRROR] Export barcodes show on packages
  code/modules/recycling/sortingmachinery.dm
  icons/obj/storage/wrapping.dmi
Labels: Fix, Sprites

#1524 [MIRROR] [NO GBP] Fixes action_type on clothing to be a list on two items that where static
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/bandana.dm
Labels: GBP: No Update

#1487 [MIRROR] Brings the captain's safe off the wall, safes now save their contents
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/secure_safe.dm
  icons/obj/structures.dmi
Labels: Fix, Sprites, Map Edit

#1514 [MIRROR] Puts Deathmatch map names, keys in line with each other (WARNING: LETHAL DOSES OF SNAKECASE INSIDE)
  _maps/deathmatch/OSHA_Violator.dmm
  _maps/deathmatch/arena_station.dmm
  _maps/deathmatch/backalley.dmm
  _maps/deathmatch/instagib.dmm
  _maps/deathmatch/maint_mania.dmm
  _maps/deathmatch/meat_tower.dmm
  _maps/deathmatch/mech_madness.dmm
  _maps/deathmatch/meta_brig.dmm
  _maps/deathmatch/ragecage.dmm
  _maps/deathmatch/secu_ring.dmm
  _maps/deathmatch/shooting_range.dmm
  _maps/deathmatch/sniper_elite.dmm
  _maps/deathmatch/sunrise.dmm
  _maps/deathmatch/underground_arena.dmm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: Code Improvement, Map Edit

#1465 [MIRROR] New GaGs clothing: Part 1 - 'Dress'ing up!
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/datums/elements/gags_recolorable.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/cardiganskirt.json
  code/datums/greyscale/json_configs/eveningdress.json
  code/datums/greyscale/json_configs/sailor_dress.json
  code/datums/greyscale/json_configs/striped_dress.json
  code/modules/clothing/under/skirt_dress.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/under/dress.dmi
  icons/obj/clothing/under/dress.dmi
  modular_nova/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_nova/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tools/UpdatePaths/Scripts/65236_clothingunderrepath.txt
Labels: Sprites, Tools, Map Edit

#1528 [MIRROR] Fix vending machine shocking you twice when you pulse high voltage wire
  code/datums/wires/airlock.dm
  code/datums/wires/vending.dm
Labels: Fix

#1529 [MIRROR] Allows the use of wirecutters for Tend Wounds
  code/modules/surgery/healing.dm
Labels: Quality of Life

#1532 Syndie Outpost & Pirate Fort AT Fix
  _maps/RandomRuins/SpaceRuins/nova/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/nova/syndibase.dmm
Labels: Fix, Map Edit

#1533 Remove varedited floors from syndie slaver shuttle
  _maps/shuttles/nova/slaver_syndie.dmm
Labels: Fix, Map Edit

#1536 [MIRROR] Suppresses excessive logging that results from fights in the deathmatch
  code/__DEFINES/_flags.dm
  code/__HELPERS/logging/attack.dm
  code/game/objects/effects/effect_system/fluid_spread/_fluid_spread.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/modules/deathmatch/deathmatch_mapping.dm
Labels: Administration, Code Improvement, Logging

#1537 [MIRROR] Stops cluster grenades from spamming admins
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/grenades/clusterbuster.dm
Labels: Administration

#1539 [MIRROR] Infrared Emitters use beam datums (As God intended)
  code/__DEFINES/dcs/signals/signals_beam.dm
  code/datums/beam.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/assembly/infrared.dm
Labels: Fix, Refactor

#1540 [MIRROR] Converts ore_mined talley into only recording typepaths.
  code/modules/mining/boulder_processing/boulder.dm
Labels: Code Improvement, Fix

#1541 [MIRROR] Allow hemiplegic users to pick which side is disabled
  code/_globalvars/lists/quirks.dm
  code/datums/quirks/negative_quirks/hemiplegic.dm
  code/modules/client/preferences/hemiplegic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/hemiplegic.tsx
Labels: Feature, UI

#1542 [MIRROR] [No GBP] Vending examine message now properly shows the name of the vending refill required.
  code/modules/vending/_vending.dm
Labels: Fix, GBP: No Update

#1543 [MIRROR] [NO-GBP] Genetic sequencer scanning makeup now detects when targets moves out of range
  code/game/objects/items/devices/scanners/sequence_scanner.dm
Labels: Fix

#1544 [MIRROR] Fix hack comms console/locate weakpoint objective showing up multiple times
  code/modules/antagonists/traitor/objectives/hack_comm_console.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
Labels: Fix

#1545 [MIRROR] fixes fake laser lenses falling out of pirates
  code/modules/mob/living/basic/trooper/pirate.dm
Labels: Fix

#1547 [S] removes the shuttle call for the Wireweed
  modular_nova/modules/space_ruin_specifics/code/fleshmind_controller.dm
Labels: Removal

#1548 [MIRROR] Makes the DM too old to build message better.
  tools/build/lib/byond.js
Labels: Tools

#1550 [MIRROR] Fixes an odd bug with record consoles
  code/__DEFINES/computers.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
Labels: Fix

#1554 Revert "[S] removes the shuttle call for the Wireweed"
  modular_nova/modules/space_ruin_specifics/code/fleshmind_controller.dm
Labels: Removal, Revert

#1558 Fixes MSAY, MHELP, LOOC, and WALLPIERCE LOOC verbs
  modular_nova/modules/mentor/code/mentorhelp.dm
  modular_nova/modules/mentor/code/mentorsay.dm
  modular_nova/modules/verbs/code/looc.dm
Labels: Fix

#1549 [MIRROR] Add corner filled striped decals
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  icons/turf/decals.dmi
Labels: Feature, Sprites

#1551 [MIRROR] Hand label refactor / Adds hand label visuals
  code/__DEFINES/say.dm
  code/datums/components/label.dm
  code/datums/components/sticker.dm
  code/game/objects/items/stickers.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/paperwork/pen.dm
  icons/obj/toys/stickers.dmi
  tgstation.dme
Labels: Quality of Life, Refactor, Sprites

#1530 Ash Walker Camp QoL map-changes.
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_nenest.dmm
Labels: Feature, Quality of Life, Test Merge Candidate, Map Edit

#1522 [MIRROR] [NO GBP] bumps auxlua to 1.4.4
  auxlua.dll
  dependencies.sh
Labels: Fix, GBP: No Update

#1534 [MIRROR] Fixes various different things that are breaking the lua editor.
  tgui/packages/tgui/interfaces/LuaEditor/index.jsx
Labels: Fix, UI

#1561 [MIRROR] Deathmatch Modifiers Tweaks and Additions
  code/game/objects/effects/forcefields.dm
  code/modules/cargo/supplypod.dm
  code/modules/deathmatch/deathmatch_modifier.dm
Labels: Feature, Fix, Removal

#1564 [MIRROR] Fixes patronising paintings when there's no curators.
  code/modules/art/paintings.dm
Labels: Fix

#1565 [MIRROR] Fixes envelope & reagent holder interaction
  code/game/objects/items/mail.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Fix

#1567 [MIRROR] Vending machines double check for ID
  code/modules/vending/_vending.dm
Labels: Fix

#1568 [MIRROR] Enforces checks on dual wielding items
  code/datums/components/twohanded.dm
Labels: Fix

#1574 [MIRROR] Adds contextual screentips to air alarms
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_contextual_tips.dm
  tgstation.dme
Labels: Quality of Life

#1573 [MIRROR] [NO GBP] Removes energy lens from mimesvsclowns ruin.
  _maps/RandomRuins/SpaceRuins/mimesvsclowns.dmm
Labels: Fix, GBP: No Update, Removal, Map Edit

#1579 [MIRROR] Implements orderable fish food.
  code/modules/cargo/goodies.dm
Labels: Quality of Life

#1580 [MIRROR] Driving any vehicle into the supermatter will dust all passengers
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/riding/riding.dm
  code/datums/components/supermatter_crystal.dm
  code/modules/vehicles/sealed.dm
Labels: Fix

#1581 [MIRROR] Improves RCD Logging
  code/__HELPERS/logging/tool.dm
  code/game/objects/items/rcd/RCD.dm
Labels: Fix, Logging

#1552 Blueshift - No more roundstart Gravity Blackouts
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix, Quality of Life, Map Edit

#1566 [MIRROR] Fixes some dirt tiles in Deathmatch Sunrise
  _maps/deathmatch/sunrise.dmm
Labels: Fix, Map Edit

#1523 [MIRROR] Adds a shower drain fluff item
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/pirate_irs.dmm
  code/game/objects/structures/fluff.dm
Labels: Map Edit

#1582 [MIRROR] Throws gangtools into a bottomless pit
  code/game/objects/items/choice_beacon.dm
  code/game/objects/items/control_wand.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mining/aux_base.dm
  code/modules/shuttle/assault_pod.dm
  icons/mob/inhands/items/devices_lefthand.dmi
  icons/mob/inhands/items/devices_righthand.dmi
  icons/obj/devices/remote.dmi
  modular_nova/master_files/code/modules/jobs/off_duty_check.dm
  modular_nova/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_nova/modules/modular_implants/code/nifsofts/hivemind.dm
  modular_nova/modules/modular_items/code/summon_beacon.dm
  modular_nova/modules/novaya_ert/code/advanced_choice_beacon.dm
Labels: Sprites

#1588 [MIRROR] [NO GBP] Fix curators not getting a cut from patronized paintings in a better way
  code/controllers/subsystem/economy.dm
  code/modules/economy/account.dm
Labels: Fix, GBP: No Update

#1589 [MIRROR] Fixes music importing newlining
  code/modules/instruments/songs/editor.dm
Labels: Fix

#1585 [MIRROR] [NO GBP] Fixes the LTSRBT
  code/controllers/subsystem/blackmarket.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_telepad.dm
Labels: Fix, GBP: No Update

#1584 [MIRROR] Stops Ghosts changing lathe output
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
Labels: Fix

#1595 [MIRROR] Deconstruct Wooden/Cardboard Crates Without Welder
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates/cardboard.dm
  code/game/objects/structures/crates_lockers/crates/wooden.dm
Labels: Feature

#1594 [MIRROR] Fix; pet carrier unfriending pets put in it.
  code/game/objects/items/pet_carrier.dm
Labels: Fix

#1592 [MIRROR] exclude deathmatch loadouts from outfit_sanity
  code/modules/unit_tests/outfit_sanity.dm
Labels: Fix

#1553 March 2024 iska's body markings
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites

#1596 [MIRROR] Jellyperson Hair Fix B: "If you're gonna have it, do it right"
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Fix

#1479 Disables the Drifting Contractor random event in favor of using dynamic only to spawn them
  modular_nova/modules/contractor/code/datums/midround/event.dm
Labels: Fix, Test Merged

#1604 [MIRROR] [NO GBP] Fixes input field & related lathe search bar
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/components/VirtualList.tsx
Labels: Fix, GBP: No Update, UI

#1608 [MIRROR] Changeling IDs now have examine string
  code/__DEFINES/id_cards.dm
  code/game/objects/items/cards_ids.dm
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix

#1609 [MIRROR] Virgin Mary (item) code fixes
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/virgin_mary.dm
Labels: Fix

#1610 [MIRROR] Gold and Silver crate now reflects NT corporate greed
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Quality of Life

#1611 [MIRROR] Fixes Venus Human Trap Tangle Ability
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Fix

#1612 [MIRROR] Removing unsynthesisable reagents from rolling in secret recipes.
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#1614 [MIRROR] Give smoke machines the simple_rotation component
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
Labels: Quality of Life

#1621 [MIRROR] aligns certain binary atmos device map sprites + extra layer prefabs
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  icons/obj/machines/atmospherics/binary_devices.dmi
Labels: Sprites

#1620 [MIRROR] Fixes crank weapons never charging using the crank. Fixes stun batons having functionally infinite charge.
  code/game/objects/items/melee/baton.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
Labels: Fix

#1617 Adds a 'Junior chef' alt-title for chefs
  modular_nova/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#1622 [MIRROR] Rack sounds pr turned rack code refactor
  code/game/objects/structures/tables_racks.dm
Labels: Code Improvement, Fix, Quality of Life, Refactor, Removal, Sound

#1570 [MIRROR] Adds three brain traumas (feat. returning to monkey)
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
  code/datums/brain_damage/special.dm
  code/modules/religion/honorbound/honorbound_trauma.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Feature, Test Merged

#1636 [MIRROR] Fix puzzlegrids not reporting their answer
  code/datums/components/puzzgrid.dm
Labels: Fix

#1641 [MIRROR] Bitrunners can broadcast their bitruns to the crew via Entertainment Monitors
  code/__DEFINES/bitrunning.dm
  code/datums/components/simple_bodycam.dm
  code/game/machinery/computer/telescreen.dm
  code/modules/bitrunning/objects/quantum_console.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/util.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
Labels: Feature, UI

#1659 [MIRROR] Fixes starting self surgery
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/tools.dm
Labels: Fix
