Repository NovaSector/NovaSector, pull requests merged in 2024-11, with the labels that each got.

#4551 Adds Interdrobe to ghost cafe and removes a certain vine from ghost cafe
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Removal, Map Edit

#4554 Adds a missing wire next to Icebox Interdyne's library
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Fix, Map Edit

#4540 Gecko Tail!
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites

#4550 Adds four new hairstyles
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Sprites

#4591 Fixes floating lamp in Ouroboros maints
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Edit

#4579 Reverts #1832 - Beepsky doesnt check weapons by default anymore.
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Quality of Life, Revert

#4574 Adds donor items for thedragmeme
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Donator Item

#4590 [NO GBP] Add myself to maps codeowners.
  .github/CODEOWNERS
Labels: GBP: No Update, GitHub

#4600 SerenityStation patches
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Fix, Map Edit

#4582 Removes the boobytrapped bluespace cell from Wawa's asteroid
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/wawastation/wawastation_asteroidbluecell.dmm
Labels: Removal, Map Edit

#4589 Snowglobe Service Pack: Fixes and improvements
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Edit

#4604 [NO GBP] Fixes delta cargo shuttle
  _maps/shuttles/nova/cargo_nova_delta.dmm
Labels: Fix, GBP: No Update, Map Edit

#4577 Med Technician Kit Balance Pass
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
  modular_nova/modules/exp_corps/code/gear.dm
Labels: Balance

#4592 Fixes Felinid tail wagging
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Fix

#4605 Touches up Ouroboros's powernet.
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Edit

#4593 Fix escape menu spacing
  modular_nova/modules/escape_menu/code/escape_menu_nova.dm
Labels: Fix

#4612 crate chaos crate position randomizes again (early tg port)
  _maps/virtual_domains/psyker_shuffle.dmm
Labels: Fix, Map Edit

#4613 Port of "Fix niche bitrunner avatar name bug and make net avatar ID take on avatar name" (but without TGS DMAPI)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: Fix, Quality of Life

#4598 nerfs changeling to prepare for it being readded.
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/movespeed/modifiers/innate.dm
  modular_nova/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: Balance

#4578 Restocking part I, a semi-replacement of the Szot Dynamica guns we already have.
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/plasma.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/ammo/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pistol.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_lefthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_righthand.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/guns_worn.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/inhands_64_left.dmi
  modular_nova/modules/modular_weapons/icons/mob/company_and_or_faction_based/szot_dynamica/inhands_64_right.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_32.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_48.dmi
  modular_nova/modules/modular_weapons/icons/obj/company_and_or_faction_based/szot_dynamica/guns_64.dmi
Labels: Code Improvement, Test Merged

#4637 Fixes a typo in horrorform bone fragment embed datum
  modular_nova/modules/horrorform/code/true_changeling.dm
Labels: Fix

#4639 Icemoon Interdyne photocopier is now free to use
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Fix, Map Edit

#4640 Fix OPFOR bluescreen
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: Fix, UI

#4638 Fixes disarming airbags as a ghost
  modular_nova/modules/window_airbags/code/window_airbag.dm
Labels: Fix

#4643 fixes those silly little amollin pills lying to us
  modular_nova/modules/deforest_medical_items/code/storage_items.dm
Labels: Fix
