Repository NovaSector/NovaSector, pull requests merged in 2024-05, with the labels that each got.

#2265 [MIRROR] Fixes monkeys falling over through windoors
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/modules/events/immovable_rod/immovable_rod.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/living.dm
Labels: Fix

#2271 [MIRROR] [NO GBP]Fixes hypercharged slime core cells and circuit gun cells starting with an insignificant amount of charge.
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/wiremod/shell/gun.dm
Labels: Fix, GBP: No Update

#2272 [MIRROR] Fixes a way to get a very long gold number
  code/game/machinery/computer/arcade/battle.dm
Labels: Fix

#2273 [MIRROR] Wheelchair qol
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/modules/vehicles/wheelchair.dm
Labels: Quality of Life

#2275 [MIRROR] civilian bounty control terminal displays bounty description and payout of new bounty options
  code/game/machinery/civilian_bounties.dm
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.jsx
Labels: Fix, Quality of Life, UI

#2283 [MIRROR] Stamp papers quickly with a right click
  code/modules/paperwork/paper.dm
Labels: Quality of Life

#2276 [MIRROR] Fixes jousting bypassing pacifism + Some signal doc
  code/__DEFINES/dcs/signals/signals_object.dm
  code/_onclick/item_attack.dm
  code/datums/components/jousting.dm
Labels: Fix

#2237 Zhenkov IPC - Dark Edition
  modular_nova/master_files/icons/mob/augmentation/zhenkovipc_dark.dmi
  modular_nova/modules/customization/_globalvars/lists.dm
Labels: Sprites

#1928 Adds department guard belts + equipment qol
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_nova/modules/goofsec/code/department_guards.dm
  modular_nova/modules/goofsec/code/lockers.dm
  modular_nova/modules/goofsec/icons/belt_worn.dmi
  modular_nova/modules/goofsec/icons/belts.dmi
  modular_nova/modules/modular_weapons/code/pepperball_gun.dm
  tgstation.dme
Labels: Quality of Life, Sprites

#2289 Pharmacist's Harmacy: Adds new labcoat to chemdrobe
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
Labels: Feature, Sprites

#2304 Fixes transfer votes not working automatically
  modular_nova/modules/autotransfer/code/transfer_vote.dm
Labels: Fix

#2305 Changes the game client's logo to use the Nova Sector logo
  interface/skin.dmf
  modular_nova/master_files/icons/ui_icons/common/nova_logo_32.png
Labels: Sprites

#2322 [MIRROR] Adminmod now has radiation protect module
  code/modules/mod/mod_types.dm
Labels: Quality of Life

#2323 [MIRROR] Fixes traditional equipment having no name for its crate
  code/modules/cargo/packs/security.dm
Labels: Fix

#2331 [MIRROR] three more pais
  code/modules/pai/pai.dm
  icons/mob/silicon/pai.dmi
Labels: Feature, Sprites

#2334 [Minor fix] Raptor/Digi cybernetics recategorization
  modular_nova/modules/digitigrade_cybernetics/code/mechfabricator_designs.dm
  modular_nova/modules/tesh_augments/code/mechfabricator_designs.dm
Labels: Fix

#2308 Adds differently layered alternate "cat, big" ears
  modular_nova/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Quality of Life, Sprites

#2310 [MIRROR] Fix vote `can_be_initiated` mutating the active choices
  code/datums/votes/map_vote.dm
Labels: Fix

#1954 [SEMI-MODULAR] Taur rework Pt. 0: Lays groundwork for some taur reworks, gives taur legs names, etc.
  code/__DEFINES/~nova_defines/limbs.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_nova/modules/customization/modules/surgery/organs/taur_body.dm
  tgstation.dme
Labels: Code Improvement, Feature

#2337 [MISSED MIRRORS] General IP intel tweaks (#82904) + fix ipintel caching to db not working. (#83046)
  code/__DEFINES/admin_verb.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ipintel.dm
  code/modules/client/client_procs.dm
Labels: Config Update

#2316 Accursed protogen markings (bounty, and modular)
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature, Sprites

#2342 [MIRROR] Greps for pronoun helper spelling mistakes
  code/__DEFINES/pronouns.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  tools/ci/check_grep.sh
Labels: Fix, Tools

#2343 [MIRROR] temporarily soulless bodies dont appear as soulless on medhud
  code/game/data_huds.dm
Labels: Quality of Life

#2344 [MIRROR] Removes unused tutorial_instruction var
  code/modules/tutorials/tutorial_instruction.dm
Labels: Removal

#2336 Move some scrubbers in the Blackmarket Burst shuttle
  _maps/shuttles/nova/ruin_blackmarket_burst.dmm
Labels: Fix, Map Edit

#2348 [MIRROR] You can no longer shove abstract items into light sockets
  code/modules/power/lighting/light.dm
Labels: Fix

#2350 [MIRROR] Fixes runtime when an APC has a functional external power supply but no power cell inserted
  code/modules/power/apc/apc_main.dm
  code/modules/power/power.dm
Labels: Fix

#2351 [MIRROR] Fixes inducers breaking when trying to charge a PDA/Modular Computer
  code/datums/components/shell.dm
Labels: Fix

#2500 [MIRROR] Assorted minor alt-click reskinning fixes, primarily context-based
  code/game/objects/items.dm
  code/modules/clothing/masks/costume.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix, Removal

#2505 [MIRROR] Restores Balance to the Candle Economy
  code/modules/religion/religion_sects.dm
Labels: Fix

#2507 [MIRROR] Fixes simplebot ui [no gbp]
  tgui/packages/tgui/interfaces/SimpleBot.tsx
Labels: Fix, GBP: No Update, UI

#2509 [MIRROR] Atoms that are on the border of a tile will now only trigger landmines if they actually pass over said landmine
  code/game/objects/effects/mines.dm
Labels: Fix

#2512 [MIRROR] mobile defibrillator mount
  code/datums/components/crafting/furniture.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/objects/items/defib.dm
  icons/obj/machines/defib_mount.dmi
Labels: Feature, Sprites

#2513 [MIRROR] Fix radiation not causing mutations or making you bald (3 year old bug)
  code/datums/components/irradiated.dm
Labels: Fix

#2516 Fixes cargo shuttle names for sanity reasons
  modular_nova/modules/advanced_shuttles/code/shuttles.dm
Labels: Code Improvement

#2590 [MIRROR] fix a door on icebox in the bridge
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#2588 [MIRROR] Corrects player-facing instances of "recieve"
  code/game/objects/items/choice_beacon.dm
  code/game/objects/structures/deployable_turret.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Grammar and Formatting

#2589 [MIRROR] Correct spelling for moonlight amulet
  code/datums/mood_events/generic_negative_events.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
Labels: Grammar and Formatting

#2591 [MIRROR] Viewing Reticence Stats no longer causes NtOS error
  code/modules/vehicles/mecha/combat/reticence.dm
Labels: Fix

#2592 [MIRROR] add smoke kit to uplink
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items/explosive.dm
Labels: Feature

#2595 [MIRROR] reverts the description of the nuke op reinforcement beacon
  code/modules/antagonists/_common/antag_spawner.dm
Labels: Grammar and Formatting, Revert

#2596 [MIRROR] Changes default chat preferences for new players
  code/__DEFINES/preferences.dm
Labels: Quality of Life

#2597 [MIRROR] Makes wound noises drop off more quickly, requires higher severity for conspicuous messaging
  code/datums/wounds/_wounds.dm
Labels: Balance, Sound

#2599 [MIRROR] Removes night vision quirk
  modular_nova/modules/night_vision/night_vision.dm
  tgstation.dme
Labels: Removal

#2606 Adds Raptor Ranch to Icebox that NTC vore'd, Icecats and Ashies get a little one
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/icebox/icebox_ranch.dmm
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
Labels: Feature, Test Merged, Map Edit

#2420 The Skirtening 2024 (2): Adds black miniskirts.
  modular_nova/master_files/code/modules/clothing/under/jobs/security.dm
  modular_nova/master_files/icons/mob/clothing/under/security.dmi
  modular_nova/master_files/icons/obj/clothing/under/security.dmi
Labels: Sprites

#2429 Adds new Cotton Alt hair
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites

#2547 Ports hairstyle from TFF and fixes little path typo
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Code Improvement, Sprites, Good First PR

#2615 [MIRROR] Reduces free medieval holodeck claymore from 4(!) to 6 hit weapon
  code/game/objects/items/religion.dm
Labels: Balance

#2617 [MIRROR] Legion mob nerfs
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/spawn_legions.dm
Labels: Balance, Fix

#2616 [MIRROR] Create RUN_SERVER.cmd
  RUN_SERVER.cmd
Labels: Feature

#2633 [MIRROR] Adds a "Remind me later" button for tutorials
  code/modules/tutorials/_tutorial.dm
  code/modules/tutorials/tutorial_skip.dm
  tgstation.dme
Labels: Quality of Life

#2088 Ouroboros rejigging
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Test Merged, Map Edit

#2658 [MIRROR] Mindless ghosts can become harvesters
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/power/singularity/narsie.dm
Labels: Fix

#2662 [MIRROR] Adds missing info to the description of Proto-Nitrate BZ response
  code/modules/atmospherics/gasmixtures/reaction_factors.dm
Labels: Quality of Life

#2661 [MIRROR] [no gbp] fix shooting at objects on the floor
  code/modules/projectiles/projectile.dm
Labels: Fix, GBP: No Update

#2672 [MIRROR] Resprites bone armor
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites

#2673 [MIRROR] Unreverts the Material Floor Tile Sprite to the new version
  icons/turf/floors.dmi
Labels: Fix, Revert, Sprites

#2614 Adds a Donator SEVA suit
  modular_nova/master_files/icons/donator/mob/clothing/head.dmi
  modular_nova/master_files/icons/donator/mob/clothing/head_muzzled.dmi
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/mob/clothing/suit_digi.dmi
  modular_nova/master_files/icons/donator/obj/clothing/hats.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Donator Item

#2676 [MIRROR] Deletes `handle_random_events`, saving us from 1 whole proc call in `Life`
  code/__DEFINES/mobs.dm
  code/datums/status_effects/debuffs/tox_vomit.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/life.dm
  code/modules/unit_tests/mob_damage.dm
  tgstation.dme
Labels: Refactor

#2674 [MIRROR] Removes sentient disease
  code/__DEFINES/role_preferences.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/disease/disease_abilities.dm
  code/modules/antagonists/disease/disease_datum.dm
  code/modules/antagonists/disease/disease_disease.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/events/ghost_role/sentient_disease.dm
  code/modules/jobs/job_types/antagonists/sentient_disease.dm
  tgstation.dme
Labels: Removal

#2628 Entirely Self-Serving PR To Add A New Elf Ears Option
  modular_nova/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Sprites

#2675 [MIRROR] Removes miasma and gibs diseases
  code/datums/components/infective.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Removal

#2687 [MIRROR] makes food hud burger icon have a sharp outline
  code/_onclick/hud/screen_objects.dm
Labels: Sprites

#2689 [MIRROR] Vines can't pull anchored objects, can pull you off tables
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Fix

#2691 [MIRROR] Fixes Rust Victims being permanently exiled to the puke-zone.
  code/datums/elements/rust.dm
Labels: Fix

#2692 [MIRROR] Fix echolocation lag ft. an actual fix
  code/datums/components/echolocation.dm
Labels: Fix

#2693 [MIRROR] Adds additional type logging to nested feedback for all printed parts.
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
Labels: Logging

#2695 [MIRROR] Wendigo Mob Abilities
  code/datums/actions/cooldown_action.dm
  code/datums/actions/mobs/ground_slam.dm
  code/datums/actions/mobs/projectileattack.dm
  code/datums/actions/mobs/teleport.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  tgstation.dme
Labels: Refactor

#2696 [MIRROR] Infected AI (Traitor Final Objective) no longer plays the Malf Antag sound effect
  code/modules/antagonists/malf_ai/malf_ai.dm
Labels: Quality of Life

#2697 [MIRROR] Large monsters break out of the Paddy very quickly
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Balance, Fix

#2701 [MIRROR] Removes logging each lua function called on the dm side of things.
  code/modules/admin/verbs/lua/lua_state.dm
Labels: Logging, Removal

#2702 [MIRROR] [NO GBP]Fixes labour camp shuttle retrieval message.
  code/modules/mining/laborcamp/laborstacker.dm
Labels: GBP: No Update, Grammar and Formatting

#2685 Manage Player Ranks button fix
  modular_nova/modules/admin/code/player_ranks.dm
  modular_nova/modules/lorecaster/code/story_manager.dm
Labels: Fix

#2705 Hearthkin translator
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_icewalker_lower.dmm
  modular_nova/modules/modular_items/code/necklace.dm
  modular_nova/modules/primitive_catgirls/code/translator.dm
  modular_nova/modules/primitive_catgirls/icons/translator.dmi
  modular_nova/modules/primitive_catgirls/icons/translator_worn.dmi
  tgstation.dme
Labels: Feature, Sprites, Map Edit

#2683 Splotches, Top Surgery Scars, and Claw Tip Markings
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites
