Repository NovaSector/NovaSector, pull requests merged in 2024-04, with the labels that each got.

#1749 [MIRROR] cockroaches adapt to icebox atmos
  code/modules/mob/living/basic/vermin/cockroach.dm
Labels: Fix

#1755 [no gbp] Some more colony machinery power related fiksiks (for wind generators and coffee synthesizer)
  modular_nova/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_nova/modules/colony_fabricator/code/appliances/wind_turbine.dm
Labels: Fix, GBP: No Update

#1757 [MIRROR] Makes the Captain's Spare safe actually secure from being smashed open now that it's been removed from a wall.
  code/game/objects/structures/secure_safe.dm
Labels: Balance

#1772 [MIRROR] ai z level indicator
  code/__DEFINES/hud.dm
  code/_onclick/hud/ai.dm
  icons/hud/screen_ai.dmi
Labels: Quality of Life, Sprites

#1771 [MIRROR] Makes deconstruction of computer & machine frames consistent
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/machine_frame.dm
Labels: Quality of Life

#1767 [MIRROR] handheld Experimenters give more helpful feedback
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/random_scanning.dm
  code/modules/experisci/experiment/types/scanning.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_machinery.dm
  code/modules/experisci/experiment/types/scanning_material.dm
  code/modules/experisci/experiment/types/scanning_people.dm
  code/modules/experisci/experiment/types/scanning_plants.dm
  code/modules/experisci/experiment/types/scanning_points.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
Labels: Code Improvement, Quality of Life

#1766 [MIRROR] Removes Space Dragon Final Objective
  code/game/objects/items/dna_probe.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/final_objective/space_dragon.dm
  tgstation.dme
Labels: Balance, Removal

#1765 [MIRROR] Improved lathe error message
  code/game/machinery/autolathe.dm
  code/modules/power/apc/apc_main.dm
  code/modules/research/machinery/_production.dm
Labels: Code Improvement, Quality of Life

#1764 [MIRROR] Adds new obj var for damage feedback, modular shields now tell you youre actually doing something when damaging them. Uncapitalizes Modular Shield Objects
  code/game/machinery/_machinery.dm
  code/game/machinery/modular_shield.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
Labels: Fix

#1761 [MIRROR] [NO GBP] Fixes prosthetic limb quirk preferences
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prosthetic_limb.tsx
Labels: Fix, GBP: No Update, UI

#1769 [MIRROR] Clamps material market quantities & prices during cargo operations
  code/controllers/subsystem/stock_market.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/packs/_packs.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Fix, UI

#1770 [MIRROR] Mechbay & modsuit recharger tweaks
  code/game/machinery/rechargestation.dm
  code/modules/vehicles/mecha/mech_bay.dm
  tgui/packages/tgui/interfaces/MechBayPowerConsole.jsx
Labels: Fix, UI

#1758 [MIRROR] Refactored admin backup saving. No longer at round end, more data backed up
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: Refactor

#1773 [MIRROR] Halon combustion releases resin foam and pluoxium. Halon is formed by electrolysing BZ, and the reaction is much quicker.
  code/__DEFINES/reactions.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer_reactions.dm
Labels: Balance

#1775 [MIRROR] Allows faxing of paintings
  code/modules/paperwork/fax.dm
Labels: Feature

#1782 [MIRROR] adds evil seedlings to Perennial Growth blacklist
  code/modules/hydroponics/plant_genes.dm
Labels: Balance

#1778 [MIRROR] Small Social Anxiety Fixes
  code/datums/status_effects/debuffs/speech_debuffs.dm
Labels: Fix

#1783 [MIRROR] Fixes issues with multitools on power objects
  code/modules/power/floodlight.dm
  code/modules/power/power.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/smes.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/turbine/turbine.dm
Labels: Fix

#1760 [MIRROR] Gauge, knob, slider components -> typescript
  tgui/packages/tgui/components/Knob.tsx
  tgui/packages/tgui/components/RoundGauge.tsx
  tgui/packages/tgui/components/Slider.tsx
  tgui/packages/tgui/interfaces/ChemHeater.tsx
  tgui/packages/tgui/interfaces/ChemReactionChamber.tsx
  tgui/packages/tgui/interfaces/Jukebox.tsx
  tgui/packages/tgui/interfaces/MassSpec.tsx
Labels: UI

#1809 [MIRROR] fixes material scanning, so we can scan again
  code/modules/experisci/experiment/types/scanning.dm
Labels: Fix

#1815 [MIRROR] cell chargers now bypass APCs
  code/game/machinery/cell_charger.dm
  code/game/machinery/suit_storage_unit.dm
Labels: Balance

#1834 [MIRROR] Search string in catalogs in char prefs
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: Logging, Quality of Life, UI

#1836 [MIRROR] Fix slime `check_item_passthrough` effect
  code/modules/mob/living/basic/slime/defense.dm
Labels: Fix

#1840 [MIRROR] adds prefrences to transhumanist
  code/_globalvars/lists/quirks.dm
  code/datums/quirks/neutral_quirks/transhumanist.dm
  code/modules/client/preferences/trans_prosthetic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/trans_prosthetic.tsx
Labels: Feature, Grammar and Formatting, UI

#1843 [MIRROR] Neutered symptoms no longer activate
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
Labels: Fix

#1844 [MIRROR] Fix captive xeno roundend report runtime
  code/modules/antagonists/xeno/xeno.dm
Labels: Fix

#1845 [MIRROR] Fix `/datum/dimension_theme/fancy` never applying
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: Fix

#1846 [MIRROR] `/datum/element/skill_reward` attempting to drop "itself" fix
  code/datums/elements/skill_reward.dm
Labels: Fix

#1868 [MIRROR] slaughter/laughter demon roundend report consume count + you cant bodyslam yourself
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/wizard/slaughter_antag.dm
  code/modules/events/ghost_role/slaughter_event.dm
  code/modules/mob/living/basic/space_fauna/demon/demon.dm
  code/modules/mob/living/basic/space_fauna/demon/demon_subtypes.dm
  code/modules/spells/spell_types/jaunt/bloodcrawl.dm
Labels: Code Improvement, Quality of Life

#1867 [MIRROR] Very small atom examine tweaks
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/elements/decals/blood.dm
  code/game/atom/atom_examine.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code Improvement, Grammar and Formatting

#1871 [MIRROR] Adds Healthdoll to Basic Dexterous Mobs
  code/_onclick/hud/generic_dextrous.dm
Labels: Quality of Life

#1872 [MIRROR] [NO GBP]Fixes ethereal charging and recharge station charge speed.
  code/__DEFINES/apc_defines.dm
  code/__DEFINES/lights.dm
  code/__DEFINES/mobs.dm
  code/game/machinery/rechargestation.dm
  code/modules/mod/mod_core.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/cell.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
Labels: Fix, GBP: No Update, Quality of Life

#1873 [MIRROR] Change setting item weight class to a setter to patch some weight class related shenanigans
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/inventory.dm
  code/datums/components/customizable_reagent_holder.dm
  code/datums/components/transforming.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/fish_case.dm
  code/game/objects/items.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/tools/spess_knife.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
  code/modules/detectivework/evidence.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/food_and_drinks/plate.dm
  code/modules/hallucination/inhand_fake_item.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/storage.dm
Labels: Fix

#1875 [Modular] DS-2 QoL changes
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
Labels: Quality of Life, Map Edit

#1899 [MIRROR] You can no longer aggressive grab medbots
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: Fix

#1902 [MIRROR] Ody sleeper new UI
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: Code Improvement, Fix, UI

#1903 [MIRROR] Autolathe computes custom material item print amounts correctly
  tgui/packages/tgui/interfaces/Autolathe.tsx
Labels: Fix, UI

#1923 [MIRROR] [NO GBP] Fixes spurious runtime caused by icemoon (again)
  code/game/turfs/open/openspace.dm
Labels: GBP: No Update

#1929 QOL for BMD, Interdyne, Freighter, DS2
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/nova/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  modular_nova/modules/mapping/code/machinery.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/machinery/reactor.dmi
Labels: Map Edit

#1955 [MIRROR] Fixes to zombie regen (and incidentally behavior of TRAIT_NODEATH)
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
Labels: Code Improvement, Fix

#1926 Fixes a few missing items on icebox's interdyne base
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Fix, Map Edit

#1961 Gives Lavadyne the new micro reactor
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
Labels: Map Edit

#1922 Makes blueshift atmos mixing room friendly for gas mixing setups.
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Quality of Life, Map Edit, Good First PR

#1958 Improving (very) small details on Blueshift
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Quality of Life, Map Edit

#1973 [MIRROR] cyborgs know door, APC, and other wires (not cyborg wires)
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Quality of Life

#1969 [MIRROR] Living Limb fixes (feat: Basic mobs attack random body zones again)
  code/__DEFINES/basic_mobs.dm
  code/__DEFINES/combat.dm
  code/datums/elements/attack_zone_randomiser.dm
  code/datums/elements/living_limb_initialiser.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/religion/burdened/psyker.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  tgstation.dme
Labels: Balance, Fix

#1968 [MIRROR] Oven tray checks for ovens
  code/modules/food_and_drinks/machinery/oven.dm
Labels: Fix

#1966 [MIRROR] Fix buckled alert unbuckling not working properly
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#1965 [MIRROR] React cleanup
  tgui/packages/tgui/components/Autofocus.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/KeybindingsPage.tsx
  tgui/packages/tgui/layouts/Layout.tsx
Labels: UI

#1964 [MIRROR] Operating computers clears its display procedures upon patient loss from table
  code/game/machinery/computer/operating_computer.dm
Labels: Fix

#1963 [MIRROR] Security photobooths have their own ID
  code/game/machinery/photobooth.dm
Labels: Fix

#1962 [MIRROR] [NO GBP] ...Remember to add SIGNAL_HANDLER
  code/datums/quirks/negative_quirks/all_nighter.dm
Labels: GBP: No Update

#1972 [MIRROR] Minor sprite fix for old belt sprites
  icons/mob/clothing/belt.dmi
Labels: Sprites

#1975 [MIRROR] Updates some outdated malf AI/bot ability icons
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/mob/living/simple_animal/bot/bot_announcement.dm
  icons/mob/actions/actions_AI.dmi
Labels: Sprites

#773 [MODULAR] Adds an entirely new map to Nova's roster: Ouroboros!
  _maps/_basemap.dm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/ouroboros.json
  _maps/shuttles/nova/cargo_ouroboros.dmm
  _maps/shuttles/nova/whiteship_ouroboros.dmm
  config/maps.txt
  modular_nova/modules/advanced_shuttles/code/shuttles.dm
  modular_nova/modules/automapper/code/area_spawn_subsystem.dm
  modular_nova/modules/mapping/code/areas/station.dm
  modular_nova/modules/mapping/code/asteroid_moon.dm
  modular_nova/modules/mapping/icons/areas/areas_station.dmi
  tgstation.dme
Labels: Config Update, Feature, Test Merged, Map Edit, Good First PR

#2004 [MIRROR] fixes the strip menu being able to change locked sensors
  code/modules/mob/living/carbon/human/human_stripping.dm
Labels: Fix

#2008 [MIRROR] Fix a few vendor restocking bugs
  code/modules/vending/_vending.dm
Labels: Fix

#2014 [MIRROR] Medipens cant be deepfried anymore
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Labels: Fix

#2015 [MIRROR] fixes bots having all access
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: Fix

#2017 [MIRROR] Face scarf ui toggle button works again
  code/modules/clothing/masks/bandana.dm
Labels: Fix

#2018 [MIRROR] Birdshot Wall Sanity Pass
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#2021 [MIRROR] Fixes ordinance lab igniter in IceBox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#2022 [MIRROR] Birdshot: engi wardrope.
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#2005 Black Market Trader redesign, now with trading structure!
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
  _maps/shuttles/nova/ruin_blackmarket_burst.dmm
  _maps/shuttles/nova/ruin_blackmarket_chevvy.dmm
  code/game/machinery/doors/poddoor.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/blackmarket.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/ds2.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/freighter_crew.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/ghostcafe.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/interdyne_planetary_base.dm
  modular_nova/master_files/code/modules/jobs/job_types/spawner/tarkon.dm
  modular_nova/modules/mapping/code/areas/shuttles.dm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/mapping/code/mob_spawns.dm
  modular_nova/modules/mapping/code/shuttles.dm
Labels: Feature, Quality of Life, Map Edit

#1996 [Modular] Adds a (Nerfed) Interdyne modsuit to lavaland Interdyne's Shuttle
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  _maps/shuttles/nova/ruin_interdyne_cargo.dmm
  modular_nova/modules/interdyne_pharma/mod.dm
  tgstation.dme
Labels: Feature, Map Edit

#2041 [MIRROR] Regal Rats can now tear down posters
  code/datums/elements/poster_tearer.dm
  code/game/objects/effects/posters/poster.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat.dm
  tgstation.dme
Labels: Feature

#2040 [MIRROR] Removes avatar earpiece [no gbp]
  code/modules/bitrunning/server/obj_generation.dm
Labels: Fix, GBP: No Update, Removal

#2034 [MIRROR] ai controllers use cell trackers to know when to idle
  code/__DEFINES/ai/ai.dm
  code/controllers/subsystem/ai_controllers.dm
  code/datums/ai/_ai_controller.dm
Labels: Code Improvement

#2045 [MIRROR] Fixes netpod href exploit
  code/modules/bitrunning/objects/netpod.dm
Labels: Fix

#2043 [MIRROR] Adds "Strong Stomach" quirk, a core CDDA/PZ quirk we've sorely been missing. Also Deviant Tastes dirty food re-nerf.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/infective.dm
  code/datums/mood_events/needs_events.dm
  code/datums/quirks/positive_quirks/strong_stomach.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/reagent_containers/pill.dm
  tgstation.dme
Labels: Feature, Removal

#2057 [MIRROR] Makes test merge bot continue with other PRs if updating one fails.
  tools/test_merge_bot/main.js
Labels: Tools

#2064 [MIRROR] Fixes tgui alert buttons
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/styles/components/Stack.scss
Labels: Fix, UI

#2065 [MIRROR] Fixes cooling and anti-disruption RCD upgrades being unavialble for ancient protolathes
  code/modules/research/designs/tool_designs.dm
Labels: Fix

#2066 [MIRROR] Adds text to lootpanel items [no gbp]
  tgui/packages/tgui/interfaces/LootPanel/IconDisplay.tsx
  tgui/packages/tgui/interfaces/LootPanel/LootBox.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/styles/components/SearchItem.scss
Labels: Fix, GBP: No Update, UI

#2069 [MIRROR] immortal heart attack fix
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#2070 [MIRROR] Fixes smart pipe & cryo gas reallocation
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
Labels: Fix

#2071 [MIRROR] Cleans up some handcuffing code
  code/game/objects/items/handcuffs.dm
Labels: Quality of Life

#2044 Ghost faction aligments
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  code/__DEFINES/~nova_defines/factions.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/modules/mapping/code/interdyne_mining.dm
  modular_nova/modules/mapping/code/mob_spawns.dm
Labels: Balance, Code Improvement, Map Edit

#2092 [MIRROR] Carps migrating through the station no longer idle so they don't get stuck after spawning until someone walks by.
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
Labels: Fix

#2100 [MIRROR] Makes viewers() defines
  code/__HELPERS/view.dm
  code/datums/components/fullauto.dm
  code/datums/components/ranged_mob_full_auto.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix

#2056 Space Ruins - Balance/anti-cheese pass for PirateFort and Syndibase
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/nova/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/nova/syndibase.dmm
  _maps/shuttles/nova/ruin_blackmarket_burst.dmm
  _maps/shuttles/nova/ruin_interdyne_cargo.dmm
Labels: Balance, Fix, Quality of Life, Map Edit

#2114 Fixes missing fuel tank on lavaland_surface_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
Labels: Fix, Map Edit

#2012 New Ashwalker base camp - "The Ash Fortress"!
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
  _maps/nova/automapper/templates/mining/lavaland_ashwalker_nenest.dmm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/misc_floor.dm
Labels: Feature, Test Merged, Map Edit

#2120 [MIRROR] Fix oven tray runtime
  code/modules/food_and_drinks/machinery/oven.dm
Labels: Fix

#2116 [MIRROR] Arcmining QoL: GPS component to scanned vents and vent(pin)pointer
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mining/equipment/vent_pointer.dm
  icons/effects/vent_overlays.dmi
  icons/obj/devices/tracker.dmi
  tgstation.dme
Labels: Balance, Feature, Fix, Sprites

#2115 [MIRROR] Lathes compute their local storage size correctly
  code/modules/research/machinery/_production.dm
Labels: Fix

#2113 [MIRROR] [NO GBP] HPLC can purify inverted chems
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
Labels: Fix, GBP: No Update

#2062 [MIRROR] Removes virologist job
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/toystore.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/birdshot/birdshot_virologist.dmm
  _maps/nova/automapper/templates/deltastation/deltastation_virologist.dmm
  _maps/nova/automapper/templates/icebox/icebox_virologist.dmm
  _maps/nova/automapper/templates/metastation/metastation_virologist.dmm
  _maps/nova/automapper/templates/northstar/northstar_virologist.dmm
  _maps/nova/automapper/templates/tramstation/tramstation_virologist.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/~nova_defines/atom_hud.dm
  code/datums/diseases/advance/advance.dm
  code/datums/id_trim/jobs.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/gamemodes/objective_items.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/nebula_shielding.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/antagonists/traitor/objectives/sleeper_protocol.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  config/jobconfig.toml
  icons/obj/card.dmi
  icons/obj/toys/toy.dmi
  modular_nova/master_files/code/datums/id_trim/jobs.dm
  modular_nova/master_files/code/modules/jobs/job_types/virologist.dm
  modular_nova/master_files/code/modules/jobs/landmarks.dm
  modular_nova/master_files/icons/obj/card.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Config Update, Sprites, UI, Map Edit, Do Not Merge

#2170 [MIRROR] [NO GBP] fixes issues with human rendering fixes
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/welding.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob_update_icons.dm
  code/modules/mod/mod_activation.dm
Labels: Fix, GBP: No Update

#2174 [MIRROR] brimbeams are a hidden do after
  code/modules/mob/living/basic/lavaland/brimdemon/brimbeam.dm
Labels: Fix

#2192 [Modular] Allows the new TG lizard laugh to be selected as a character laugh
  modular_nova/modules/emotes/code/laugh_datums.dm
Labels: Feature

#2200 [MIRROR] [NO GBP] Overwatch Intelligence Agents No Longer Get Their Own Uplink
  code/modules/antagonists/nukeop/outfits.dm
Labels: Fix, GBP: No Update

#2201 [MIRROR] Fix malf AI being unable to trigger because AIs are considered ghost roles
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#2202 [MIRROR] Fixes escape menu spacing
  code/modules/escape_menu/home_page.dm
Labels: Fix

#2203 [MIRROR] Fixes spraycan spamming the chat when you hover it.
  code/game/objects/items/crayons.dm
Labels: Fix

#2205 [MIRROR] fixes jps mobs occasioanlly pathing forever
  code/datums/ai/movement/_ai_movement.dm
Labels: Fix

#2221 [MIRROR] Re-adds Possess Object to Right-Click Context Menu
  code/modules/admin/verbs/possess.dm
Labels: Administration, Fix

#2227 [MIRROR] Fix the materials box dropping its contents on creation
  code/game/objects/items/storage/boxes/engineering_boxes.dm
Labels: Fix

#2230 [MIRROR] Netguardian darkvision & visual tweaks
  code/modules/bitrunning/antagonists/netguardian.dm
  icons/mob/nonhuman-player/netguardian.dmi
Labels: Balance, Sprites

#2225 [MIRROR] Makes the cutter lint actually work
  tools/build/build.js
  tools/icon_cutter/check.py
Labels: Tools

#2228 [MIRROR] Unarmed Attacks Support Multiple Verbs
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_nova/modules/bodyparts/code/ghoul_bodyparts.dm
Labels: Code Improvement

#2231 [MIRROR] Updates tips of the round to exclude mentions of virologist, and include coroners and heretic paths instead.
  strings/tips.txt
Labels: Fix

#2229 [MIRROR] Adds a funny scene when getting Sisyphus achievement
  code/datums/components/sisyphus_awarder.dm
  code/modules/cargo/supplypod.dm
  sound/ambience/music/sisyphus/sisyphus.ogg
Labels: Feature, Sound
