Repository NovaSector/NovaSector, pull requests merged in 2024-09, with the labels that each got.

#4362 Fixes bluesec night vision goggles having invisible icons
  modular_nova/master_files/icons/mob/clothing/eyes.dmi
  modular_nova/master_files/icons/obj/clothing/glasses.dmi
  modular_nova/modules/better_vox/icons/clothing/eyes.dmi
Labels: Fix

#4361 Changes SolFed radio channel key from l to f
  code/__DEFINES/~nova_defines/mapping.dm
  code/__DEFINES/~nova_defines/solfed.dm
  code/modules/mob/living/living_say.dm
  modular_nova/modules/advanced_engineering/readme.md
Labels: Fix

#4328 Ouroboros fixes and tweaks
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Fix, Test Merged, Map Edit

#4395 Precolored sneakers no longer allow greyscale in loadout
  modular_nova/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: Fix

#4400 Examine will no longer exclaim for everything
  code/modules/mob/mob.dm
Labels: Grammar and Formatting

#4393 Snowglobe Glowup
  _maps/map_files/Snowglobe/snowglobe.dmm
  modular_nova/modules/mapping/code/areas/station.dm
Labels: Balance, Feature, Fix, Quality of Life, Test Merged, Map Edit

#4407 Primitive vending machines are free again
  modular_nova/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
  modular_nova/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_nova/modules/primitive_catgirls/code/clothing_vendor.dm
Labels: Fix, Test Merged

#4417 Brings back saltpetre to upgraded chem dispensers.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix
