Repository NovaSector/NovaSector, pull requests merged in 2024-08, with the labels that each got.

#4128 [MIRROR] Scanner gate fixes [MDB IGNORE]
  code/game/machinery/scanner_gate.dm
Labels: Fix, Sound

#4152 [MIRROR] [no gbp] Fixes rods not having sound_vary on [MDB IGNORE]
  code/game/objects/items/stacks/rods.dm
Labels: Fix, GBP: No Update

#4150 [MIRROR] Sentience potions can now be used without a summon reason [MDB IGNORE]
  code/modules/research/xenobiology/xenobiology.dm
Labels: Quality of Life

#3595 [MIRROR] Bow Update: Fletching instruction manual, bows using projectile damage multipliers, unhardcoded bow sprites, hot pink death [MDB IGNORE]
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/granters/crafting/fletching.dm
  code/modules/capture_the_flag/medieval_sim/medisim_classes.dm
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/service.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/obj/toys/dice.dmi
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  modular_nova/master_files/code/modules/projectiles/guns/ballistic/bows/_bow.dm
  modular_nova/modules/cargo/code/packs.dm
  modular_nova/modules/reagent_forging/code/forge_items.dm
  modular_nova/modules/tribal_extended/code/crafting.dm
  modular_nova/modules/tribal_extended/code/recipes.dm
  modular_nova/modules/tribal_extended/code/weapons/bow.dm
  modular_nova/modules/tribal_extended/icons/ammo.dmi
  modular_nova/modules/tribal_extended/icons/dice.dmi
  modular_nova/modules/tribal_extended/icons/projectile.dmi
  tgstation.dme
Labels: Code Improvement, Feature, Fix, Sprites

#4154 [MIRROR] [no gbp] adds a hand labeller to wawa pharmacy [MDB IGNORE]
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, GBP: No Update, Map Edit

#4151 [MIRROR] NODE drones now show their wave progress on the sprite [MDB IGNORE]
  code/__DEFINES/mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  icons/obj/mining.dmi
Labels: Quality of Life, Sprites

#4157 [MIRROR] Fix gas meters [MDB IGNORE]
  code/datums/greyscale/json_configs/meter.json
  icons/obj/pipes_n_cables/meter.dmi
Labels: Fix, Sprites

#3991 [MIRROR] Melon Armours, Mock up wizardry, and other cool botany stuff, Gnomes and Gardens style. [MDB IGNORE]
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/melee_weapon.dm
  code/datums/components/crafting/tailoring.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/datums/dog_fashion.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/knives.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/head/wizard.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/wizard.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/mob/inhands/items/food_lefthand.dmi
  icons/mob/inhands/items/food_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons/staves_lefthand.dmi
  icons/mob/inhands/weapons/staves_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/mob/simple/corgi_head.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/head/wizard.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/wizard.dmi
  icons/obj/service/hydroponics/growing_vegetables.dmi
  icons/obj/service/hydroponics/harvest.dmi
  icons/obj/service/hydroponics/seeds.dmi
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  icons/obj/weapons/shields.dmi
  icons/obj/weapons/stabby.dmi
  icons/obj/weapons/staff.dmi
  icons/obj/weapons/sword.dmi
Labels: Feature, Sprites

#4118 [MIRROR] The Soundening: Security and guns edition. [MDB IGNORE]
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/reagent_containers/spray.dm
  sound/items/attributions.txt
  sound/items/grenade_drop.ogg
  sound/items/grenade_pick_up.ogg
  sound/items/gun_drop.ogg
  sound/items/gun_pick_up.ogg
  sound/items/handcuff_finish.ogg
  sound/items/handcuffs_drop.ogg
  sound/items/handcuffs_pick_up.ogg
  sound/items/holster.ogg
  sound/items/pepper_spray_drop.ogg
  sound/items/pepper_spray_pick_up.ogg
  sound/items/plastic_shield_drop.ogg
  sound/items/plastic_shield_pick_up.ogg
  sound/items/stun_baton_drop.ogg
  sound/items/stun_baton_pick_up.ogg
Labels: Sound

#4145 [MIRROR] Fixes echolocation creating the wrong screen overlay state when used with default arguments [MDB IGNORE]
  code/datums/components/echolocation.dm
Labels: Fix

#4153 [MIRROR] [no gbp] Assorted birdshot engineering feedback [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, GBP: No Update, Map Edit

#4062 [MIRROR] Grass sheath now holds parsnip sabres, fixed grammar for the latter [MDB IGNORE]
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
Labels: Fix, Grammar and Formatting

#4149 [MIRROR] Durathread robes can now hold botany gear [MDB IGNORE]
  code/modules/clothing/suits/wiz_robe.dm
Labels: Feature

#4045 [MIRROR] Peg limbs can now be removed via surgery [MDB IGNORE]
  code/modules/surgery/amputation.dm
Labels: Fix

#4161 [MIRROR] Unfucks all the broken vendors that I broke [no gbp] [MDB IGNORE]
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: Fix, GBP: No Update

#4167 [MIRROR] Fixes flashdark [MDB IGNORE]
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#4166 [MIRROR] Add some missing mob traits to VV list [MDB IGNORE]
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
Labels: Administration

#4165 [MIRROR] Fixed rice hat toggling, now toggle uses alt click [MDB IGNORE]
  code/modules/clothing/head/hat.dm
Labels: Fix

#4164 [MIRROR] Bamboo staffs can now be wielded, bostaff no longer disappears forever when wielded [MDB IGNORE]
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: Fix

#4163 [MIRROR] Adds a bronze dimensional theme [MDB IGNORE]
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: Feature

#4171 [MIRROR] Fixes/improves the Lua UI Slightly [MDB IGNORE]
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  tgui/packages/tgui/interfaces/LuaEditor/Log.tsx
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/interfaces/LuaEditor/types.ts
Labels: Administration, UI

#4125 [MIRROR] Turfs in lua will no longer null out their reference on deletion. [MDB IGNORE]
  code/__DEFINES/_flags.dm
  code/datums/datum.dm
  code/game/atom/_atom.dm
  code/game/turfs/turf.dm
Labels: Administration

#3207 Snowglobe Station - A new icemoon station for nova!
  _maps/map_files/Snowglobe/snowglobe.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/snowglobe.json
  config/maps.txt
  modular_nova/modules/automapper/code/area_spawn_subsystem.dm
  modular_nova/modules/mapping/code/areas/station.dm
Labels: Config Update, Feature, Map Edit, Good First PR

#4233 [Mirror] Small batch of mirrors
  .github/workflows/update_tgs_dmapi.yml
  code/controllers/subsystem/persistence/_persistence.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/mapfluff/ruins/spaceruin_code/oldstation/oldstation_mod.dm
  code/modules/tgs/core/datum.dm
  html/changelogs/AutoChangeLog-pr-85653.yml
  html/changelogs/AutoChangeLog-pr-85671.yml
  html/changelogs/archive/2024-08.yml
  tgui/packages/tgui/components/InfinitePlane.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
Labels: GitHub, Manual Mirror, UI

#4235 Removes two unmaintained modular space ruins
  _maps/RandomRuins/SpaceRuins/nova/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/nova/salvagepost.dmm
  config/spaceruinblacklist.txt
  modular_nova/modules/mapping/code/fluff.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/obj/fluff.dmi
  modular_nova/modules/mapping/sounds/MachineDeath.ogg
Labels: Config Update, Removal, Map Edit
