Repository NovaSector/NovaSector, pull requests merged in 2024-06, with the labels that each got.

#2773 [MIRROR] [NO GBP] fixes positive viruses being hidden
  code/datums/diseases/advance/advance.dm
Labels: Fix, GBP: No Update

#2774 [MIRROR] Fixes runtime with serializing photo metadata
  code/datums/datum.dm
  code/modules/photography/_pictures.dm
Labels: Fix

#2775 [MIRROR] print 5 cable coils instead of 1 in lathes
  code/modules/research/designs/autolathe/multi-department_designs.dm
Labels: Quality of Life

#2776 [MIRROR] Fix imaginary friend trauma and message range
  code/datums/brain_damage/imaginary_friend.dm
Labels: Fix

#2777 [MIRROR] Remove a bunch of unnecessary periods from photo descriptions containing living entities.
  code/modules/mob/living/living.dm
  code/modules/photography/camera/camera.dm
Labels: Grammar and Formatting, Quality of Life

#2778 [MIRROR] adds missing context tips to atmos canisters
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix

#2779 [MIRROR] Allows the fermenting (wooden) barrel to be emptied and to be wrenched + add contextual helpers to help visualize its interactions
  code/modules/hydroponics/fermenting_barrel.dm
Labels: Code Improvement, Quality of Life

#2780 [MIRROR] projectile dismemberment respects limb dismemberability
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance

#2781 [MIRROR] Restrict AI floor bolt external manipulation
  code/modules/mob/living/silicon/ai/ai_defense.dm
Labels: Balance

#2785 [MIRROR] Pillow now consumes stamina in both unwielded and wielded states
  code/game/objects/items/pillow.dm
Labels: Balance

#2786 [MIRROR] Fix not being able to stop looking vertically
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: Fix

#2789 [MIRROR] Adds an ion storm law that affects the humanity status of station pets
  code/modules/events/ion_storm.dm
  strings/ion_laws.json
Labels: Feature

#2787 [MIRROR] fix: allow giant spiders aggressively grab again
  code/game/atoms_movable.dm
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#2804 [MIRROR] Floor diseases are easier to cure
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/datums/diseases/advance/floor_diseases/gastritium.dm
  code/datums/diseases/advance/floor_diseases/nebula_nausea.dm
Labels: Balance

#2814 [MIRROR] [Fix] Removes ability from non-cargonia plebians to confirm cargo orders from request console
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
Labels: Fix, Removal, UI

#2817 [MIRROR] Minor Spider Rebalance
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
Labels: Balance

#2801 [MIRROR] [Birdshot] Dorms Remap and Station Aesthetic Cleanup.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/birdshot/birdshot_armory.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_arrivals.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_cryo.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_ntrep_office.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_virologist.dmm
  _maps/nova/automapper/templates/deltastation/deltastation_virologist.dmm
  _maps/nova/automapper/templates/icebox/icebox_cryo.dmm
  _maps/nova/automapper/templates/icebox/icebox_virologist.dmm
  _maps/nova/automapper/templates/metastation/metastation_virologist.dmm
  _maps/nova/automapper/templates/northstar/northstar_virologist.dmm
  _maps/nova/automapper/templates/tramstation/tramstation_virologist.dmm
  modular_nova/modules/automapper/code/area_spawn_entries.dm
Labels: Fix, Quality of Life, Map Edit

#2830 [MIRROR] Icebox service hall disposal unit
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Quality of Life, Map Edit

#2837 [MISSED MIRROR] Fixes another image harddel in station blueprints (and more) (#80780)
  code/datums/components/lock_on_cursor.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/shuttle/navigation_computer.dm
Labels: Fix, Manual Mirror, Upstream PR Merged

#2835 [MIRROR] Adds Biomes to the Cave Generator, for all of your procedurally-placed cave biome needs!
  code/__DEFINES/maps.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/game/turfs/turf.dm
Labels: Code Improvement, Feature

#2847 [MIRROR] Cultist shades no longer count as cultists for the purposes of invoking runes until a minute after being released [MDB IGNORE]
  code/modules/antagonists/cult/cult_other.dm
  code/modules/antagonists/cult/datums/constructs.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/cult/datums/shade.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  tgstation.dme
Labels: Balance, Code Improvement, Fix

#2846 [MIRROR] Legioned Monkeys create different mobs [MDB IGNORE]
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  tgstation.dme
Labels: Feature, Sprites

#2871 [MIRROR] Makes the Clown Stamp give out clown cells [MDB IGNORE]
  code/modules/paperwork/stamps.dm
Labels: Quality of Life

#2873 [MIRROR] Fixes some coffee inconsistencies [MDB IGNORE]
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: Fix, Quality of Life

#2872 [MIRROR] Auto Lathe Runtime Fixes [MDB IGNORE]
  code/game/machinery/autolathe.dm
Labels: Fix

#2875 [MIRROR] Little QOL change for AI cyborg display power [MDB IGNORE]
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Quality of Life

#2876 [MIRROR] Fixes curator whip disarming even after getting parried [MDB IGNORE]
  code/_onclick/item_attack.dm
  code/game/objects/items/melee/misc.dm
Labels: Fix

#2890 [MIRROR] Fixes techfab print runtime for non apc areas [MDB IGNORE]
  code/modules/research/machinery/_production.dm
Labels: Fix

#2889 [MIRROR] Change the pAI display face selection to a radial [MDB IGNORE]
  code/modules/pai/software.dm
Labels: Quality of Life

#2896 [MIRROR] remove human requirement for invisible_wall [MDB IGNORE]
  code/modules/spells/spell_types/conjure/invisible_wall.dm
Labels: Balance

#2895 [MIRROR] [NO GBP] Only filled graves will provide a mood modifier [MDB IGNORE]
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Fix, GBP: No Update

#2892 [MIRROR] Fix smoking pipe sprite typo [MDB IGNORE]
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#2891 [MIRROR] [NO GBP] Post-Rust Heretic's Rework adjustments. [MDB IGNORE]
  code/datums/elements/rust.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: Balance, Fix, GBP: No Update

#2927 [MIRROR] Adds overflow back to the orbit menu [MDB IGNORE]
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: Fix, UI

#2930 [MIRROR] Implements some unused mood events into their relevant phobias. [MDB IGNORE]
  code/datums/brain_damage/phobia.dm
Labels: Fix

#2931 [MIRROR] Fixes some Raptor grammar [MDB IGNORE]
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
Labels: Grammar and Formatting

#2933 [MIRROR] lobstrosity's meat is RAW! [MDB IGNORE]
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
Labels: Fix

#2936 [MIRROR] Adds a chat message for fishing in a chasm with a normal and rescue hook [MDB IGNORE]
  code/datums/components/fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: Quality of Life

#2937 [MIRROR] Fixes basic bots being targeted by turrets [MDB IGNORE]
  code/modules/mob/living/basic/bots/_bots.dm
Labels: Fix

#2939 [MIRROR] stacking machine consoles check in area instead of a tiny view range on init [MDB IGNORE]
  code/modules/mining/machine_stacking.dm
Labels: Code Improvement

#2940 [MIRROR] Spooky element fixes [MDB IGNORE]
  code/datums/elements/spooky.dm
Labels: Fix

#2941 [MIRROR] lowers mutadone pill volume from 50 to 5 [MDB IGNORE]
  code/modules/reagents/reagent_containers/pill.dm
Labels: Balance

#2934 [MIRROR] [NO-GBP] Fixes my borg moduling fuckup [MDB IGNORE]
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix

#2935 [MIRROR] Whitelists the fishing trait "Anxiety" to only detect fish. [MDB IGNORE]
  code/modules/fishing/fish/fish_traits.dm
Labels: Fix

#2948 [MIRROR] Tram malfunction adjustments [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/controllers/subsystem/transport.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/tram_malfunction.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/tram/tram_machinery.dm
  icons/obj/tram/tram_controllers.dmi
  icons/obj/tram/tram_display.dmi
Labels: Feature, Quality of Life, Removal, Sprites, Map Edit

#2951 [MIRROR] Tram door fixes [MDB IGNORE]
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/modules/transport/tram/tram_doors.dm
Labels: Fix

#2917 Wawastation automapper templates [NO GBP]
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/wawastation/wawastation_armory.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_barber.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_elevator.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_lockers.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_supermatter.dmm
  modular_nova/master_files/code/game/objects/structures/signs/signs_maps.dm
  modular_nova/master_files/icons/obj/sign.dmi
  tgstation.dme
Labels: Feature, GBP: No Update, Map Edit

#2905 Free Bug DLC: New Antennas & Snouts & Body Marking
  modular_nova/master_files/icons/mob/body_markings/other_markings.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_nova/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites

#2829 [MIRROR] Wawastation
  _maps/_basemap.dm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  _maps/wawastation.json
  code/game/area/areas/ai_monitored.dm
  code/game/area/areas/station/command.dm
  code/game/area/areas/station/medical.dm
  code/game/area/areas/station/science.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/projectiles/ammunition/ballistic/rocket.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/transport/transport_module.dm
  code/modules/unit_tests/cardboard_cutouts.dm
  config/maps.txt
  modular_nova/master_files/code/modules/transport/tram/tram_displays.dm
  modular_nova/master_files/icons/obj/tram/tram_display.dmi
  modular_nova/master_files/icons/obj/tram/tram_indicator.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit

#2816 Blueshield QOL with other code cleanup
  modular_nova/master_files/code/datums/id_trim/jobs.dm
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/blueshield/code/closet.dm
  modular_nova/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: Feature, Quality of Life, Test Merged

#2962 [MIRROR] Adds the Cytology Lab to Wawa [MDB IGNORE]
  _maps/map_files/wawastation/wawastation.dmm
Labels: Feature, Missing Prerequisite, Map Edit

#2965 [MIRROR] Adds missing atmos vent, and adds additional piping to toxins pressure tank of wawastation [MDB IGNORE]
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Missing Prerequisite, Quality of Life, Map Edit

#2976 [MIRROR] RDS-havers now get Gibbering [MDB IGNORE]
  code/datums/brain_damage/mild.dm
  code/datums/quirks/negative_quirks/insanity.dm
Labels: Feature, Grammar and Formatting

#2980 [MIRROR] White dwarf meta knowledge check fix [MDB IGNORE]
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: Fix

#3009 [MIRROR] Adds logging for ore vent mobs spawned and killed [MDB IGNORE]
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Logging

#3008 [MIRROR] Nerfs moon smile [MDB IGNORE]
  code/modules/antagonists/heretic/magic/moon_smile.dm
Labels: Balance

#3012 [MIRROR] Fixes catwalk deconstruction not yielding iron rods [MDB IGNORE]
  code/game/objects/structures/lattice.dm
Labels: Fix

#3016 [MIRROR] Removes unused code from stock market and an unused market define. [MDB IGNORE]
  code/__DEFINES/economy.dm
  code/modules/cargo/packs/stock_market_items.dm
  tgstation.dme
Labels: Removal

#3017 [MIRROR] Corpses won't remain cultists when ghouled by a flesheretic [MDB IGNORE]
  code/modules/antagonists/heretic/status_effects/ghoul.dm
Labels: Balance

#3018 [MIRROR] make janitorialcart hold more water [MDB IGNORE]
  code/game/objects/structures/janitor.dm
Labels: Quality of Life

#3019 [MIRROR] Tail Regained checks for owner and species + deleted unused mood_event datums [MDB IGNORE]
  code/datums/mood.dm
  code/datums/mood_events/dna_infuser_events.dm
  code/datums/mood_events/drug_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/organs/external/tails.dm
Labels: Balance

#3020 [MIRROR] [Bounty] Juicing and distilling only consumes nutriment and vitamin [MDB IGNORE]
  code/game/objects/items.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/sugarcane.dm
  code/modules/mining/lavaland/ash_flora.dm
Labels: Balance

#3021 [MIRROR] Fixes conga lines when using ladders, and lets you pull objects (and conga lines) up and down with you in zero grav [MDB IGNORE]
  code/__DEFINES/movement.dm
  code/game/atoms_movable.dm
Labels: Fix, Quality of Life

#3024 [MIRROR] Makes that one random frog in the freezing cold plasma facility more atmospherically resistant [MDB IGNORE]
  code/modules/mob/living/basic/vermin/frog.dm
Labels: Fix

#3030 [MIRROR] Replace the cyborg labeler in the service hallway in ice with a regular one [MDB IGNORE]
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#3011 [MIRROR] [no gbp] adds an id trim painter to meta qm's office [MDB IGNORE]
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, GBP: No Update, Map Edit

#3027 [MIRROR] Make PKA and PKC fireproof [MDB IGNORE]
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, Quality of Life

#3028 [MIRROR] The Syndicate now imports warm air instead of cold air to the icemoon listening post [MDB IGNORE]
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
Labels: Fix, Map Edit

#3074 [MIRROR] Fixes crossbow healium bolt sleeping silicons! Oops! [MDB IGNORE]
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Fix

#3079 [MIRROR] Crit Dental Pills! [MDB IGNORE]
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/head/jobs.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/dental_implant.dm
Labels: Balance

#3084 Fix window polarizers
  modular_nova/modules/polarized_windows/polarization_controller.dm
Labels: Fix

#3085 [MIRROR] fixes two harddels [MDB IGNORE]
  code/modules/buildmode/buildmode.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
Labels: Fix

#3086 [MIRROR] Fixes the other half of the crusher bug [MDB IGNORE]
  code/datums/status_effects/neutral.dm
Labels: Fix

#3091 [MIRROR] Fixes Ghetto Grinding Cigarettes [MDB IGNORE]
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#3090 [MIRROR] [NO GBP] Admin ctrl+shift works only on the clicked ghost [MDB IGNORE]
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, GBP: No Update

#3087 [MIRROR] Fixes mulebots being able to run over players leaning on walls [MDB IGNORE]
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix

#3093 [MIRROR] Fixes reactive armour not recognising anomaly subtypes [MDB IGNORE]
  code/modules/clothing/suits/reactive_armour.dm
Labels: Fix

#3092 [MIRROR] Allows fire extinguishers to refill from plumbed tanks [MDB IGNORE]
  code/game/objects/items/extinguisher.dm
Labels: Quality of Life

#3096 Fix railing/rack deconstruction
  modular_nova/modules/primitive_structures/code/fencing.dm
  modular_nova/modules/primitive_structures/code/storage_structures.dm
Labels: Fix

#3097 [MIRROR] Slime transparency fix [NO GBP] [MDB IGNORE]
  code/__DEFINES/research/slimes.dm
  code/modules/mob/living/basic/slime/slime.dm
  code/modules/mob/living/basic/slime/slime_type.dm
Labels: Fix, GBP: No Update

#3117 adds the mighty mcsqueeb hairstyle
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Good First PR

#3126 [MIRROR] Revert "remove human requirement for invisible_wall" [MDB IGNORE]
  code/modules/spells/spell_types/conjure/invisible_wall.dm
Labels: Revert

#3127 [MIRROR] Fix ambience pref not being toggleable in game [MDB IGNORE]
  code/datums/mocking/client.dm
  code/modules/client/preferences/sounds.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Fix, Quality of Life, UI

#3128 [MIRROR] Hand Tele Fix [MDB IGNORE]
  code/game/objects/effects/portals.dm
Labels: Fix

#3129 [MIRROR] Activating a lighter or match while covered in flammable liquids now ignites you, even if you're really, really, really ridiculously good looking [MDB IGNORE]
  code/game/objects/items/cigs_lighters.dm
Labels: Feature

#3133 [MIRROR] Fixed TechWeb app piling designs issue [MDB IGNORE]
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: Fix, UI

#3131 [MIRROR] APC channel wires [MDB IGNORE]
  code/__DEFINES/wires.dm
  code/datums/wires/apc.dm
Labels: Quality of Life

#3135 [MIRROR] fixes gasp not making sound [MDB IGNORE]
  code/modules/mob/living/emote.dm
Labels: Fix

#3147 [MIRROR] Fix bodytype bitflag check for prosthetic repair [MDB IGNORE]
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix

#3148 [MIRROR] Updates fruit bowl description [MDB IGNORE]
  code/game/objects/items/food/misc.dm
Labels: Grammar and Formatting

#3149 [MIRROR] Halves(ish) the energy bola slowdown [MDB IGNORE]
  code/game/objects/items/handcuffs.dm
Labels: Balance

#3152 [MIRROR] [no gbp] Sparks don't ignite furniture (unless you made it out of plasma you fucking lunatic), sparks have a decreasing chance to ignite bigger items, small fix to obj/fire_act() signal [MDB IGNORE]
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/obj_defense.dm
Labels: Fix, GBP: No Update

#3153 [MIRROR] Compressor UI fix [NO GBP] [MDB IGNORE]
  tgui/packages/tgui/interfaces/TankCompressor.tsx
Labels: Fix, GBP: No Update, UI

#3154 Stops admin item deletion sparks from setting everything on fire
  code/modules/admin/view_variables/admin_delete.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/delete.dm
  modular_nova/master_files/code/game/objects/effects/effect_system/effect_sparks.dm
  tgstation.dme
Labels: Fix

#3168 [MIRROR] Broken APC's turn off area power [MDB IGNORE]
  code/modules/power/apc/apc_attack.dm
  code/modules/power/apc/apc_main.dm
Labels: Fix

#3173 [MIRROR] Fixes cleaning spray being blocked by everything [MDB IGNORE]
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix

#3174 [MIRROR] MODsuit welding module protects flash-sensitives from flashes [MDB IGNORE]
  code/__DEFINES/mobs.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: Fix

#3175 [MIRROR] Resprited jetpacks [MDB IGNORE]
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/jetpacks_lefthand.dmi
  icons/mob/inhands/equipment/jetpacks_righthand.dmi
  icons/obj/canisters.dmi
Labels: Sprites

#3178 [MIRROR] Adds proto-kinetic accelerator modkit and proto-kinetic crusher trophy disks to the bitrunning vendor [MDB IGNORE]
  code/modules/bitrunning/objects/disks.dm
  code/modules/bitrunning/orders/tech.dm
Labels: Feature

#3172 [MIRROR] Repurposed Glands (Adrenals) now show the correct chemical cost and duration [MDB IGNORE]
  code/modules/antagonists/changeling/powers/adrenaline.dm
Labels: Fix

#3190 [MIRROR] Removes the locker staff from Ragin' Mages deathmatch [MDB IGNORE]
  code/game/objects/structures/mystery_box.dm
Labels: Removal

#3189 [MIRROR] Fullscreen QoL [MDB IGNORE]
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/client.dm
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.ts
Labels: Quality of Life, UI

#3187 [MIRROR] Fixes conga lines breaking when going up/down stairs. [MDB IGNORE]
  code/game/atoms_movable.dm
Labels: Fix

#3186 [MIRROR] Felinids no longer get negative moodlets roundstart about their tail [MDB IGNORE]
  code/modules/surgery/organs/external/tails.dm
Labels: Fix

#3177 [MIRROR] Techweb tweaks [NO GBP] [MDB IGNORE]
  code/datums/id_trim/jobs.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  tgui/packages/tgui/interfaces/NtosScipaper.jsx
Labels: Balance, Fix, GBP: No Update, Quality of Life, UI

#3188 [MIRROR] Fix missing sanitization for citation pda alerts [MDB IGNORE]
  code/game/machinery/computer/records/security.dm
Labels: Fix

#3185 [MIRROR] borg factory gives you your preference borg name [MDB IGNORE]
  code/modules/mob/transform_procs.dm
Labels: Fix

#3176 [MIRROR] Feast of Owls Heretic Ritual : Forsake your ascension [MDB IGNORE]
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Feature

#3165 DRIPOCALYPSE NOW! adds some gags drip
  modular_nova/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/icons/big_pants.dmi
  modular_nova/modules/GAGS/icons/suit/suit.dmi
  modular_nova/modules/GAGS/json_configs/big_jacket/big_jacket.json
  modular_nova/modules/GAGS/json_configs/big_jacket/big_jacket_worn.json
  modular_nova/modules/GAGS/json_configs/big_pants/big_pants.json
  modular_nova/modules/GAGS/json_configs/big_pants/big_pants_worn.json
  modular_nova/modules/GAGS/json_configs/dagger_mantle/dagger_mantle.json
  modular_nova/modules/GAGS/json_configs/dagger_mantle/dagger_mantle_worn.json
  modular_nova/modules/customization/modules/clothing/suits/coats.dm
  modular_nova/modules/customization/modules/clothing/suits/misc.dm
  modular_nova/modules/customization/modules/clothing/under/misc.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

#3204 [MIRROR] Fixes ambient sound preferences runtiming every time a client connects [MDB IGNORE]
  code/modules/client/client_procs.dm
  code/modules/client/preferences/sounds.dm
Labels: Fix

#3206 [MIRROR] reduces the price for most livestock crates [MDB IGNORE]
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/livestock.dm
Labels: Balance

#3205 Fixes peg limbs not being attachable to people with the Cybernetic Limb Mounts quirk
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix, Test Merged

#3237 [MIRROR] Fix printed structures/machines having a random offset [MDB IGNORE]
  code/game/machinery/autolathe.dm
  code/modules/power/power.dm
  code/modules/research/machinery/_production.dm
Labels: Fix

#3239 [MIRROR] Fixes the duration of wizard spell mutate [MDB IGNORE]
  code/modules/spells/spell_types/self/mutate.dm
Labels: Fix

#3240 [MIRROR] Fix chem reaction spawning issue [MDB IGNORE]
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Fix

#3241 [MIRROR] Fixes quirk config tooltips rendering behind the popper [MDB IGNORE]
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Labels: Fix, UI

#3242 [MIRROR] Adds an admin secret to mass heal and revive everyone. [MDB IGNORE]
  code/modules/admin/verbs/secrets.dm
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: Administration, UI

#3243 [MIRROR] Fixes non-sensical attack messages for certain mobs [MDB IGNORE]
  code/_onclick/item_attack.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix

#3244 [MIRROR] Fixes some objects not being pulled with ctrl-click [MDB IGNORE]
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/hydroponics/hydroponics.dm
Labels: Fix

#3245 [MIRROR] [NO GBP] Piggyback ,strip menu & Paraplegic mouse drop fixes [MDB IGNORE]
  code/datums/elements/strippable.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: Fix, GBP: No Update, Quality of Life

#3246 [MIRROR] NT Frontier can read files from data disks [MDB IGNORE]
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  tgui/packages/tgui/interfaces/NtosScipaper.jsx
Labels: Quality of Life, UI

#3247 [MIRROR] Autopsy experiments available roundstart [NO GBP] [MDB IGNORE]
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: Fix, GBP: No Update

#3254 [MIRROR] Light eater can eat all lights again [MDB IGNORE]
  code/datums/elements/light_eater.dm
Labels: Fix

#3251 [MIRROR] Tells od lints to shut the fuck up [MDB IGNORE]
  tools/ci/od_lints.dm
Labels: Tools

#3197 [Blueshift] Removes the Power Stations
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Feature, Removal, Map Edit

#3236 Xenobiology will no longer require the cytology experiment (instead it's a discount)
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Quality of Life, Test Merged

#3287 Fixes engi/tcomms access on Blueshift and Void Raptor
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Edit

#3288 [NoGBP]Cafe's hotdog vendor can now hotdog less lethally than before.
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Fix, GBP: No Update, Map Edit

#3289 [MIRROR] [NO GBP] Hotfixes spraycans [MDB IGNORE]
  code/game/objects/items/crayons.dm
Labels: Fix, GBP: No Update

#3306 [MIRROR] Fix advanced proximity monitors being 1 tile too small (again...) [MDB IGNORE]
  code/datums/proximity_monitor/field.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spell_timestop.dm
Labels: Fix

#3308 [MIRROR] [NO GBP] Actions buttons can be dragged anywhere again [MDB IGNORE]
  code/_onclick/hud/action_button.dm
Labels: Fix, GBP: No Update

#3311 [MIRROR] [NO GBP] Pen size hotfix [MDB IGNORE]
  code/modules/paperwork/pen.dm
Labels: Fix, GBP: No Update

#3313 [MIRROR] Fix carbons deathgasping twice [MDB IGNORE]
  code/__DEFINES/living.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/death.dm
  code/modules/wiremod/shell/drone.dm
Labels: Fix

#3323 [MIRROR] Moves sugar from polypore mycelium to fireblossoms [MDB IGNORE]
  code/modules/mining/lavaland/ash_flora.dm
Labels: Quality of Life

#3312 [MIRROR] Fixes head protector modules doing...nothing [MDB IGNORE]
  code/modules/mod/modules/modules_engineering.dm
Labels: Fix

#3309 [MIRROR] Adds cool sword mouse cursor maintenance pda app [MDB IGNORE]
  code/modules/modular_computers/computers/item/computer_files.dm
  code/modules/modular_computers/computers/item/disks/maintenance_disks.dm
  code/modules/modular_computers/file_system/programs/maintenance/cool_sword.dm
  icons/effects/mouse_pointers/cool_sword.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosCursor.tsx
Labels: Feature, Sprites, UI

#3305 [MIRROR] fixes infiltrator sprite being misaligned [MDB IGNORE]
  icons/mob/clothing/modsuit/mod_clothing.dmi
Labels: Fix, Sprites

#3307 [MIRROR] Surgical omnitool upgrade upgrades the health analyzer [MDB IGNORE]
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Balance

#3322 [MIRROR] Spess Knife as a random mail item for engi and clown [MDB IGNORE]
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Feature

#3320 [MIRROR] Adds a glug sound to welding fuel tank leaks [MDB IGNORE]
  code/modules/reagents/reagent_dispenser.dm
  sound/effects/glug.ogg
Labels: Sound

#3310 [MIRROR] Fix cyborg omnitool regression [MDB IGNORE]
  code/game/objects/items/robot/items/tools.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/cyborg_tool.dm
Labels: Fix

#3314 [MIRROR] Fixes Pathfinder module AGAIN, General JPS Tweak [MDB IGNORE]
  code/__HELPERS/paths/jps.dm
  code/__HELPERS/spatial_info.dm
  code/controllers/subsystem/radiation.dm
  code/datums/ai/objects/mod.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/pinpointer.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/mob/living/navigation.dm
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: Code Improvement, Fix

#3316 [MIRROR] Fixed limb slowdown and hunger affecting your speed in nograv [MDB IGNORE]
  code/modules/movespeed/modifiers/innate.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: Fix

#3325 [MIRROR] Removed tank dispenser UI [MDB IGNORE]
  code/game/objects/structures/tank_dispenser.dm
  tgui/packages/tgui/interfaces/TankDispenser.jsx
Labels: Removal, UI

#3337 Fixes a gigantism exploit
  code/datums/mutations/body.dm
Labels: Fix

#3345 [MIRROR] [no gbp] small fixes to qm room [MDB IGNORE]
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, GBP: No Update, Map Edit

#3295 [MIRROR] Some alt & ctrl click improvements [MDB IGNORE]
  code/__DEFINES/dcs/signals/signals_xeno_control.dm
  code/__DEFINES/mobs.dm
  code/_onclick/click.dm
  code/_onclick/click_alt.dm
  code/_onclick/click_ctrl.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/obeys_commands.dm
  code/datums/components/rotation.dm
  code/datums/components/style/style_meter.dm
  code/datums/components/toggle_suit.dm
  code/datums/storage/storage.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/guardian/guardian_types/support.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/wiremod/shell/controller.dm
Labels: Code Improvement, Fix

#3342 [MIRROR] You can access your inventory when lying down [MDB IGNORE]
  code/datums/storage/storage.dm
Labels: Fix

#3394 [MIRROR] Fixes two miswritten words in the heretic lore [MDB IGNORE]
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Labels: Grammar and Formatting

#3393 [MIRROR] Blood filter surgery update [MDB IGNORE]
  code/modules/surgery/blood_filter.dm
Labels: Code Improvement
