Repository NovaSector/NovaSector, pull requests merged in 2024-07, with the labels that each got.

#3415 [MIRROR] Slime extracts can now be ground once again [MDB IGNORE]
  code/modules/reagents/chemistry/holder/reactions.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#3366 [MIRROR] Fixes deaf mobs hearing ship/area ambience [MDB IGNORE]
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/modules/client/client_defines.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/login.dm
Labels: Fix

#3440 [MIRROR] Ambience Buzz Handling Changes + Ambience buzz requires enviorment power [MDB IGNORE]
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob_defines.dm
Labels: Fix, Sound

#3334 [MIRROR] Ashwalkers now start out in their proper faction; Lavaland mobs also have this if ashwalkers don't attack them [MDB IGNORE]
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Feature, Fix

#3446 [MIRROR] adds swapping pens in PDAs [MDB IGNORE]
  code/modules/modular_computers/computers/item/pda.dm
Labels: Quality of Life

#3462 [MIRROR] Fixed various issues with the genetics powers PR [MDB IGNORE]
  code/datums/mutations/_combined.dm
  code/datums/mutations/reach.dm
  code/datums/mutations/speech.dm
  code/datums/mutations/touch.dm
  strings/heckacious.json
Labels: Feature, Fix, Removal

#3457 [MIRROR] Oldstation (Charlie) experiments tweaks [NO GBP] [MDB IGNORE]
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/datums/id_trim/ruins.dm
  code/game/machinery/computer/apc_control.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/surgery/experimental_dissection.dm
  icons/mob/clothing/back.dmi
  icons/obj/canisters.dmi
Labels: Balance, Fix, GBP: No Update, Quality of Life, Sprites, Map Edit

#3467 [MIRROR] [no gbp] portascrubbers also scrub the tile theyre on [MDB IGNORE]
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Fix, GBP: No Update

#3456 [MIRROR] Adds Perfectly Ordinary Food Truck [MDB IGNORE]
  _maps/shuttles/hunter_mi13_foodtruck.dmm
  code/__DEFINES/antagonists.dm
  code/datums/shuttles/hunter.dm
  code/game/area/areas/shuttles.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
Labels: Feature, Map Edit

#3471 [MANUAL MIRROR] - BirdShot Service Department Changes (#84080)
  _maps/map_files/Birdshot/birdshot.dmm
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Feature, GBP: No Update, Map Edit

#3333 [MIRROR] Birdshot Service Fixes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#3338 [MIRROR] Fixes dorm and bathroom airlock buttons on Birdshot [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Missing Prerequisite, Map Edit

#3480 Fixes modular maps for nearspace unit tests #3441
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Edit

#3499 [MIRROR] Reverts lootpanel change [MDB IGNORE]
  code/modules/lootpanel/search_object.dm
Labels: Fix, Revert

#3515 [MIRROR] Improve bedsheet interactions [MDB IGNORE]
  code/game/objects/structures/bedsheet_bin.dm
Labels: Code Improvement, Fix, Quality of Life, Sound

#3517 [MIRROR] Fixed quirk conflict between transhumanist and prosthetic limb [MDB IGNORE]
  code/_globalvars/lists/quirks.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  code/datums/quirks/neutral_quirks/transhumanist.dm
  code/modules/client/preferences/prosthetic_limb.dm
Labels: Code Improvement, Quality of Life

#3519 [MIRROR] Changes bitrunning hacker alias sanitization [MDB IGNORE]
  code/__HELPERS/text.dm
  code/modules/client/preferences/names.dm
Labels: Fix

#3513 [MIRROR] Fixes mending touch for simplemobs [MDB IGNORE]
  code/datums/mutations/touch.dm
Labels: Fix

#3520 [MIRROR] Updates forgotten diamond stack sprites [MDB IGNORE]
  icons/obj/stack_objects.dmi
Labels: Sprites

#3514 [MIRROR] fixes not being able to clean microwaves [MDB IGNORE]
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: Fix

#3504 [MIRROR] makes projectile dampener fields look cooler [MDB IGNORE]
  icons/effects/fields.dmi
Labels: Sprites

#3483 [MIRROR] Gun Refactor Part 1: Bayonet Componentization [MDB IGNORE]
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/bayonet_attachable.dm
  code/game/objects/items/knives.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  modular_nova/modules/exp_corps/code/gear.dm
  modular_nova/modules/marines/code/gear.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_nova/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  tgstation.dme
Labels: Refactor

#3478 [MIRROR] Crew monitor defaults to vitals [MDB IGNORE]
  tgui/packages/tgui/interfaces/CrewConsole.tsx
  tgui/packages/tgui/interfaces/CrewConsoleNova.tsx
Labels: Quality of Life, UI

#3510 [MIRROR] exorcises hardstun weapons + death/poly wands from lootboxes [MDB IGNORE]
  code/game/objects/structures/mystery_box.dm
  code/modules/projectiles/guns/energy/pulse.dm
Labels: Balance, Fix

#3518 [MIRROR] fixes mansus grasp not removing runes [MDB IGNORE]
  code/datums/components/effect_remover.dm
Labels: Fix

#3501 [MIRROR] some deathmatch fixes [MDB IGNORE]
  _maps/deathmatch/OSHA_Violator.dmm
  code/__DEFINES/_flags.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/power/singularity/field_generator.dm
Labels: Fix, Grammar and Formatting, Quality of Life, Map Edit

#3413 [MIRROR] Better UI for heretic research [MDB IGNORE]
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/eldritch_flask.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  icons/obj/antags/eldritch.dmi
  icons/ui_icons/antags/heretic/knowledge.dmi
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: Feature, Sprites, UI

#3529 [MIRROR] Fixes borg climbing [MDB IGNORE]
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#3526 [MIRROR] Adds a station trait that fills maintenance with glowsticks [MDB IGNORE]
  code/datums/station_traits/positive_traits.dm
Labels: Feature

#3398 [MIRROR] Uses ancient dark-mapper knowledge to correctly fix all science burn chambers' power [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#3441 [MIRROR] Unit tests for stuff accidentally placed in space by mappers [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/nova/automapper/templates/northstar/northstar_ert_bay.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_wawa.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/pirate_grey.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/game/turfs/open/floor/hull.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mapload_space_verification.dm
  code/modules/unit_tests/mapping_nearstation_test.dm
  icons/effects/mapping_helpers.dmi
  tools/ci/check_grep.sh
Labels: Code Improvement, Fix, Sprites, Tools, Map Edit

#3560 Fixes the Ouroboros CI issue
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Map Edit

#3561 [MIRROR] Cleans up relic code & adds new relic theme [MDB IGNORE]
  code/modules/cargo/bounties/science.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  code/modules/research/experimentor.dm
  icons/obj/devices/artefacts.dmi
  icons/obj/devices/artifacts.dmi
Labels: Code Improvement, Sprites

#3559 [MIRROR] Empty distro fix - Binary devices now consider the output pipenet volume [MDB IGNORE]
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
Labels: Fix

#3551 [MIRROR] Tones down the settler speeds by a considerable margin (both slowdown and speedup) [MDB IGNORE]
  code/datums/components/riding/riding_mob.dm
Labels: Balance

#3558 [MIRROR] CE and Engineer start with their hardhat as the respective welding hard hat variant [MDB IGNORE]
  code/modules/clothing/head/hardhat.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Quality of Life

#3557 [MIRROR] Makes bloody footprints messier [MDB IGNORE]
  code/datums/components/bloodysoles.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Balance

#3554 [MIRROR] Fixed adaptations not conflictnig [MDB IGNORE]
  code/datums/mutations/adaptation.dm
Labels: Fix

#3553 [MIRROR] Makes the omnitool lathe proof [MDB IGNORE]
  code/datums/components/material/material_container.dm
Labels: Fix

#3555 [MIRROR] Fixes broken animated icons of Emag & Doorjack [MDB IGNORE]
  icons/obj/card.dmi
Labels: Sprites

#3556 [MIRROR] Fixes fireproof reagent containers [MDB IGNORE]
  code/modules/reagents/reagent_containers.dm
Labels: Fix

#3562 [MIRROR] Projectile Dampener field now reduces stuns and stamina damage from incoming projectiles (ebow projectiles in particular) [MDB IGNORE]
  code/modules/mod/modules/modules_security.dm
Labels: Feature

#3459 [MIRROR] Gives R&D a flatpacked flatpacker on all maps [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Feature, Map Edit

#3458 [MIRROR] [NO GBP] BirdShot Service Fix 2 [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, GBP: No Update, Map Edit

#3460 [MIRROR] Adds Xenobio (BZ) reinforced floor turfs to Xenobiology Secure Pens [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  modular_nova/modules/mapping/code/turf.dm
Labels: Balance, Map Edit

#3522 [MIRROR] Scan an android to get 200 point discount on the final augmentation node [NO GBP] [MDB IGNORE]
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_reagent.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: Fix, GBP: No Update, Quality of Life

#3566 [MIRROR] [NO GBP] Augmented organs experiment hotfix [MDB IGNORE]
  code/modules/experisci/experiment/experiments.dm
Labels: Fix, GBP: No Update

#3575 [MIRROR] Crafting accepts machine subtypes [MDB IGNORE]
  code/datums/components/crafting/crafting.dm
Labels: Fix

#3486 Adds 2 newish hairstyles
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Sprites, Good First PR

#3580 [MIRROR] Adds the Holy Skateboard, a holy version of the hoverboard. [MDB IGNORE]
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/vehicles/scooter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/rideables/vehicles.dmi
Labels: Feature, Sprites

#3581 [MIRROR] Add skibidi to chaplain brain damage triggers [MDB IGNORE]
  code/modules/jobs/job_types/chaplain/chaplain.dm
Labels: Feature

#3582 [MIRROR] Fix hacker alias name preference not working [MDB IGNORE]
  code/modules/bitrunning/components/avatar_connection.dm
Labels: Fix

#3584 [MIRROR] Fixes knight helmets being flammable [MDB IGNORE]
  code/modules/clothing/head/helmet.dm
Labels: Fix

#3585 [MIRROR] Fisherman's Discernment show list of fish properly [MDB IGNORE]
  code/datums/components/fishing_spot.dm
Labels: Fix

#3588 [MIRROR] Hotfixes need to breathe [MDB IGNORE]
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#3587 [MIRROR] Renames the organ thrower to the 'organizer' and clears up its description [MDB IGNORE]
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
  modular_nova/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: Grammar and Formatting, Sprites

#3611 [MIRROR] Fixes orbit scrolling icons [no gbp] [MDB IGNORE]
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: Fix, GBP: No Update, UI

#3612 [MIRROR] Aquariums now influence area beauty based on their contents. [MDB IGNORE]
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/datums/components/aquarium_content.dm
  code/datums/mood_events/morbid_events.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/aquarium/aquarium_upgrades.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fish_catalog.dm
  code/modules/fishing/fishing_equipment.dm
  tgui/packages/tgui/interfaces/FishCatalog.tsx
Labels: Feature, UI

#3601 [MIRROR] All jetpacks are no longer full-speed [MDB IGNORE]
  code/game/objects/items/tanks/jetpack.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/movespeed/modifiers/items.dm
  modular_nova/master_files/code/modules/mod/mod_types.dm
  modular_nova/modules/advanced_engineering/code/adv_engineering.dm
  modular_nova/modules/contractor/code/items/modsuit/modsuit.dm
  modular_nova/modules/novaya_ert/code/mod_suit.dm
  modular_nova/modules/opposing_force/code/equipment/modsuit.dm
Labels: Balance, Removal

#3624 [MIRROR] Paintings can be sponsored again [MDB IGNORE]
  code/modules/art/paintings.dm
Labels: Fix

#3646 [MIRROR] Bloody footprints no longer share their blood when you step on them [MDB IGNORE]
  code/datums/components/bloodysoles.dm
Labels: Fix

#3639 [MIRROR] Fixes welding helmet and hardhat pepperspray protection [MDB IGNORE]
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/welding.dm
Labels: Fix

#3650 [MIRROR] Changes blood filter min to clamp per Melbert's suggestion [MDB IGNORE]
  code/modules/surgery/blood_filter.dm
Labels: Fix

#3651 [MIRROR] Antag stingers for: Abductee, hypnotized, brainwashed [MDB IGNORE]
  code/modules/antagonists/abductor/abductee/abductee.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/hypnotized/hypnotized.dm
  sound/ambience/antag/abductee.ogg
  sound/ambience/antag/attribution.txt
  sound/ambience/antag/brainwashed.ogg
  sound/ambience/antag/hypnotized.ogg
Labels: Sound

#3641 [MIRROR] Fixes ore vents floating after a tendril collapses nearby. [MDB IGNORE]
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Fix

#3647 [MIRROR] You can now spill reagents out of ice cream vats [MDB IGNORE]
  code/modules/food_and_drinks/machinery/icecream_vat.dm
Labels: Quality of Life

#3640 [MIRROR] Hydroponic trays take in reagents proportionally from plumbing mech [MDB IGNORE]
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/buffer.dm
  code/datums/components/plumbing/filter.dm
  code/datums/components/plumbing/simple_components.dm
  code/datums/components/plumbing/splitter.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/reagents/chemistry/holder/holder.dm
  tgstation.dme
Labels: Fix

#3643 [MIRROR] Using a multitool inhand tells you where the area APC is [MDB IGNORE]
  code/datums/proximity_monitor/field.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/wiremod/core/marker.dm
Labels: Quality of Life

#3645 [MIRROR] Adds an "not_for_loneops" option for uplink items, blocks loneop from buying Overwatch agents and useless equipment [MDB IGNORE]
  code/__DEFINES/uplink.dm
  code/modules/antagonists/nukeop/datums/operative_lone.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/uplink/uplink_devices.dm
  code/modules/uplink/uplink_items/ammunition.dm
  code/modules/uplink/uplink_items/bundle.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/device_tools.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/uplink/uplink_items/species.dm
  code/modules/uplink/uplink_items/stealthy.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
  code/modules/uplink/uplink_items/suits.dm
Labels: Balance, Fix

#3653 [MIRROR] Secures birdshot's janitorial closet by adding missing access requirements to a door [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#3652 [MIRROR] Fixes active turf in icebox/wawa xenobio [MDB IGNORE]
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/turfs/open/openspace.dm
Labels: Fix, Map Edit

#3654 [MIRROR] Small changes to cargo on MetaStation [MDB IGNORE]
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Quality of Life, Map Edit

#3642 [MIRROR] exodrone sign part 2 [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/signs.dmi
Labels: Sprites, Map Edit

#3644 [MIRROR] Adds a signal to the stamina crit status effect for listeners to respond to [MDB IGNORE]
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/status_effects/debuffs/stamcrit.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: Fix

#3656 [MIRROR] Fixes living limbs touching invisible/abstract atoms and improves their grammar [MDB IGNORE]
  code/modules/mob/living/basic/ruin_defender/flesh.dm
Labels: Fix, Grammar and Formatting

#3634 [MIRROR] [MDB IGNORE] Map lints the `piping_layer` var and scrubs it off our maps [MDB IGNORE]
  _maps/RandomRuins/IceRuins/icemoon_surface_phonebooth.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/nova/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/nova/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  tools/maplint/lints/atmos_var_edits.yml
Labels: Code Improvement, Tools, Map Edit

#3657 [MIRROR] Fixes Exosuit Stress Failure not working [MDB IGNORE]
  code/modules/experisci/experiment/experiments.dm
Labels: Fix

#3630 [AutoMapper] Tweaks Birdshots NTC Office and Barbershop Templates
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/nova/automapper/templates/birdshot/birdshot_ntrep_office.dmm
Labels: Fix, Removal, Map Edit

#3667 Fix master CI
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Map Edit

#3660 [MIRROR] Fix chem dispenser feedback [MDB IGNORE]
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#3659 [MIRROR] [NO GBP] Fixes the loot weight config + maintenance spawner nitpick [MDB IGNORE]
  code/game/objects/effects/spawners/random/maintenance.dm
  code/game/objects/effects/spawners/random/random.dm
Labels: GBP: No Update

#3672 [MIRROR] Makes docked shuttle departure timer reset when a hostile environment threat is stopped [MDB IGNORE]
  code/controllers/subsystem/shuttle.dm
Labels: Quality of Life

#3671 [MIRROR] Remote materials don't block multitool on failure [MDB IGNORE]
  code/datums/components/material/remote_materials.dm
  code/modules/mining/machine_stacking.dm
Labels: Fix

#3666 [MIRROR] [NO GBP] Fixing fishing bait-related calculations [MDB IGNORE]
  code/modules/fishing/sources/_fish_source.dm
Labels: Fix, GBP: No Update

#3669 [MIRROR] Fixed paralyzed characters being able to walk post-amputation. [MDB IGNORE]
  code/modules/surgery/bodyparts/parts.dm
Labels: Fix

#3661 [MIRROR] Various minor fixes for the remaining shuttles [MDB IGNORE]
  _maps/shuttles/cargo_delta.dmm
  _maps/shuttles/cargo_kilo.dmm
  _maps/shuttles/cargo_pubby.dmm
  _maps/shuttles/ert_bounty.dmm
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  code/datums/shuttles/arrival.dm
  code/datums/shuttles/cargo.dm
  code/datums/shuttles/ferry.dm
Labels: Fix, Removal, Map Edit

#3664 [MIRROR] Living flesh now has a 30/70% chance to touch the targeted thing instead of pulling it [MDB IGNORE]
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/mob/mob.dm
Labels: Feature

#3670 [MIRROR] Fixed lights stopping emitting light in some situations [MDB IGNORE]
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
Labels: Fix

#3704 [MIRROR] Fixes mod paint kit [MDB IGNORE]
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
Labels: Fix

#3712 [MIRROR] Experimentor will no longer duplicate Bags of Holding [MDB IGNORE]
  code/modules/research/experimentor.dm
Labels: Balance

#3733 [MIRROR] Experimentor malfunction reduction chance is now multiplicative. Copying is now slightly rarer. [MDB IGNORE]
  code/modules/research/experimentor.dm
Labels: Balance

#3721 [MIRROR] War declaration gives 600 research points [MDB IGNORE]
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
Labels: Balance

#3730 [MIRROR] Other mobs no longer hear your breathing [MDB IGNORE]
  code/datums/looping_sounds/breathing.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#3714 [MIRROR] Fixes the Metastation cargo ripley not being able to charge. [MDB IGNORE]
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#3713 [MIRROR] Outpost45 runtime fix [MDB IGNORE]
  _maps/RandomZLevels/undergroundoutpost45.dmm
  code/game/turfs/open/asteroid.dm
Labels: Fix, Map Edit

#3716 [MIRROR] Mannitol pills are 15u [MDB IGNORE]
  code/modules/reagents/reagent_containers/pill.dm
Labels: Quality of Life

#3718 [MIRROR] Security officers can now be made blood brothers if their mindshield is removed [MDB IGNORE]
  code/modules/antagonists/brother/brother.dm
Labels: Balance

#3710 [MIRROR] Ordnance and Xenobiology QoL's for Wawastation [MDB IGNORE]
  _maps/map_files/wawastation/wawastation.dmm
Labels: Quality of Life, Map Edit

#3732 [MIRROR] Heads of staff PDAs start with twice as much disk space [MDB IGNORE]
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: Quality of Life

#3719 [MIRROR] Medical research nodes adjustment [MDB IGNORE]
  code/__DEFINES/research/techweb_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  modular_nova/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Balance

#3727 [MIRROR] Fixes the french beret making you speak spanish [MDB IGNORE]
  code/modules/clothing/masks/boxing.dm
Labels: Fix

#3729 [MIRROR] Fixes password doors and shutters not playing their sound effects [MDB IGNORE]
  code/game/machinery/doors/door.dm
Labels: Fix

#3722 [MIRROR] Pyro and cryo beams (the genetics powers) adjust temperature more severely, additional effects to make them more meaningfully interact with the world [MDB IGNORE]
  code/modules/projectiles/projectile/special/temperature.dm
Labels: Balance

#3743 [MIRROR] Makes the smoking pipe sprite not give you a phantom stache. [MDB IGNORE]
  icons/mob/clothing/mask.dmi
Labels: Sprites

#3744 [MIRROR] Using ctrl + your quick MOD button now opens module selector on your mouse position [MDB IGNORE]
  code/modules/mod/mod_control.dm
Labels: Quality of Life

#3746 [MIRROR] request manager refactor [MDB IGNORE]
  code/modules/requests/request_manager.dm
  tgui/packages/tgui/interfaces/RequestManager.tsx
Labels: Fix, Refactor, UI

#3749 [MIRROR] Climbable range fix [MDB IGNORE]
  code/datums/elements/climbable.dm
Labels: Fix

#3747 [MIRROR] Toggle the ability for the dead to vote in-game + understandability for the dead whether voting is disabled. [MDB IGNORE]
  code/controllers/subsystem/vote.dm
  code/modules/admin/verbs/server.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Administration, Quality of Life, UI

#3757 [MIRROR] Attempts to fix the plague hat having pepper spray and hugger protection, moving it to the mask instead [MDB IGNORE]
  code/modules/clothing/head/hat.dm
  code/modules/clothing/masks/gasmask.dm
Labels: Fix

#3759 [MIRROR] Recyclers no longer tear implant tools from your body [MDB IGNORE]
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: Fix

#3761 [MIRROR] Bandaid fix for blood killing you from high percentages if you are in oxycrit [MDB IGNORE]
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Quality of Life

#3764 [MIRROR] Adjusts firelock balloons and converts attack_alien to use balloon when failing [MDB IGNORE]
  code/game/machinery/doors/firedoor.dm
Labels: Grammar and Formatting

#3768 [MIRROR] All lattices make catwalk footsteps (instead of just catwalks) [MDB IGNORE]
  code/game/objects/structures/lattice.dm
Labels: Quality of Life

#3763 [MIRROR] You can implant yourself with pathfinder MOD implant while you're wearing the suit [MDB IGNORE]
  code/modules/mod/modules/module_pathfinder.dm
Labels: Quality of Life

#3762 [MIRROR] Fixes a chasm appearing in Tramstation when the jungle grass is destroyed [MDB IGNORE]
  _maps/map_files/tramstation/tramstation.dmm
  code/game/turfs/open/planet.dm
Labels: Fix, Map Edit

#3766 [MIRROR] Fixes outfit manager harddel [MDB IGNORE]
  code/modules/admin/outfit_manager.dm
Labels: Administration

#3751 [MIRROR] Icebox Cytology Lab [MDB IGNORE]
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Feature, Fix, Map Edit

#3767 [MIRROR] [no gbp] fixes mothroach glutton [MDB IGNORE]
  code/modules/mob/living/basic/vermin/mothroach/mothroach_ai.dm
Labels: Fix, GBP: No Update

#3773 [MIRROR] Add interaction sounds to pill bottle [MDB IGNORE]
  code/datums/storage/storage.dm
  code/game/objects/items/storage/medkit.dm
  sound/items/handling/pill_bottle_open.ogg
  sound/items/handling/pill_bottle_pickup.ogg
  sound/items/handling/pill_bottle_place.ogg
Labels: Sound

#3774 [MIRROR] Alt right click support for borgs [MDB IGNORE]
  code/_onclick/cyborg.dm
Labels: Fix

#3776 [MIRROR] [NO GBP] Fixes a regression with the no-decal maintenance loot spawner [MDB IGNORE]
  code/game/objects/effects/spawners/random/maintenance.dm
Labels: GBP: No Update

#3778 [MIRROR] Fixes the clown reinforcement spawning with TC [MDB IGNORE]
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/clown_ops/outfits.dm
  code/modules/antagonists/nukeop/outfits.dm
Labels: Fix

#3777 [MIRROR] Fix Tongue Based Speech Modifiers Being Applied To Users Native Languages [MDB IGNORE]
  code/datums/components/speechmod.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/unit_tests/say.dm
Labels: Fix

#3765 [MIRROR] Disabling minigames also disables deathmatch [MDB IGNORE]
  code/modules/deathmatch/deathmatch_controller.dm
Labels: Administration

#3770 [MIRROR] Research queue [MDB IGNORE]
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: Quality of Life, UI

#3775 [MIRROR] Fixes overwatch glasses not adding HUDs [MDB IGNORE]
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
Labels: Fix

#3771 [MIRROR] [THIS DOES NOT AFFECT DAMAGE] [ITS PURELY VISUAL] [TRUST ME] [I CHECKED IT] Accelerator cannon projectiles scale slower and have a size limit now [MDB IGNORE]
  code/modules/projectiles/guns/energy/laser.dm
Labels: Fix

#3748 [MIRROR] Full revert of #79995 (tri-ai station trait). Partal revert of #81681 (human ai) [MDB IGNORE]
  code/__DEFINES/dcs/signals/signals_global_object.dm
  code/controllers/subsystem/job.dm
  code/datums/station_traits/job_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/admin/verbs/ai_triumvirate.dm
  code/modules/admin/verbs/secrets.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: Revert, UI

#3758 [MIRROR] Fix Scream emote running the wrong emote [MDB IGNORE]
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
Labels: Fix

#3792 [MIRROR] Justice (a melee-only mech) can no longer have guns attached [MDB IGNORE]
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: Fix

#3709 Globally reduces the sound of announcements (including BSA and SM sounds), reduces the sound of the shuttles taking off and landing
  modular_nova/master_files/code/modules/shuttle/shuttle.dm
  modular_nova/modules/alerts/code/alert_sound_to_playing.dm
Labels: Code Improvement, Sound

#3781 [MIRROR] Tweaked the 'Linked Closets' trait. [MDB IGNORE]
  code/datums/station_traits/neutral_traits.dm
Labels: Balance

#3782 [MIRROR] Holy skateboard improvement + actually fixing space movement with hoverboards. [MDB IGNORE]
  code/datums/components/anti_magic.dm
  code/datums/components/riding/riding_vehicle.dm
  code/modules/vehicles/scooter.dm
Labels: Balance, Fix

#3784 [MIRROR] Love is stored in the heart (adds the love chem to hearts) [MDB IGNORE]
  code/datums/quirks/positive_quirks/friendly.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: Balance, Feature

#3785 [MIRROR] Positive moodlets when examining high-value paintings, plus tgui nitpicks [MDB IGNORE]
  code/__DEFINES/art.dm
  code/controllers/subsystem/persistent_paintings.dm
  code/modules/art/paintings.dm
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: Feature, Quality of Life, UI

#3786 [MIRROR] Megaphones now affect TTS [MDB IGNORE]
  code/game/objects/items/devices/megaphone.dm
  code/modules/mob/living/living_say.dm
Labels: Feature

#3787 [MIRROR] Minor Fishing rod QoL [MDB IGNORE]
  code/modules/fishing/fishing_rod.dm
Labels: Quality of Life

#3791 [MIRROR] Material sheet sounds and Vary support for picking up/dropping items [MDB IGNORE]
  code/game/objects/items.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  sound/items/attributions.txt
  sound/items/glass_drop.ogg
  sound/items/glass_pick_up.ogg
  sound/items/iron_rod_pick_up.ogg
  sound/items/metal_drop.ogg
  sound/items/metal_pick_up.ogg
  sound/items/plastic_drop.ogg
  sound/items/plastic_pick_up.ogg
  sound/items/wood_drop.ogg
  sound/items/wood_pick_up.ogg
Labels: Code Improvement, Sound

#3793 [MIRROR] Grinding fish no longer gives you uselessly high amount of blood and gibs. [MDB IGNORE]
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
Labels: Balance

#3794 [MIRROR] Clown car now cares about maximum amount of drivers [MDB IGNORE]
  code/modules/vehicles/cars/clowncar.dm
Labels: Fix

#3796 [MIRROR] Necropolis gates block atmos when closed. [MDB IGNORE]
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
Labels: Fix

#3797 [MIRROR] Improves pipe pistols, changes their bane effect to an on-hit effect of the projectile, fixes a mild bug with bayonets on pipe pistols [MDB IGNORE]
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/junk.dm
Labels: Feature, Fix

#3490 [MIRROR] Adds more "curated" version of human randomization (for humonkeys, corpse spawners, and fresh characters) [MDB IGNORE]
  code/datums/sprite_accessories.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature

#3789 [MIRROR] Fixes Wawastation xenobio openspace bz turfs in the main room [MDB IGNORE]
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#3742 [MIRROR] Birdshot engineering re-rework [MDB IGNORE]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/birdshot/birdshot_supermatter.dmm
Labels: Feature, Map Edit

#3795 [MIRROR] Fixed Icebox ordnance being freezing cold (+ some minor Icebox fixes) [MDB IGNORE]
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#3683 [MIRROR] refactor: move `status_display_bottom_text` and `fire_alarm_light_color` to security level prototypes [MDB IGNORE]
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/security_levels/security_level_datums.dm
  modular_nova/modules/alerts/code/security_level_datums.dm
Labels: Refactor

#3801 [MIRROR] Dead raptors no longer get happy when petted or groomed [MDB IGNORE]
  code/datums/components/happiness.dm
Labels: Fix

#3760 [MIRROR] Fixes loadout menu bluescreen when recoloring certain items. [MDB IGNORE]
  code/modules/loadout/loadout_items.dm
Labels: Fix

#3599 [MIRROR] Adds informed default values for a bunch of preferences (to produce less outlandish random characters) [MDB IGNORE]
  code/__HELPERS/mobs.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/age.dm
  code/modules/client/preferences/blindfold_color.dm
  code/modules/client/preferences/body_type.dm
  code/modules/client/preferences/clothing.dm
  code/modules/client/preferences/gender.dm
  code/modules/client/preferences/glasses.dm
  code/modules/client/preferences/language.dm
  code/modules/client/preferences/prosthetic_limb.dm
  code/modules/client/preferences/prosthetic_organ.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/client/preferences/trans_prosthetic.dm
  code/modules/client/preferences_savefile.dm
  modular_nova/master_files/code/modules/client/preferences/clothing.dm
Labels: Quality of Life
