Repository NovaSector/NovaSector, pull requests merged in 2024-10, with the labels that each got.

#4472 Fixes Void Raptor solars
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Edit

#4471 Adds donator item for BonkaiTheRoris
  modular_nova/master_files/icons/donator/mob/clothing/modsuit.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/donator/obj/clothing/modsuit.dmi
  modular_nova/master_files/icons/donator/obj/custom.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Donator Item

#4506 Snowglobe Nitpicks
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Quality of Life, Map Edit

#4499 Space Ruin - Black Market Trader Balance pass
  _maps/RandomRuins/SpaceRuins/nova/blackmarket.dmm
  modular_nova/modules/mapping/code/mob_spawns.dm
Labels: Balance, Feature, Removal, Test Merged, Map Edit

#4520 Adds a donor item for DprMstr
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Donator Item
