Repository NovaSector/NovaSector, pull requests merged in 2024-02, with the labels that each got.

#720 [MIRROR] Mech wire panels can no longer be accessed while the mech is occupied.
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: Balance

#727 [MIRROR] Lathes no use power to print piecemeal AND respect area.requires_power
  code/game/machinery/autolathe.dm
  code/modules/power/power.dm
  code/modules/research/machinery/_production.dm
Labels: Balance, Fix

#723 [MIRROR] Fix teleportation putting you outside of reservations
  code/datums/helper_datums/teleport.dm
Labels: Fix

#724 [MIRROR] Fixes runtime from examining mod PCs
  code/modules/modular_computers/computers/machinery/modular_computer.dm
Labels: Fix

#726 [MIRROR] Fixes copy pasted arg in robocontrol app
  code/modules/modular_computers/file_system/programs/robocontrol.dm
Labels: Fix

#730 [MIRROR] New Experimentor UI
  code/modules/research/experimentor.dm
  tgui/packages/tgui/interfaces/Experimentator.tsx
Labels: Refactor, UI

#732 [MIRROR] Adds a small chance to be a smartass when affected by Voice of God
  code/datums/voice_of_god_command.dm
Labels: Feature

#738 [MIRROR] Fix robotic voicebox tongue using the wrong proc.
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: Fix

#755 [MIRROR] Less laughing from trace nitrous
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Quality of Life

#754 [MIRROR] Fixes tram alt-click interactions
  code/modules/transport/tram/tram_remote.dm
  code/modules/transport/tram/tram_signals.dm
Labels: Fix

#758 [MIRROR] Kills off /obj/item/onetankbomb, assembly bombs now handled by the tank itself
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/bomb.dm
  code/modules/research/experimentor.dm
  tgstation.dme
Labels: Code Improvement

#762 [MIRROR] Lowers contractor baton cost. Baton can only be bought by roundstart traitors, while midroll/latejoin traitors cannot buy a baton (They must buy the contractor kit for one).
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/uplink/uplink_items/contractor.dm
  code/modules/uplink/uplink_items/stealthy.dm
Labels: Balance, Fix

#766 [MIRROR] Fixes burning a bible giving you an infinite amount of curses.
  code/datums/components/omen.dm
Labels: Fix

#761 fleet colours and ckey unrestrict
  modular_nova/master_files/icons/donator/mob/clothing/head.dmi
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_nova/master_files/icons/donator/obj/clothing/hats.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#767 Science Uniform Resprites - Removes overrides, updates Digi sprites
  modular_nova/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/civilian.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/command.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_nova/master_files/code/modules/clothing/under/jobs/security.dm
  modular_nova/master_files/code/modules/clothing/under/syndicate.dm
  modular_nova/master_files/icons/mob/clothing/under/rnd.dmi
  modular_nova/master_files/icons/mob/clothing/under/rnd_digi.dmi
  modular_nova/master_files/icons/obj/clothing/under/rnd.dmi
  modular_nova/modules/command_vendor/code/vending.dm
  modular_nova/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_nova/modules/modular_vending/code/wardrobes.dm
Labels: Removal, Sprites

#790 [MIRROR] Automated IV drips now respect the layer set in the plumbing constructor
  code/modules/plumbing/plumbers/iv_drip.dm
Labels: Fix

#800 [MIRROR] Fixes some irregularities in heretic research tree
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
Labels: Fix

#801 [MIRROR] The CC Commander Headset now can be set to high-volume
  code/game/objects/items/devices/radio/headset.dm
Labels: Quality of Life

#804 [MIRROR] Gives paradox clone their own ghost polling icon
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/paradox_clone/paradox_clone.dm
Labels: Feature

#809 [MIRROR] Cryo tubes will dump legions spawned inside them when opened
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix

#810 [MIRROR] Fix Blink component indexing null props
  tgui/packages/tgui/components/Blink.jsx
Labels: UI

#811 [MIRROR] Adds new Role restricted Traitor item: Reticence Assasination Exosuit
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/combat/reticence.dm
Labels: Feature

#812 [MIRROR] Science Xenos no longer turn the roundend report all bold
  code/modules/antagonists/xeno/xeno.dm
Labels: Fix

#813 [MIRROR] [FIX] Prevents Buckling Megas, Blobs, Constructs, Slimes, and Dragons
  code/modules/mob/living/basic/blob_minions/blob_mob.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix

#817 [MIRROR] RD and QM coats can hold their telebatons. QM coat can also hold items that a regular jacket can hold
  code/modules/clothing/suits/jobs.dm
Labels: Balance, Quality of Life

#822 [MIRROR] Machinery cannot be interacted with by AI when its turf is off-camera
  code/game/machinery/_machinery.dm
Labels: Balance

#821 [MIRROR] Makes DM side changes to preferences propagate to UI properly.
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: Fix, UI

#823 [MIRROR] Regenerative Materia Blobs No Longer Drug Non-Carbons
  code/modules/antagonists/blob/blobstrains/regenerative_materia.dm
Labels: Fix

#798 [MIRROR] Mechs now use proper name when renamed
  code/modules/vehicles/mecha/mecha_ui.dm
Labels: Grammar and Formatting

#793 [MIRROR] Material container drops sheets only on object deconstruct & not destroy.
  code/datums/components/material/material_container.dm
Labels: Fix

#819 [MIRROR] Service now has their own color in crew monitor
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsole.jsx
Labels: Quality of Life, UI

#794 [MIRROR] You can no longer convert objective targets to your blood brother team
  code/modules/antagonists/brother/brother.dm
Labels: Fix

#792 [MIRROR] [FIX] Makes Ghetto Surgery Behave In Line With Expectations
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#825 [MIRROR] Tramstation Isolation cell doors actually open on their timer
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/brigdoors.dm
Labels: Fix, Map Edit

#827 [MIRROR] Restore non-functional ash mark ability
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
Labels: Fix

#829 [MIRROR] Fixes Alien Hunter's Pounce Visuals
  code/modules/mob/living/carbon/alien/adult/caste/hunter.dm
  icons/mob/nonhuman-player/alienleap.dmi
Labels: Fix, Sprites

#826 [MIRROR] Fix bad reference management in object overlay circuit
  code/modules/wiremod/components/bci/hud/object_overlay.dm
Labels: Fix

#831 [MIRROR] Fix set_light colour parameters for ethereal disco ball
  code/game/objects/items/etherealdiscoball.dm
Labels: Fix

#833 [MIRROR] Fixes text effects for runechat.
  code/game/say.dm
  strings/tips.txt
Labels: Fix, Grammar and Formatting

#834 [MIRROR] Fixes to gas station ruin in icebox
  _maps/RandomRuins/IceRuins/icemoon_surface_gas.dmm
Labels: Feature, Fix, Map Edit

#841 [MIRROR] Disable rust version checking in tgs precompile.sh hook
  tools/tgs_scripts/PreCompile.sh
Labels: Tools

#844 [MIRROR] Refactors fancy type generation
  code/__DEFINES/stat_tracking.dm
  code/__HELPERS/type_processing.dm
  code/modules/admin/admin_verbs.dm
Labels: Refactor

#838 [MIRROR] Adds a suicide_act() to the smite spell
  code/modules/spells/spell_types/touch/smite.dm
Labels: Feature

#845 [MIRROR] Adds head-only target hotkey
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
Labels: Quality of Life

#840 [MIRROR] Fixes surgeries runtiming constantly when having the surgery initator open, fixes some surgeries missing sounds
  code/datums/components/surgery_initiator.dm
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/ear_surgery.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/surgery.dm
  modular_nova/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Fix

#803 [MIRROR] Reactions now use volume averaged purity
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder/reactions.dm
Labels: Fix

#846 [MIRROR] SM cascade warnings only show to players in game
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
Labels: Fix

#848 [MIRROR] Fix Krav Maga not shoving
  code/datums/martial/krav_maga.dm
Labels: Fix

#828 [MIRROR] Legcuffs on Aliens Work as Intended
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Fix

#830 [MIRROR] BARSIGNS-BARSIGNS-BARSIGNS!
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Feature, Sprites

#839 [MIRROR] General maintenance for Lathes
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/nova/cargodiselost.dmm
  code/datums/components/material/remote_materials.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/mapfluff/ruins/spaceruin_code/oldstation/oldstation_rnd.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/departmental_protolathe.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  code/modules/research/rdmachines.dm
  code/modules/wiremod/core/component_printer.dm
  icons/obj/machines/research.dmi
  modular_nova/master_files/code/modules/research/machinery/departmental_circuit_imprinter.dm
  modular_nova/modules/colony_fabricator/code/colony_fabricator.dm
  modular_nova/modules/tarkon/code/misc_fluff/research.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/ExosuitFabricator.tsx
  tgui/packages/tgui/interfaces/Fabrication/Types.ts
  tgui/packages/tgui/interfaces/Fabricator.tsx
Labels: Code Improvement, Fix, Quality of Life, Refactor, Sprites, UI, Map Edit

#806 [MIRROR] Makes point_types not be dumb
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/techweb/_techweb.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: UI

#795 Fixes Hilbert Hotel and adds a beach condo
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_nova/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_nova/modules/hotel_rooms/apartment.dmm
  modular_nova/modules/hotel_rooms/beach_condo.dmm
Labels: Feature, Fix

#807 [MIRROR] toilet bong altclick sanity
  code/game/objects/structures/toiletbong.dm
Labels: Fix

#805 [MIRROR] Fixes ore vents spawning without ores on icebox, sets up map specific ore configurations
  code/__DEFINES/mining.dm
  code/_globalvars/lists/ores_spawned.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ore_generation.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mapping/ruins.dm
  code/modules/mining/boulder_processing/refinery.dm
  tgstation.dme
Labels: Fix, Grammar and Formatting

#843 [MIRROR] You can now move and talk through statues and mannequins
  code/datums/components/marionette.dm
  code/datums/components/rotation.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/structures/mannequin.dm
  code/game/objects/structures/toiletbong.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/game/objects/structures/window.dm
  code/modules/art/statues.dm
  code/modules/assembly/infrared.dm
  code/modules/basketball/hoop.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  tgstation.dme
Labels: Feature, Fix

#121 Antag optin
  code/__DEFINES/~nova_defines/antag_optin_defines.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/cult/cult_objectives.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/examine.dm
  config/nova/config_nova.txt
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/modules/antag_opt_in/code/antag_optin_config.dm
  modular_nova/modules/antag_opt_in/code/antag_optin_preferences.dm
  modular_nova/modules/antag_opt_in/code/job.dm
  modular_nova/modules/antag_opt_in/code/mind.dm
  modular_nova/modules/antag_opt_in/code/objective.dm
  modular_nova/modules/antag_opt_in/code/objective_item.dm
  modular_nova/modules/antag_opt_in/readme.md
  modular_nova/modules/customization/modules/mob/living/silicon/examine.dm
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/nova/antag_optin.tsx
Labels: Config Update, Feature, Test Merged, UI

#862 [MIRROR] Removes Halloween Screen Tint
  code/_onclick/hud/rendering/render_plate.dm
Labels: Removal

#861 [MIRROR] [Fix] Visually closing fakewalls when in fact they shouldn't be closed
  code/game/objects/structures/false_walls.dm
Labels: Fix

#860 [MIRROR] Health analyzer displays blood alcohol content
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/blood.dm
  tgui/packages/tgui/interfaces/MedicalKiosk.jsx
Labels: Quality of Life, UI

#857 [MIRROR] Minor update to admin secrets panel (free antags for everyone)
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: Administration, UI

#869 [MIRROR] Reviving stasis now puts you in stasis
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Feature

#866 [MIRROR] Adds an IS_CHANGELING helper
  code/__DEFINES/antagonists.dm
  code/datums/saymode.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/antagonists/changeling/powers/void_adaption.dm
  code/modules/mob/living/basic/guardian/guardian_creator.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/unit_tests/changeling.dm
Labels: Code Improvement

#874 New Clothes For Hearthkin
  modular_nova/modules/GAGS/greyscale_configs.dm
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/ferroniere.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/ferroniere_worn.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tailored_dress.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tailored_dress_worn.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tunic.json
  modular_nova/modules/GAGS/json_configs/primitive_catgirl_clothing/tunic_worn.json
  modular_nova/modules/primitive_catgirls/code/clothing.dm
  modular_nova/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_nova/modules/primitive_catgirls/icons/clothing_greyscale.dmi
Labels: Feature

#878 [MIRROR] Nerfs probability that a rat decides to bite a cable
  code/datums/ai/hunting_behavior/hunting_mouse.dm
Labels: Balance

#881 [MIRROR] Cucumber Lemonade now has a price
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: Fix

#882 [MIRROR] Space dragon no longer turns the entire roundend report bold
  code/modules/antagonists/space_dragon/space_dragon.dm
Labels: Fix

#883 [MIRROR] Fixes the typepath of the shove blocker module.
  code/modules/mod/modules/modules_security.dm
Labels: Fix

#885 [MIRROR] [NO GBP] Fixes raw ectoplasmic anomaly refining
  code/__DEFINES/research/anomalies.dm
  code/controllers/subsystem/research.dm
Labels: Fix, GBP: No Update

#890 [MIRROR] Fix last words being double-encoded when done from the alert popup
  code/_onclick/hud/alert.dm
Labels: Fix

#892 [MIRROR] Mining Bluespace Survival Capsule's "Stand back!" alert now actually has meaning
  code/modules/mining/equipment/survival_pod.dm
Labels: Feature

#893 [MIRROR] Adds fire ants as a chem
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature

#894 [MIRROR] Freedom implant and Biodegrade works on knotted shoes
  code/game/objects/items/implants/implant_freedom.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
Labels: Feature

#895 [MIRROR] two new tgui commands (for coders)
  tgui/package.json
Labels: UI

#896 [MIRROR] [FIX] Makes Deathtrap Recycler Movable
  code/game/machinery/recycler.dm
  code/game/objects/objs.dm
Labels: Fix, Refactor

#888 [MIRROR] Moves teleblocker/beacon implants to the techweb, new research node. Exile implants can now be printed
  code/__DEFINES/research/research_categories.dm
  code/modules/cargo/packs/security.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance

#897 [MIRROR] Fixes the energy cake slice's on-eat effect triggering before it is eaten
  code/game/objects/items/food/cake.dm
Labels: Fix

#886 [MIRROR] Adds a signal to buying items from the uplink (& fixes TC misinfo)
  code/__DEFINES/dcs/signals/uplink.dm
  code/datums/components/uplink.dm
  code/datums/elements/uplink_reimburse.dm
  code/datums/mind/_mind.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/traitor/traitor_objective.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/mob/living/basic/drone/extra_drone_types.dm
  code/modules/modular_computers/computers/item/disks/virus_disk.dm
  code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: Fix

#911 [MIRROR] Fixes Statues emitting solid lights
  code/modules/art/statues.dm
Labels: Fix

#909 [MIRROR] Fix Lipoplasty not existing
  code/modules/surgery/lipoplasty.dm
Labels: Fix

#914 [MIRROR] Client colo(u)r no longer uses Client.color, now coloring the render game plane instead
  code/__HELPERS/colors.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/client/client_colour.dm
Labels: Quality of Life

#915 [MIRROR] Contractor loadout adjustment + Price tweak
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/modular_computers/computers/item/pda.dm
Labels: Balance

#913 [MIRROR] Fixes funky closet type
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
Labels: Fix

#880 More Freighter Fixes and Improvements
  _maps/RandomRuins/SpaceRuins/nova/cargodiselost.dmm
Labels: Feature, Fix, Map Edit

#927 [MIRROR] [NO GBP] Heretic path of moon, post launch patch (no jeature jeeze this time)
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/moon_lunatic.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  icons/mob/huds/antag_hud.dmi
Labels: Balance, GBP: No Update, Quality of Life, Sprites

#924 [MIRROR] Fixes bluespace launchpads from not working in shuttles
  code/game/machinery/launch_pad.dm
Labels: Fix

#923 [MIRROR] Fix some Section jank disallowing stamps from working properly and messengers from auto-scrolling
  tgui/packages/tgui/components/Section.tsx
Labels: Fix, UI

#925 [MIRROR] Fixes engines being pointed at the wrong direction in old ferries such as base, meat and lighthouse
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
Labels: Fix, Map Edit

#350 Interdyne/DS2 Rising: Revengeance
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  _maps/shuttles/nova/ruin_interdyne_cargo.dmm
  modular_nova/master_files/code/game/objects/items/storage/job_boxes.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/master_files/icons/mob/clothing/ears.dmi
  modular_nova/master_files/icons/mob/clothing/head.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_nova/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_nova/master_files/icons/mob/clothing/suit.dmi
  modular_nova/master_files/icons/mob/clothing/suits/armor.dmi
  modular_nova/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/mob/clothing/under/syndicate.dmi
  modular_nova/master_files/icons/mob/clothing/under/syndicate_digi.dmi
  modular_nova/master_files/icons/obj/clothing/hats.dmi
  modular_nova/master_files/icons/obj/clothing/suits.dmi
  modular_nova/master_files/icons/obj/clothing/suits/armor.dmi
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/obj/clothing/under/syndicate.dmi
  modular_nova/modules/Syndie_edits/code/area.dm
  modular_nova/modules/Syndie_edits/code/syndie_edits.dm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/mapping/code/lockers/des_two/command.dm
  modular_nova/modules/mapping/code/mob_spawns.dm
  modular_nova/modules/mapping/code/shuttles.dm
  modular_nova/modules/mapping/code/wardrobes.dm
  modular_nova/modules/mapping/icons/obj/headset.dmi
  modular_nova/modules/mapping/icons/obj/vending.dmi
Labels: Feature, Test Merged, Map Edit, Good First PR

#935 [MIRROR] Venus Human Traps have an orbit menu category, recieve antag datum on spawn
  code/modules/mob_spawn/ghost_roles/venus_human_trap.dm
  tgui/packages/tgui/interfaces/Orbit/constants.ts
Labels: Fix, Quality of Life, UI

#937 [MIRROR] Fixes various bloodied hand overlay related issues
  code/modules/clothing/gloves/_gloves.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  icons/effects/blood.dmi
Labels: Fix, Sprites

#938 [MIRROR] Mapload anomalies are no longer orbit points-of-interest
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: Quality of Life

#939 [MIRROR] Makes brainwashing immune to mindshield implant, you can only take it off through surgery now.
  code/modules/antagonists/brainwashing/brainwashing.dm
Labels: Balance

#865 VoidRaptor small fix - Deletes Space Bitrunner Den
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Edit

#739 [MODULAR] Tarkon Tweaks set 1
  _maps/RandomRuins/SpaceRuins/nova/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/nova/port_tarkon/cargo_warehouse.dmm
  _maps/shuttles/nova/ruin_tarkon_driver.dmm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/projectiles/icons/inhands/lefthand.dmi
  modular_nova/modules/projectiles/icons/inhands/righthand.dmi
  modular_nova/modules/projectiles/icons/m6pdw.dmi
  modular_nova/modules/tarkon/code/machines/atmos_control.dm
  modular_nova/modules/tarkon/code/machines/camera_systems.dm
  modular_nova/modules/tarkon/code/machines/smes.dm
  modular_nova/modules/tarkon/code/machines/windoors.dm
  modular_nova/modules/tarkon/code/misc_fluff/fluff.dm
  modular_nova/modules/tarkon/code/misc_fluff/spawner.dm
  tgstation.dme
Labels: Balance, Feature, Quality of Life, Map Edit

#964 [MIRROR] Fixes valentine love again, for real this time, "why did no one report this" edition
  code/game/atom/alternate_appearance.dm
Labels: Fix

#963 [MIRROR] Reduces Time For Nightmare To Gain a Critical Strike
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  tgui/packages/tgui/interfaces/AntagInfoNightmare.tsx
Labels: Balance, UI

#962 [MIRROR] Makes AI tracking more snappy, improves API (AI movement change)
  code/__DEFINES/dcs/signals/signals_camera.dm
  code/_onclick/ai.dm
  code/game/machinery/camera/trackable.dm
  code/game/machinery/computer/crew.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
Labels: Feature, Fix

#965 [MIRROR] Fixes Krav Maga allowing pacifism bypasses.
  code/datums/martial/krav_maga.dm
Labels: Fix

#966 [MIRROR] Maintenance drones can use RCDs, RPEDs, Spray Bottles, and Holosign Projectors
  code/modules/mob/living/basic/drone/_drone.dm
Labels: Balance

#975 [MIRROR] Stun Baton Eyecandy | Glows and Sparks
  code/game/objects/items/melee/baton.dm
Labels: Feature

#976 [MIRROR] Fix lizardperson spine preference dropdown not showing up
  code/modules/surgery/organs/external/spines.dm
Labels: Fix

#984 [MIRROR] Fixes Cargo Lockbox Iconstates
  code/game/objects/items/storage/lockbox.dm
Labels: Fix

#961 [SEMIMODULAR] Fixes multi-bodytype characters (digitigrade, species custom) only having digi apply when custom could be applied
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#932 Back Down You Go! | Allows Icewalkers to cryo by returning into their hole
  code/__HELPERS/~nova_helpers/is_helpers.dm
  modular_nova/modules/primitive_catgirls/code/spawner.dm
Labels: Quality of Life, Test Merged

#979 Ghost roles now have their job title set properly on spawn
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
Labels: Administration, Fix

#1014 [MIRROR] Fix lifeline not respecting suit sensors
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: Fix

#1020 [MIRROR] Fixes a spurious runtime off loading the museum away mission
  _maps/RandomZLevels/museum.dmm
Labels: Map Edit

#1029 [MIRROR] Traitor Traitor Panel Fixes
  code/__HELPERS/memory_helpers.dm
  code/datums/mind/_mind.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Administration, Fix

#1036 [MIRROR] blacklists disposal outlets from the cargo shuttle
  code/modules/shuttle/supply.dm
Labels: Fix

#1015 [MIRROR] Changes the crystallizer wrench screentip to the correct button
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
Labels: Fix

#1021 [MIRROR] Fixes smoothing breaking if a map is loaded post init
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/timer.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#1026 [MIRROR] Fix Ai tracking runtime
  code/game/machinery/camera/trackable.dm
Labels: Fix

#1030 [MIRROR] BBQ ribs can be grilled & adds qdel checks for grills
  code/game/objects/items/food/meatdish.dm
  code/modules/food_and_drinks/machinery/grill.dm
Labels: Fix

#1037 [MIRROR] Makes the restricted number input user friendlier
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: Code Improvement, Fix, Quality of Life, UI

#1035 [MIRROR] Adds action & adjacent checks for mecha drill
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: Fix

#1024 [MIRROR] deathmatch
  _maps/map_files/Deathmatch/Maint_Mania.dmm
  _maps/map_files/Deathmatch/OSHA_Violator.dmm
  _maps/map_files/Deathmatch/SecuRing.dmm
  _maps/map_files/Deathmatch/Sniper_elite.dmm
  _maps/map_files/Deathmatch/The_Brig.dmm
  _maps/map_files/Deathmatch/arena.dmm
  _maps/map_files/Deathmatch/chinatown.dmm
  _maps/map_files/Deathmatch/instagib.dmm
  _maps/map_files/Deathmatch/meatower.dmm
  _maps/map_files/Deathmatch/mech_madness.dmm
  _maps/map_files/Deathmatch/ragecage.dmm
  _maps/map_files/Deathmatch/raidthebase.dmm
  _maps/map_files/Deathmatch/shooting_range.dmm
  _maps/map_files/Deathmatch/starwars.dmm
  code/__DEFINES/colors.dm
  code/_globalvars/game_modes.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/minigames_menu.dm
  code/game/turfs/open/_open.dm
  code/modules/deathmatch/deathmatch_controller.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  code/modules/deathmatch/deathmatch_maps.dm
  code/modules/mining/mine_items.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/recycling/conveyor.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/DeathmatchLobby.tsx
  tgui/packages/tgui/interfaces/DeathmatchPanel.jsx
  tgui/packages/tgui/interfaces/MinigamesMenu.tsx
Labels: Feature, Test Merged, UI, Map Edit

#1049 [MIRROR] [no gbp] Removes unused proc from deathmatch, deathmatch has 8 seconds delay as to not give lighting a stroke
  code/modules/deathmatch/deathmatch_controller.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  tgui/packages/tgui/interfaces/DeathmatchLobby.tsx
Labels: Code Improvement, GBP: No Update, Removal, UI

#1051 [MIRROR] [NO GBP]Some BRM Fixes
  code/modules/mining/boulder_processing/brm.dm
Labels: Fix, GBP: No Update

#1052 [MIRROR] Monster cores work while resting
  code/modules/mining/equipment/monster_organs/monster_organ.dm
Labels: Fix

#1078 Fix typo in description of an organ
  modular_nova/modules/customization/modules/surgery/organs/genitals.dm
Labels: Grammar and Formatting

#1082 [MIRROR] Half fixes organ blood dna not updating
  code/_globalvars/bitfields.dm
  code/modules/forensics/_forensics.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: Fix

#1083 [MIRROR] Fix dead mobs changing their mob `tag` causing obsever weakrefs to not function
  code/modules/mob/dead/dead.dm
Labels: Fix

#1009 For Science: Slightly resprites RD labcoat variants and adds regular labcoat to loadout
  modular_nova/master_files/code/modules/clothing/suits/labcoat.dm
  modular_nova/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_nova/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_nova/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Feature, Sprites

#1086 [Modular] Fixes modular instances of mouse_opacity
  modular_nova/master_files/code/modules/mob/living/emote_popup.dm
  modular_nova/modules/gunpoint/code/gunpoint_datum.dm
  modular_nova/modules/mapping/code/planet_turfs.dm
Labels: Code Improvement

#1081 Fix animal pen doors on void raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Edit

#1001 Moves the crystallizer in void raptor atmos to not be facing a wall(and removes a fire alarm in space)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Quality of Life, Removal, Map Edit

#1089 [MIRROR] Adds a missing servo into the MK1 Ripley crate ordered from cargo
  code/modules/cargo/packs/engineering.dm
Labels: Fix

#1094 [MIRROR] Removes a double space from health analyzer
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Grammar and Formatting, Removal

#1093 [MIRROR] Removes some easily accessible sources of Mythril
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/structures/maintenance.dm
  code/modules/fishing/sources/source_types.dm
Labels: Removal

#1096 [MIRROR] Improves the ForceEvent TGUI Search Function
  tgui/packages/tgui/interfaces/ForceEvent.tsx
Labels: Fix, UI

#1067 Can't Thatch This | Adds Thatch, coming from drying grass, to allow for players to make thatch floors + Bonus fixes to primitive storage structures
  code/game/objects/structures/tables_racks.dm
  modular_nova/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_nova/modules/primitive_structures/code/storage_structures.dm
  modular_nova/modules/primitive_structures/code/totally_thatch_roof.dm
  modular_nova/modules/primitive_structures/icons/thatch.dmi
  modular_nova/modules/primitive_structures/icons/thatch_obj.dmi
  modular_nova/modules/primitive_structures/icons/tile_lefthand.dmi
  modular_nova/modules/primitive_structures/icons/tile_righthand.dmi
Labels: Fix, Grammar and Formatting, Quality of Life, Test Merged

#1070 Fixes issues and improves millstones, ant farms and seed meshes
  modular_nova/modules/ashwalkers/code/buildings/antfarm.dm
  modular_nova/modules/ashwalkers/code/items/ash_seedmesh.dm
  modular_nova/modules/primitive_cooking_additions/code/millstone.dm
Labels: Fix, Quality of Life

#1140 [MIRROR] Fixes cardboard cutout CI harrassment
  code/datums/components/tactical.dm
Labels: Fix

#1062 Icewalkers and ghosts can now tell who joined and who left the Icemoon Dweller hole
  modular_nova/modules/primitive_catgirls/code/spawner.dm
Labels: Quality of Life

#1142 [MIRROR] [NO GBP] fixes item blood overlays "leaking" onto other objects
  code/datums/elements/decals/blood.dm
Labels: Fix, GBP: No Update

#1141 [MIRROR] fix mob ai using attacks while inside pokeballs
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
Labels: Fix

#1143 [MIRROR] Fixes missing prefix, :g (changeling hivemind) to actually be indicated in the Say TGUI
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/styles/colors.scss
Labels: Fix, UI

#1145 [MIRROR] [no gbp] purges lightswitches from The Brig deathmatch map
  _maps/map_files/Deathmatch/The_Brig.dmm
Labels: Fix, GBP: No Update, Map Edit

#1147 [MIRROR] You can do more things while floored
  code/_onclick/other_mobs.dm
  code/datums/wires/_wires.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/dance_machine.dm
  code/game/machinery/hologram.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RCL.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/extinguisher.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/abductor/machinery/console.dm
  code/modules/antagonists/abductor/machinery/dispenser.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/economy/holopay.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/library/admin_only.dm
  code/modules/library/skill_learning/skill_station.dm
  code/modules/mob/living/silicon/ai/robot_control.dm
  code/modules/mod/mod_paint.dm
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/pai/card.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/apc/apc_main.dm
  code/modules/reagents/chemistry/holder/ui_data.dm
  code/modules/reagents/chemistry/items.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/tgui/states.dm
  code/modules/transport/elevator/elev_panel.dm
  code/modules/transport/tram/tram_controls.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/wiremod/components/admin/proccall.dm
  code/modules/wiremod/core/integrated_circuit.dm
Labels: Fix, Quality of Life

#1153 [MIRROR] Battery acid pie
  code/game/objects/items/food/pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  icons/obj/food/piecake.dmi
Labels: Sprites

#1151 [MIRROR] Fixes paddy claw missing sanity checks / action checks / usage log
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Fix
