Repository NovaSector/NovaSector, pull requests merged in 2024-12, with the labels that each got.

#4644 fixes the mining drill (implant) addition removing all the other options in the adv_mining techtree addon
  modular_nova/modules/implants/code/medical_nodes.dm
Labels: Fix

#4653 tg 88082 early port - armor helps against getting your eye exploded
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Balance, GBP: No Update

#4630 sets the CIN jumpsuit, and belts to be recolorable in the loadout
  modular_nova/modules/novaya_ert/code/surplus_armor.dm
Labels: Quality of Life

#4647 Fixes the starfruit BBQ platter failing to consume crafting ingredients.
  modular_nova/modules/customization/modules/hydroponics/grown/starfruit.dm
Labels: Fix

#4632 gives contractor modsuits cuff assist + baton resist modules, comparable to traitor modsuits
  modular_nova/modules/contractor/code/items/modsuit/modsuit.dm
Labels: Fix

#4663 xenomorph larva can evolve again
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#4652 Bitrunning Easy mode
  code/modules/bitrunning/server/loot.dm
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/bitrunning/code/flair.dm
  modular_nova/modules/bitrunning/code/loot.dm
  tgstation.dme
Labels: Balance, Quality of Life

#4615 Tweaks to Bitrunning SNPC spawners (and some other things) (but without TGS DMAPI)
  modular_nova/modules/bitrunning/code/disks.dm
  modular_nova/modules/bitrunning/code/ghost_spawner.dm
  modular_nova/modules/bitrunning/code/virtual_domains/ancient_milsim/mod.dm
  tgstation.dme
Labels: Feature, Fix, Quality of Life, Test Merged

#4606 Snowglobe - Disposals Stacker
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Stale, Map Edit

#4553 Railgun PKAs can no longer be fired on-station
  modular_nova/modules/mining_pka/code/firing_pin.dm
  modular_nova/modules/mining_pka/code/kinetic_accelerator.dm
Labels: Balance, Test Merged

#4671 Fixes Icemoon Interdyne Food Vendors
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
Labels: Fix, Map Edit

#4689 Adds donor item for jaklz
  modular_nova/master_files/icons/donator/mob/clothing/neck.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update, Donator Item

#4702 Fixes xeno maid not having a sprite
  modular_nova/master_files/code/modules/mob/basic/alien/_alien.dm
Labels: Fix

#4699 Add Neglected Mobs to Gold Slime Spawns
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_nova/master_files/code/modules/mob/living/pets/dog/doberman.dm
  modular_nova/modules/mold/code/mold_mobs.dm
  modular_nova/modules/more_gold_slime_monsters/code/more_gold_slime_monsters.dm
  tgstation.dme
Labels: Feature, Fix

#4716 Fixes a bug with hash grinding
  code/modules/hydroponics/grown/cannabis.dm
  modular_nova/modules/morenarcotics/code/thc.dm
Labels: Fix
