Repository NovaSector/NovaSector, pull requests merged in 2024-01, with the labels that each got.

#220 [MIRROR] borgs dont dgasp twice when dying
  code/modules/mob/living/silicon/death.dm
Labels: Fix, Upstream PR Merged

#221 [MIRROR] Fixes perma sustenance vendor not selling to people
  code/modules/vending/sustenance.dm
Labels: Fix, Upstream PR Merged

#222 [MIRROR] Fixes extinguisher cabinet not updating its icon
  code/game/objects/structures/extinguisher.dm
Labels: Fix, Upstream PR Merged

#223 [MIRROR] adds screentips to the janicart (pimpin' ride)
  code/modules/vehicles/pimpin_ride.dm
Labels: Quality of Life, Upstream PR Merged

#233 [MIRROR] Heretic DLC: Path of Moon
  code/__DEFINES/achievements.dm
  code/__DEFINES/antagonists.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/brain_damage/severe.dm
  code/datums/looping_sounds/music.dm
  code/datums/looping_sounds/projectiles.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/items/unfathomable_curio.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/magic/lunatic_track.dm
  code/modules/antagonists/heretic/magic/madness_touch.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/moon_lunatic.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/hallucination/delusions.dm
  code/modules/mob/living/taste.dm
  icons/effects/effects.dmi
  icons/effects/eldritch.dmi
  icons/effects/mouse_pointers/moon_target.dmi
  icons/hud/screen_alert.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/mob/nonhuman-player/eldritch_mobs.dmi
  icons/obj/antags/eldritch.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/signs.dmi
  icons/obj/weapons/guns/projectiles.dmi
  icons/obj/weapons/khopesh.dmi
  icons/ui_icons/achievements/achievements.dmi
  sound/effects/moon_parade.ogg
  sound/effects/moon_parade_soundloop.ogg
  tgstation.dme
Labels: Feature, Fix, Sound, Sprites, Upstream PR Merged

#234 [MIRROR] Fix footsteps not working
  code/datums/elements/footstep.dm
Labels: Fix, Upstream PR Merged

#261 [MIRROR] Fixes integrated circuit speech logging
  code/modules/wiremod/components/action/speech.dm
Labels: Fix, Logging, Upstream PR Merged

#260 [MIRROR] Turbine code cleanup
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/power/power.dm
  code/modules/power/turbine/turbine.dm
  code/modules/power/turbine/turbine_computer.dm
Labels: Code Improvement, Fix, Quality of Life, Upstream PR Merged

#262 [MIRROR] Gives an animation and a noise when throwing something
  code/modules/mob/living/carbon/carbon.dm
  sound/attributions.txt
  sound/weapons/throw.ogg
  sound/weapons/throwhard.ogg
  sound/weapons/throwsoft.ogg
Labels: Grammar and Formatting, Sound, Sprites, Upstream PR Merged

#267 [MIRROR] Map export admin verb/buildmode
  code/__DEFINES/map_exporter.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_export.dm
  code/modules/buildmode/submodes/map_export.dm
  icons/misc/buildmode.dmi
  tgstation.dme
Labels: Administration, Sprites, Upstream PR Merged

#266 [MIRROR] Fix duplicate proc arguments
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/mob/living/silicon/damage_procs.dm
Labels: Upstream PR Merged

#249 [MIRROR] Updates Pirate/Sailor Costume sprites (And spacesuit)
  icons/mob/clothing/suits/costume.dmi
  icons/mob/clothing/suits/spacesuit.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/suits/costume.dmi
  icons/obj/clothing/suits/spacesuit.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites, Upstream PR Merged

#232 [MODULAR] Changes opfor 'approve/deny' objective buttons, opfor chat qol
  modular_nova/modules/opposing_force/code/opposing_force_datum.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: Administration, Quality of Life, UI

#264 [MIRROR] Removes the attack_slime proc, and other slime refactors
  code/__DEFINES/research/slimes.dm
  code/_onclick/other_mobs.dm
  code/game/atom/atom_defense.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/scanners/slime_scanner.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/window.dm
  code/modules/awaymissions/signpost.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/curse_blob.dm
  code/modules/mob/living/simple_animal/slime/ai.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/simple_animal/slime/defense.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Balance, Fix, Refactor, Removal, Upstream PR Merged

#299 [MIRROR] [NO GBP] fixes moon heretic ascension
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/magic/lunatic_track.dm
Labels: Fix, GBP: No Update, Upstream PR Merged

#300 [MIRROR] Fixes redundant "integrity"
  tgui/packages/tgui/interfaces/common/AtmosControls.tsx
Labels: Fix, UI, Upstream PR Merged

#301 [MIRROR] cliffs respect gravity
  code/game/turfs/open/cliff.dm
Labels: Fix, Upstream PR Merged

#302 [MIRROR] fixes universal scanners being invisible when not set to export scanning
  code/modules/cargo/universal_scanner.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/devices/scanner.dmi
  icons/obj/devices/tool.dmi
Labels: Fix, Sprites, Upstream PR Merged

#303 [MIRROR] Fix incorrect carpet reskin options
  code/game/objects/items/stacks/tiles/tile_types.dm
Labels: Fix, Upstream PR Merged

#304 [MIRROR] Fixes a runtime in throwthings
  code/controllers/subsystem/throwing.dm
Labels: Fix, Upstream PR Merged

#308 [MIRROR] Closet screentip clarification
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, Upstream PR Merged

#310 [MIRROR] [no gbp] adds options for bots to bypass adding unreachable items to their blacklist
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/hygienebot/hygienebot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
Labels: Fix, GBP: No Update, Upstream PR Merged

#306 [MIRROR] Logging for amputation shears
  code/modules/surgery/tools.dm
Labels: Administration, Logging, Upstream PR Merged

#309 [MIRROR] [NO GBP] Fixes path of moon and path of lock sidepaths, replaces brains with other organs
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  tgstation.dme
Labels: Balance, GBP: No Update, Quality of Life, Upstream PR Merged

#313 [MIRROR] Gibtonite ore in ice planet gulags is no longer the volcanic subtype
  code/game/turfs/closed/minerals.dm
Labels: Fix, Upstream PR Merged

#325 General code maint + fixes
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/vending/_vending.dm
  modular_nova/modules/ashwalkers/code/buildings/ash_tendril.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/climax.dm
  tgui/packages/tgui/interfaces/ClockworkSlab.jsx
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Fix, Removal, UI

#375 [MISSED MIRROR] Fixes Cameras views on clients 515.1615 or greater (#80818)
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: Fix

#391 [MIRROR] Correctly offsets bayonets on pipeguns
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix, Upstream PR Merged

#392 [MIRROR] Make list clear nulls faster
  code/__HELPERS/_lists.dm
Labels: Upstream PR Merged

#393 Significantly improves forged armor's worn sprites
  modular_nova/modules/reagent_forging/code/crafting_bench.dm
  modular_nova/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_nova/modules/reagent_forging/code/forge_clothing.dm
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_digi.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_newvox.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_oldvox.dmi
  modular_nova/modules/reagent_forging/icons/mob/clothing/forge_clothing_teshari.dmi
  modular_nova/modules/reagent_forging/icons/obj/forge_clothing.dmi
Labels: Sprites

#436 Peacock Tail
  modular_nova/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#459 [MIRROR] fixes null plane debuggers for admins
  code/modules/admin/holder2.dm
Labels: Upstream PR Merged

#460 [MIRROR] Fixes two minute grand ritual things
  code/modules/antagonists/wizard/grand_ritual/finales/grand_ritual_finale.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
Labels: Fix, Upstream PR Merged

#461 [MIRROR] Fixes round event controller pirate spawns
  code/modules/antagonists/pirate/pirate_event.dm
Labels: Fix, Upstream PR Merged

#462 [MIRROR] the fugu gland now uses `update_transform` rather than scale transform directly.
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
Labels: Fix, Upstream PR Merged

#464 [MIRROR] Fix Tramstation sign/missing power cable [NO GBP]
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, GBP: No Update, Upstream PR Merged, Map Edit

#471 [MIRROR] Fixes section stealing focus [no gbp]
  tgui/packages/tgui/components/Section.tsx
Labels: Fix, GBP: No Update, UI, Upstream PR Merged

#473 [MIRROR] Eldritch paining cleanup
  code/modules/antagonists/heretic/items/eldritch_painting.dm
Labels: Fix, Upstream PR Merged

#472 [MIRROR] Partially reverts popper component [no gbp]
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/yarn.lock
Labels: Fix, GBP: No Update, Revert, UI, Upstream PR Merged

#478 [MIRROR] Lawyer badge now points instead of giving a message in chat
  code/modules/clothing/under/accessories/badges.dm
Labels: Quality of Life, Upstream PR Merged

#480 [MIRROR] Adds logregisters and messages for situations like: mob hits dense turf, obj/machinery hits mob, item without "thrower" hits mob, mob gets hit by non-carbon mob.
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defense.dm
Labels: Administration, Fix, Quality of Life, Upstream PR Merged

#482 [MIRROR] Remove unused `output` var from `sql_message_system.dm`
  code/modules/admin/sql_message_system.dm
Labels: Upstream PR Merged

#483 [MIRROR] [NO-GBP] Fixes radshelter not radprotecting against nebula storm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix, Upstream PR Merged

#485 [MIRROR] Hub shows if restarting, starting, time to start; Time is more accurate
  code/game/world.dm
Labels: Code Improvement, Upstream PR Merged

#479 [MIRROR] Refactors pod launcher UI
  tgui/packages/tgui/interfaces/CentcomPodLauncher.jsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/DelayHelper.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodBays.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodLaunch.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodSounds.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodStatusPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PresetsPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ReverseMenu.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/StylePage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Tabs.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Timing.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ViewTabHolder.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/hooks.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/index.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Labels: Refactor, UI, Upstream PR Merged

#484 [MIRROR] Fixes assorted head harddels, removes specific organ vars in head
  code/game/machinery/recycler.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/unit_tests/ling_decap.dm
Labels: Fix, Removal, Upstream PR Merged

#492 [MIRROR] No runtimes when passing down an empty list to set_access()
  code/game/objects/items/cards_ids.dm
  code/modules/mob/living/basic/bots/_bots.dm
Labels: Upstream PR Merged

#493 [MIRROR] lock heretics can gain relentless heartbeat again
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
Labels: Fix, Upstream PR Merged

#476 [MIRROR] Minor Autolathe Refactor | Material Dupe-B-Gone
  code/datums/components/material/material_container.dm
  code/game/machinery/autolathe.dm
  code/modules/research/designs.dm
  code/modules/research/machinery/_production.dm
  modular_nova/modules/colony_fabricator/code/colony_fabricator.dm
Labels: Fix, Missing Prerequisite, Quality of Life, Refactor, Upstream PR Merged

#500 [MIRROR] swap private procs on production procs to protected instead
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
  modular_nova/modules/colony_fabricator/code/colony_fabricator.dm
Labels: Missing Prerequisite, Upstream PR Merged

#216 [MIRROR] Geared Assistants Station Trait
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/outfit.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/cargo/coupon.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant/assistant.dm
  code/modules/jobs/job_types/assistant/colorful_assistants.dm
  code/modules/jobs/job_types/assistant/gimmick_assistants.dm
  modular_nova/master_files/code/modules/jobs/job_types/assistant/assistant.dm
  tgstation.dme
Labels: Code Improvement, Feature, Upstream PR Merged

#557 [MIRROR] spellcheck: iron sheets's what?
  code/datums/components/material/material_container.dm
Labels: Grammar and Formatting

#559 [MIRROR] Fixing goldgrubs barfing what they shouldn't.
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  modular_nova/modules/chat_colors/code/chat_color.dm
Labels: Fix

#577 [MIRROR] Fixes a spurious CI runtime in do_charge()
  code/datums/actions/mobs/charge.dm
Labels: Fix

#578 [MIRROR] Fixes ejecting pAIs card without a pAI in it
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/pai/pai.dm
Labels: Fix

#536 [what a kawaii morning!] Snail Resprite, Brought To You By Supugaru
  code/__DEFINES/~nova_defines/mobs.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_snail.png
  modular_nova/master_files/icons/mob/clothing/back.dmi
  modular_nova/modules/bodyparts/code/snail_bodyparts.dm
  modular_nova/modules/bodyparts/icons/snail_parts_greyscale.dmi
  modular_nova/modules/organs/icons/snail_eyes.dmi
Labels: Sprites

#560 uuuuh glaive sprite updates i guess
  modular_nova/master_files/icons/mob/64x64_lefthand.dmi
  modular_nova/master_files/icons/mob/64x64_righthand.dmi
  modular_nova/master_files/icons/obj/kinetic_glaive.dmi
Labels: Sprites

#601 [MIRROR] Fixes RPG titles alignment
  code/modules/events/wizard/rpgtitles.dm
Labels: Fix

#612 [MIRROR] [GBP NO UPDATE] Hub time timezone fix
  code/game/world.dm
Labels: Fix

#620 [MIRROR] Fix neck snap not checking for the right mob to snap
  code/datums/martial/cqc.dm
  code/datums/martial/sleeping_carp.dm
Labels: Fix

#624 Adds donator mask
  modular_nova/master_files/icons/donator/mob/clothing/mask.dmi
  modular_nova/master_files/icons/donator/obj/clothing/masks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Good First PR

#629 [MIRROR] Fixes a decal hard del
  code/datums/components/infective.dm
  code/datums/elements/connect_loc.dm
Labels: Fix

#609 Ports the longer, gloomier bangs from Skyrat
  modular_nova/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Good First PR

#636 [MIRROR] Legion Mob Abilities
  code/datums/actions/action.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/mobs/blood_warp.dm
  code/datums/actions/mobs/charge.dm
  code/datums/actions/mobs/chase_target.dm
  code/datums/actions/mobs/create_legion_skull.dm
  code/datums/actions/mobs/create_legion_turrets.dm
  code/datums/actions/mobs/dash.dm
  code/datums/actions/mobs/lava_swoop.dm
  code/datums/actions/mobs/meteors.dm
  code/datums/actions/mobs/projectileattack.dm
  code/datums/actions/mobs/transform_weapon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  tgstation.dme
Labels: Refactor

#639 [MIRROR] New Telecommunications Monitoring Console UI
  code/game/machinery/telecomms/computers/telemonitor.dm
  code/modules/asset_cache/assets/tcomms.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/TelecommsMonitor.tsx
Labels: Refactor, UI

#642 [MIRROR] Oppenheimer now starts with airplane mode enabled
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: Fix

#643 [MIRROR] Minor code cleanup for PCM
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
  tgui/packages/tgui/interfaces/PortableChemMixer.tsx
Labels: Code Improvement, Grammar and Formatting, UI

#648 [MIRROR] Remove unneeded 'a' from swabbing message.
  code/datums/components/swabbing.dm
Labels: Grammar and Formatting

#645 [MIRROR] Adds an icon to the "My Watchlist Status is Not Important" achievement.
  code/datums/achievements/misc_achievements.dm
  icons/ui_icons/achievements/achievements.dmi
Labels: Sprites

#646 [MIRROR] Clear kitten begging target after begging.
  code/modules/mob/living/basic/pets/cat/kitten_ai.dm
Labels: Fix

#647 [MIRROR] Emergency shuttle console only works on the shuttle
  code/modules/shuttle/emergency.dm
Labels: Fix

#663 [MIRROR] Fixes Tramstation external atmos ports
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#666 [MIRROR] Sets reagent holder minimum volume to 0.01
  code/modules/reagents/chemistry/holder/holder.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#662 [MIRROR] A few food fixes
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/moth.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: Fix

#664 [MIRROR] Adds better buildtool errors when using byond 514 or older
  tools/build/lib/byond.js
Labels: Tools

#661 [MIRROR] Fixes the Wizarditis Timestop joke
  code/datums/diseases/wizarditis.dm
  code/modules/spells/spell_types/self/stop_time.dm
Labels: Administration, Fix

#678 [MIRROR] Ambient loops refresh when entering a mob
  code/game/area/areas.dm
  code/game/area/areas/misc.dm
  code/modules/mob/login.dm
Labels: Fix

#681 [MIRROR] Arcane makes good on his promise to get rid of lathe tax as a result of mineral balance
  code/__DEFINES/economy.dm
  code/modules/research/machinery/_production.dm
Labels: Fix, Removal

#682 [MIRROR] Makes the encrypted bitrunning cache indestructible
  code/modules/bitrunning/objects/loot_crate.dm
Labels: Fix

#693 [MIRROR] [NO GBP] Fix "All Within Theoretical Limits" not being granted when delamination variants change
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, GBP: No Update

#692 [MIRROR] Cult pylons won't convert floorless floors
  code/modules/antagonists/cult/cult_structure_pylon.dm
Labels: Fix

#691 [MIRROR] Fixes ID card bank account examine/dialog
  code/game/objects/items/cards_ids.dm
Labels: Fix

#694 [MIRROR] Fixes ripley conversion kits
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Fix

#690 [MIRROR] Fixes ore vent descriptions stacking, fixes potential exploits with ore vent scanning
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Fix

#704 Fixes being able to flip holographic tables into reality and harvest them for materials
  modular_nova/modules/tableflip/code/flipped_table.dm
Labels: Fix

#549 [MIRROR] Add: 2 Quirks Configs
  code/__DEFINES/mobs.dm
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/processing/quirks.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/middleware/quirks.dm
  config/game_options.txt
  modular_nova/master_files/code/datums/quirks/negative_quirks/gifted.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Config Update, UI
