Repository NovaSector/NovaSector, pull requests merged in 2025-01, with the labels that each got.

#4707 Adds donator item for BonkaiTheRoris: plushie edition
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/obj/plushes.dmi
  modular_nova/modules/customization/game/objects/items/donator_plushies.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update, Donator Item

#4721 Adds donation reward for Sharkoink
  modular_nova/master_files/icons/donator/mob/clothing/neck.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_nova/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_nova/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Donator Item

#4742 [Early Mirror]Adds a .NET 9 SDK setup action to linters (#88988)
  .github/workflows/ci_suite.yml
Labels: Code Improvement, GitHub

#4802 Makes some small changes to DS2
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
Labels: Feature, Quality of Life, Test Merged, Map Edit
