Repository NovaSector/NovaSector, pull requests merged in 2025-03, with the labels that each got.

#4959 Fixes some maintenance spawners that are located in invalid locations
  _maps/RandomRuins/SpaceRuins/nova/drones_derelict.dmm
  _maps/RandomRuins/SpaceRuins/nova/vaulttango.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
Labels: Fix

#4963 Fixes a potential source of brain trauma hard dels
  modular_nova/master_files/code/datums/components/damage_tracker.dm
Labels: Fix

#4501 [MIRROR] update_body_parts() is now called when adding or removing bodypart overlays. (#87215)
  code/__DEFINES/living.dm
  code/datums/bodypart_overlays/emote_bodypart_overlay.dm
  code/datums/components/face_decal.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/quirks/negative_quirks/all_nighter.dm
  code/datums/status_effects/buffs.dm
  code/game/machinery/dna_infuser/dna_infusion.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/alien/alien_update_icons.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: Stale-b-gone

#5016 Fixes blueshift AI transit tube from people getting stuck
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix

#5008 Snowglobe Ice Cream Machine
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Feature

#5032 Adds veteran status to OOC notes in player panel + character directory
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/modules/character_directory/code/character_directory.dm
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/NovaCharacterDirectory.jsx
Labels: Quality of Life

#5088 Fixes potential issues with veteran status display in examine panel
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/modules/character_directory/code/character_directory.dm
  tgui/packages/tgui/interfaces/ExaminePanel.jsx
  tgui/packages/tgui/interfaces/NovaCharacterDirectory.jsx
Labels: Fix, GBP: No Update

#5131 Replaces a debug item from the new away mission
  _maps/RandomZLevels/heretic.dmm
Labels: Fix
