Repository NovaSector/NovaSector, pull requests merged in 2025-08, with the labels that each got.

#5897 Allows NIF users to use neuroware
  modular_nova/modules/liquids/code/reagents/chemistry/holder.dm
  modular_nova/modules/neuroware/code/objects/items/_neuroware.dm
Labels: Quality of Life

#5955 Fix a headset I missed in Abductor Mothership
  _maps/virtual_domains/abductor_mothership.dmm
Labels: Fix

#5956 [NO GBP]Adds Feedback for the Psionic Holding Quirk
  code/datums/quirks/positive_quirks/floating_items.dm
Labels: GBP: No Update, Quality of Life
