Repository NovaSector/NovaSector, pull requests merged in 2025-02, with the labels that each got.

#4847 Minor QoL for Ghost Cafe
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Fix, Quality of Life

#4883 Adds 3 dono items for spookyrotini
  modular_nova/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_nova/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update, Donator Item

#4912 Duo Hermits
  _maps/RandomRuins/IceRuins/nova/icemoon_duo_hermit.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_duo_hermit.dmm
  config/iceruinblacklist.txt
  config/lavaruinblacklist.txt
  modular_nova/modules/mapping/code/icemoon.dm
  modular_nova/modules/mapping/code/lavaland.dm
Labels: Mapping
