Repository NovaSector/NovaSector, pull requests merged in 2025-07, with the labels that each got.

#5663 Veteran -> Nova star
  SQL/database_changelog.md
  code/__DEFINES/subsystems.dm
  code/__DEFINES/~nova_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/client/preferences/middleware/jobs.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/client/preferences/species.dm
  code/modules/loadout/loadout_items.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  config/nova/config_nova.txt
  config/nova/nova_star_players.txt
  config/nova/veteran_players.txt
  modular_nova/master_files/code/controllers/configuration/entries/config_entries.dm
  modular_nova/master_files/code/datums/quirks/_quirk.dm
  modular_nova/master_files/code/modules/mob/living/examine_tgui.dm
  modular_nova/modules/admin/code/player_ranks.dm
  modular_nova/modules/blueshield/code/blueshield.dm
  modular_nova/modules/character_directory/code/character_directory.dm
  modular_nova/modules/customization/modules/jobs/_job.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_nova/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_nova/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_nova/modules/oversized/code/oversized_quirk.dm
  modular_nova/modules/pet_owner/pet_owner.dm
  modular_nova/modules/player_ranks/code/player_rank_controller/nova_star_controller.dm
  modular_nova/modules/player_ranks/code/player_rank_controller/veteran_controller.dm
  modular_nova/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_nova/modules/player_ranks/code/world_topic.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_quirk.dm
  modular_nova/modules/star_only/code/job_types.dm
  modular_nova/modules/star_only/code/species_types.dm
  modular_nova/modules/station_traits/code/station_traits.dm
  modular_nova/modules/veteran_only/code/job_types.dm
  modular_nova/modules/veteran_only/code/species_types.dm
  modular_nova/modules/veteran_only/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel/data.ts
  tgui/packages/tgui/interfaces/ExaminePanel/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Labels: Code Improvement, Config Update

#5761 A bunch of Blueshift mapping fixes
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix

#5772 Deployable barricade balance
  modular_nova/modules/barricades/code/barricade.dm
Labels: Balance, Fix
