Repository NovaSector/NovaSector, pull requests merged in 2025-05, with the labels that each got.

#5405 re-add examinable effects for ashwalkers around evolutions.
  modular_nova/modules/ashwalkers/code/species/Ashwalkers.dm
Labels: Quality of Life

#5415 [Balance] Forged armor pieces adjustments, made better all around, reduced grind.
  modular_nova/modules/reagent_forging/code/crafting_bench.dm
  modular_nova/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_nova/modules/reagent_forging/code/forge_clothing.dm
Labels: Balance, Feature

#5422 Quick audit of Destroy() proc usage in modular_nova
  code/modules/assembly/igniter.dm
  modular_nova/master_files/code/modules/clothing/suits/skinsuits.dm
  modular_nova/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_nova/master_files/code/modules/language/language_holder.dm
  modular_nova/modules/RBMK2/code/reactor_sniffer.dm
  modular_nova/modules/SiliconQoL/code/robotic_factory.dm
  modular_nova/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_nova/modules/ashwalkers/code/buildings/railroad.dm
  modular_nova/modules/ashwalkers/code/buildings/tendril_cursing.dm
  modular_nova/modules/bsa_overhaul/code/bsa_cannon.dm
  modular_nova/modules/clock_cult/code/scriptures/_scripture.dm
  modular_nova/modules/colony_fabricator/code/machines/ore_silo.dm
  modular_nova/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_nova/modules/customization/modules/surgery/organs/taur_body.dm
  modular_nova/modules/goofsec/code/cellphone.dm
  modular_nova/modules/gunhud/code/gun_hud_component.dm
  modular_nova/modules/gunpoint/code/gunpoint.dm
  modular_nova/modules/liquids/code/liquid_systems/liquid_groups.dm
  modular_nova/modules/medical/code/wounds/medical.dm
  modular_nova/modules/modular_implants/code/nifsofts/hivemind.dm
  modular_nova/modules/modular_implants/code/nifsofts/soul_poem.dm
  modular_nova/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_nova/modules/modular_implants/code/soulcatcher/soulcatcher_verbs.dm
  modular_nova/modules/modular_items/code/fan.dm
  modular_nova/modules/modular_items/code/modular_glasses.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_nova/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_nova/modules/mutants/code/mutant_cure.dm
  modular_nova/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_nova/modules/positronic_alert_console/code/positronic_alert_console.dm
  modular_nova/modules/reagent_forging/code/forge.dm
  modular_nova/modules/stasisrework/code/stasissleeper.dm
  modular_nova/modules/tarkon/code/guns/resonance_disruptor.dm
  modular_nova/modules/unusual_biochemistry/unusual_biochemistry.dm
  modular_nova/modules/wargame_projectors/code/projectors.dm
  modular_nova/modules/wrestlingring/code/wrestlingring.dm
  modular_nova/modules/xenoarchartifacts/artifacts/artifact.dm
  modular_nova/modules/xenoarchartifacts/obj/particle_battery.dm
Labels: Code Improvement

#5465 Fixes security belt
  modular_nova/master_files/code/game/objects/items/storage/belt.dm
Labels: Fix

#5495 CatwalkStation arrivals AM Fix - Nuking leftover Northstar map templates.
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/catwalkstation/catwalkstation_arrivals.dmm
  _maps/nova/automapper/templates/northstar/northstar_armory.dmm
  _maps/nova/automapper/templates/northstar/northstar_arrivals.dmm
  _maps/nova/automapper/templates/northstar/northstar_barber.dmm
  _maps/nova/automapper/templates/northstar/northstar_cryo.dmm
  _maps/nova/automapper/templates/northstar/northstar_dorms.dmm
  _maps/nova/automapper/templates/northstar/northstar_ert_bay.dmm
  _maps/nova/automapper/templates/northstar/northstar_ntrep_office.dmm
  _maps/nova/automapper/templates/northstar/northstar_supermatter.dmm
Labels: Fix

#5120 Brand new gateway of the maintsrooms
  _maps/RandomZLevels/maintsroom.dmm
  code/__DEFINES/~nova_defines/maps.dm
  config/awaymissionconfig.txt
  modular_nova/master_files/code/modules/awaymissions/zlevel.dm
  modular_nova/master_files/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_nova/modules/awaymissions_nova/Maintsroom/maintsrooms.dm
  modular_nova/modules/mold/code/mold_structures.dm
  tgstation.dme
Labels: Feature

#5499 [no gbp] Catwalk - one last arrivals fix.
  _maps/nova/automapper/templates/catwalkstation/catwalkstation_arrivals.dmm
Labels: Fix, GBP: No Update

#5427 [MDB Ignore]Interlink 3: Sleeker, Sexier, Interlinkier!
  _maps/map_files/generic/CentCom_nova_z2.dmm
  code/__DEFINES/~nova_defines/signals.dm
  code/controllers/subsystem/ticker.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/mapping/code/areas/centcom.dm
  modular_nova/modules/mapping/code/doors.dm
Labels: Test Merged

#5560 Fix clock-out lockboxes, refactor out uneeded hard references
  modular_nova/modules/plexagon_selfserve/code/plexagon_selfserve.dm
  modular_nova/modules/plexagon_selfserve/code/shamebox.dm
Labels: Fix, Refactor
