Repository NovaSector/NovaSector, pull requests merged in 2025-04, with the labels that each got.

#5192 Fixes the guncase option
  code/modules/client/preferences/clothing.dm
  code/modules/jobs/job_types/_job.dm
Labels: Fix

#5196 Fixes a runtime in char directory
  modular_nova/modules/character_directory/code/character_directory.dm
Labels: Fix

#5200 Adds a cooking oil vat to SerenityStation's cold room.
  _maps/map_files/SerenityStation/SerenityStation.dmm
Labels: Quality of Life, Map Edit

#5235 Fixes proto kinetic crushers having the wrong inhand icons when a retool kit is applied
  modular_nova/modules/mining_crushers/code/miningweapons.dm
Labels: Fix

#5240 Adds a direct-to-ghostcafe cryopod
  code/modules/mob_spawn/mob_spawn.dm
  modular_nova/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_nova/modules/cryosleep/code/cryopod.dm
  modular_nova/modules/cryosleep/icons/cryogenics.dmi
Labels: Fix, Quality of Life

#5167 Adds Kobolds! Tiny Gremlins to terrorize your ankles
  code/__DEFINES/~nova_defines/DNA.dm
  code/__HELPERS/~nova_helpers/is_helpers.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/client/preferences/species.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/transform_procs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_kobold.png
  config/game_options.txt
  modular_nova/master_files/code/game/objects/items/monkeycube.dm
  modular_nova/master_files/code/modules/language/_language_holder.dm
  modular_nova/master_files/code/modules/language/kobold.dm
  modular_nova/master_files/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  modular_nova/master_files/code/modules/mob/living/human/species_types/kobold.dm
  modular_nova/master_files/code/modules/research/designs/biogenerator_designs.dm
  modular_nova/master_files/code/modules/surgery/bodyparts/kobold_bodyparts.dm
  modular_nova/master_files/icons/mob/species/kobold_bodyparts.dmi
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
  modular_nova/modules/events/code/event_spawner.dm
  tgstation.dme
Labels: Feature, Test Merged

#5313 Adds an Undershirt version of the greyscale Fishnets
  modular_nova/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/undershirts.dm
Labels: Feature

#5310 Borg code Maintenance, and waggy drakes
  code/__DEFINES/~nova_defines/robot_defines.dm
  code/__DEFINES/~nova_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_nova/modules/borgs/code/robot.dm
  modular_nova/modules/borgs/code/robot_items.dm
  modular_nova/modules/borgs/code/robot_model.dm
  modular_nova/modules/borgs/code/update_icons.dm
  modular_nova/modules/borgs/icons/robots.dmi
  modular_nova/modules/borgs/icons/widerobot_eng.dmi
  modular_nova/modules/borgs/icons/widerobot_jani.dmi
  modular_nova/modules/borgs/icons/widerobot_med.dmi
  modular_nova/modules/borgs/icons/widerobot_mine.dmi
  modular_nova/modules/borgs/icons/widerobot_pk.dmi
  modular_nova/modules/borgs/icons/widerobot_sec.dmi
Labels: Feature, Quality of Life, Removal

#5305 Adds racial chat bubbles where they exist, moves linguist to 0 point cost
  modular_nova/master_files/code/datums/traits/good.dm
  modular_nova/master_files/code/modules/language/_language.dm
  modular_nova/master_files/code/modules/language/kobold.dm
  modular_nova/master_files/code/modules/language/language_holder.dm
  modular_nova/modules/customization/modules/language/ashtongue.dm
  modular_nova/modules/customization/modules/language/canilunzt.dm
  modular_nova/modules/customization/modules/language/chitinclick.dm
  modular_nova/modules/customization/modules/language/common.dm
  modular_nova/modules/customization/modules/language/gutter.dm
  modular_nova/modules/customization/modules/language/panslavic.dm
  modular_nova/modules/customization/modules/language/piratespeak.dm
  modular_nova/modules/customization/modules/language/siiktajr.dm
  modular_nova/modules/customization/modules/language/skrell.dm
  modular_nova/modules/customization/modules/language/spacer.dm
  modular_nova/modules/customization/modules/language/te_velu_akko.dm
  modular_nova/modules/customization/modules/language/vox.dm
  modular_nova/modules/customization/modules/language/xerxian.dm
  modular_nova/modules/customization/modules/language/yangyu.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_nova/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_nova/modules/primitive_catgirls/code/language.dm
  modular_nova/modules/synths/code/bodyparts/brain.dm
  modular_nova/modules/teshari/code/schechi.dm
Labels: Feature

#5334 Fixes non-primary SMs setting off the Delamination Suppression System
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#5346 LUNA Rework & JungleRuins - The CORRECT Branch
  _maps/RandomRuins/JungleRuins/caves_trilogy_research.dmm
  _maps/RandomRuins/JungleRuins/surface_blooddraw.dmm
  _maps/RandomRuins/JungleRuins/surface_luna.dmm
  _maps/RandomRuins/SpaceRuins/nova/luna.dmm
  _maps/serenitystation.json
  code/__DEFINES/~nova_defines/maps.dm
  config/jungleruinblacklist.txt
  config/nova/config_nova.txt
  modular_nova/master_files/code/controllers/configuration/entries/config_entries.dm
  modular_nova/master_files/code/controllers/subsystem/mapping.dm
  modular_nova/modules/mapping/code/abandoned_crates.dm
  modular_nova/modules/mapping/code/areas/ruins.dm
  modular_nova/modules/mapping/code/areas/space.dm
  modular_nova/modules/mapping/code/jungle.dm
  modular_nova/modules/mapping/code/misc.dm
  modular_nova/modules/mapping/code/space.dm
  modular_nova/modules/mapping/icons/mob/inhands/weapons/swords_lefthand.dmi
  modular_nova/modules/mapping/icons/mob/inhands/weapons/swords_righthand.dmi
  modular_nova/modules/mapping/icons/obj/items/items_and_weapons.dmi
  modular_nova/modules/mapping/icons/obj/items/jungle_items.dmi
  modular_nova/modules/mapping/icons/obj/weapons/sword.dmi
  modular_nova/modules/mapping/sounds/ambience/luna.ogg
  modular_nova/modules/serenitystation/code/areas.dm
  modular_nova/modules/serenitystation/code/turfs.dm
  tgstation.dme
Labels: Balance, Feature, Map Edit

#5366 Interlink AT fix
  _maps/map_files/generic/CentCom_nova_z2.dmm
Labels: Fix
